<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_currencies_to') %></div>
    <div class="card-body">
      <div id="transfers_by_currencies_to"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {

      const qraphql_query = `
        query ($network: StellarNetwork!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
          stellar(network: $network) {
            transfers(
              options:{ desc: "count" asc: "currencyTo.symbol" limit: 20 },
              date: {since: $from, till: $till}
            ) {
              currencyTo {
                symbol
              }
              count: countBigInt
            }
          }
        }
      `.trim();

      const query = new widgets.query(qraphql_query);

      new widgets.chartByTime('#transfers_by_currencies_to', query, 'stellar.transfers', {
          title: '<%= t('widgets.headers.transfers_by_currencies_to') %>',
          chartType: 'PieChart',
          chartOptions: {
            pieSliceText: 'label',
            pieHole: 0.4,
          },
          dataOptions: [
            {
              title: {label: '<%= t('widgets.titles.date') %>' },
              path: 'currencyTo.symbol'
            },
            {
              title: {label: '<%= t('widgets.titles.transfer_count') %>', type: 'number' },
              path: 'count'
            },

          ]
      });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
          network: '<%= params['network']['network'] %>'
      });
    });
</script>

