

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.currencies_balances') %></div>
      <div class="card-body">
        <div id="ethereum_address_balance"><%= t('loading') %></div>
      </div>
    </div>
  </div>

<script>
    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: EthereumNetwork!, $address: String!) {
              ethereum(network: $network) {
                address(address: {is: $address}){
                  balances {
                    value
                    currency {
                      address
                      symbol
                      tokenType
                    }
                  }
                }
              }
            }`);

        query.request({ network: '<%= @network[:network] %>',
            address: '<%= @address %>'});


        new widgets.table('#ethereum_address_balance', query, 'ethereum.address[0].balances', {
            title: '<%= t('widgets.headers.currencies_balances') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string-ellipsis',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path'
                },
                {
                    title: '<%= t('widgets.titles.balance') %>',
                    type: 'amount',
                    path: 'value'
                },
            ]
        });


    });


</script>