<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.calls_by_time') %></div>
    <div class="card-body">
      <div id="calls_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: EthereumNetwork!,
                  $dateFormat: String!,
                  $address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime){
              ethereum(network: $network) {
                smartContractCalls(date: {since: $from, till: $till}){
                      count(
                        uniq: calls,
                        caller: {is: $address}
                      )
                      date{
                        date(format: $dateFormat)
                      }
                    }

              }
            }`);

        new widgets.chart('#calls_by_time', query, 'ethereum.smartContractCalls', {
            title: '<%= t('widgets.headers.calls_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.calls_count') %>'
                    }
                },
                hAxis: <%= render partial: 'shared/date_axis.json' %>,
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.calls_count') %>',
                    path: 'count'
                }
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });
</script>