<div class="col-12 col-lg-6 mb-4">
  <div class="card">
      <div class="card-header">
        <% if @token_info %>
          <%= t('widgets.headers.currency_inbound_tokens_by_time', token_name: @token_info.name, token_symbol: @token_info.symbol) %>
        <% else %>
          <%= t('widgets.headers.inbound_tokens_by_time') %>
        <% end %>
      </div>
    <div class="card-body">
      <div id="inbound_tokens_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: EthereumNetwork!,
                  $dateFormat: String!,
                  $nativeCurrency: String!,
                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      transfers(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        receiver: {is: $address}
                        amount: {gt: 0}
                        currency: {not: $nativeCurrency }
                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt
                      }
                    }
                  }`);

        new widgets.chartByTime('#inbound_tokens_by_time', query, 'ethereum.transfers', {
            title: '<%= t('widgets.headers.inbound_tokens_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.receive_count') %>'
                    }
                },
                seriesType: 'line',
                series: {
                    '0': { color: '#28a745', type: 'line',  lineWidth: 3, pointsVisible: true, pointShape: 'diamond', pointSize: 12 }
                }
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.receive_count') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>',
            nativeCurrency: '<%= @network[:currency] %>'
        });


    });
</script>
