<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.inbound_transfers') %></div>
      <div class="card-body">
        <div id="inbound_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                                $address: String!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum(network: $network){
                      transfers(options:{desc: "block.timestamp.time", limit: $limit, offset: $offset},
                        date: {since: $from till: $till },
                        receiver: {is: $address}) {

                        block {
                          timestamp {
                            time (format: "%Y-%m-%d %H:%M:%S")
                          }
                          height
                        }
                        address: sender {
                          address
                          annotation
                        }
                        currency {
                          address
                          symbol
                        }
                        amount
                        transaction {
                          hash
                        }
                        external
                      }
                    }
                  }`);

        new widgets.table('#inbound_transfers', query, 'ethereum.transfers', {
            title: '<%= t('widgets.headers.inbound_transfers') %>',
            tableOptions: {
                title: [
                    '<%= t('widgets.titles.timestamp') %>',
                    '<%= t('widgets.titles.block') %>',
                    '<%= t('widgets.titles.sender') %>',
                    '',
                    '<%= t('widgets.titles.amount') %>',
                    '<%= t('widgets.titles.currency') %>',
                    '<%= t('widgets.titles.transaction') %>'
                ],
                dataOptions: [
                    {
                        type: 'string',
                        path: 'block.timestamp.time'
                    },
                    {
                        type: 'string',
                        path: 'block.height',
                        urlCallbackName: 'block_path'
                    },
                    {
                        type: 'string-ellipsis',
                        path: ['address.annotation','address.address'],
                        urlCallbackName: 'address_path'
                    },
                    {
                        type: 'string',
                        data: '<i class="fa fa-sign-in text-success"></i>',
                        html_class: 'text-center'
                    },
                    {
                        type: 'amount',
                        path: 'amount'
                    },
                    {
                        type: 'string-ellipsis',
                        path: 'currency.symbol',
                        urlCallbackName: 'token_path'
                    },
                    {
                        type: 'string-ellipsis',
                        path: 'transaction.hash',
                        urlCallbackName: 'transaction_path'
                    },
                ]
            }
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>