<%= render partial: 'ethereum/render_callbacks' %>

<%= render partial: "ethereum/address/calls_table" %>

<div class="row">
  <%= render partial: 'ethereum/address/calls_by_time' %>
  <%= render partial: 'ethereum/address/top_gas_calls_table' %>
</div>

<div class="row">
  <%= render partial: "ethereum/address/smart_contracts_table" %>
  <%= render partial: "ethereum/address/smart_contract_methods_table" %>
</div>

