
<%= render partial: "ethereum/address/outbound_transfers" %>

<div class="row">
  <%= render partial: "ethereum/address/outbound_eth_by_time" %>
  <%= render partial: "ethereum/address/outbound_tokens_by_time" %>
</div>

<div class="row">
  <%= render partial: "ethereum/address/outbound_eth_table" %>
  <%= render partial: "ethereum/address/outbound_tokens_table" %>
</div>