
<%= render partial: "ethereum/address/outbound/outbound_transfers" %>

<div class="row">
  <%= render partial: "ethereum/address/outbound/outbound_native_by_time" %>
  <%= render partial: "ethereum/address/outbound/outbound_tokens_by_time" %>
</div>

<div class="row">
  <%= render partial: "ethereum/address/outbound/outbound_native_table" %>
  <%= render partial: "ethereum/address/outbound/outbound_tokens_table" %>
</div>