<%= render partial: 'ethereum/render_callbacks' %>

<%= render partial: 'ethereum/address/description' %>

<div class="row">
  <%= render partial: 'ethereum/address/in_out_transfers_by_time' %>
  <%= render partial: 'ethereum/address/calls_by_time' %>
</div>


<div class="row">
  <%= render partial: 'ethereum/address/currencies_table' %>
  <%= render partial: 'ethereum/address/calls_smart_contracts_table' %>
</div>