<% content_for :header, t('headers.address', network: params['network']['name'], address: @address).html_safe %>
<script>
    var query1 = new widgets.query(`
      query($network: EthereumNetwork!, $currency: String!, $address: String!, $from: ISO8601DateTime!, $till: ISO8601DateTime!){
      ethereum(network: $network) {
        transfers(from: $from, till: $till){
            sum_in: amount(calculate: sum,
                        currency: {symbol: $currency},
                        receiver: {address: $address}
            )
            sum_out: amount(calculate: sum,
              currency: {symbol: $currency},
              sender: {address: $address}
            )
            count_in: count( uniq: transfers,
                receiver: {address: $address}
            )
            count_out: count( uniq: transfers,
                sender: {address: $address}
            )
            date{
              day: date(format: "%Y-%m-%d")
            }
          }
      }
      }
    `);

    var query2 = new widgets.query(`
    query($network: EthereumNetwork!, $address: String!, $from: ISO8601DateTime!, $till: ISO8601DateTime!){
      ethereum(network: $network) {
        smartContractCalls(from: $from, till: $till){
              count(
                uniq: calls,
                caller: {address: $address}
              )
              date {
                day: date(format: "%Y-%m-%d")
              }
            }

      }
    }
    `);
    var query3 = new widgets.query(`
    query($network: EthereumNetwork!, $address: String!, $from: ISO8601DateTime!, $till: ISO8601DateTime!, $limit: Int!, $offset: Int!){
      ethereum(network: $network) {
        transfers(from: $from, till: $till, options: {limit: $limit, offset: $offset}){
            sum_in: amount(calculate: sum,
              receiver: {address: $address}
            )
            sum_out: amount(calculate: sum,
              sender: {address: $address}
            )
            count_in: count( uniq: transfers,
              receiver: {address: $address}
            )
            count_out: count( uniq: transfers,
              sender: {address: $address}
            )
            currency {
              address
              symbol
            }
          }
      }
    }
    `);

    var query4 = new widgets.query(`
    query($network: EthereumNetwork!, $address: String!, $from: ISO8601DateTime!, $till: ISO8601DateTime!, $limit: Int!, $offset: Int!){
      ethereum(network: $network) {
        smartContractCalls(from: $from, till: $till, options: {limit: $limit, offset: $offset}) {
          count(caller: {address: $address}, uniq:calls)
          smartContract{
            address{
              address
              annotation
            }
          }
          smartContractMethod {
            name
            signatureHash
          }
        }
      }
    }
    `);
</script>
<%= render partial: 'shared/reportrange' %>
<div class="row">
  <div class="col col-lg-6 mb-4">
    <div class="card">
      <div class="card-header">Transactions by Time</div>
      <div class="card-body">
        <div id="transfers_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col col-lg-6 mb-4">
    <div class="card <%= @theme == 'dark' ? ' bg-dark text-light' : '' %>">
      <div class="card-header">Calls by Time</div>
      <div class="card-body">
        <div id="calls_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card <%= @theme == 'dark' ? ' bg-dark text-light' : '' %>">
      <div class="card-header">Currencies sent/received</div>
      <div class="card-body">
        <div id="transfers_by_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card <%= @theme == 'dark' ? ' bg-dark text-light' : '' %>">
      <div class="card-header">Calls smart contracts</div>
      <div class="card-body">
        <div id="calls_smart_contracts"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    widgets.callbacks({
        token_address: function(name, address, locale){
            return '/<%= params['network']['path'] %>'+(address == '-' ? '/token/'+name : '/address/'+address);
        },
        transfer_to_address: function(currency_id, address, locale){
            return '/<%= params['network']['path'] %>'+'/txs/transfers_to/'+address+'?currency_id='+currency_id;
        },
        transfer_from_address: function(currency_id, address, locale){
            return '/<%= params['network']['path'] %>'+'/txs/transfers_from/'+address+'?currency_id='+currency_id;
        },
        smart_contract_method: function(name, address, locale){
            return '/<%= params['network']['path'] %>'+'/functions/'+address;
        },
        smart_contract: function(name, address, locale){
            return '/<%= params['network']['path'] %>'+'/smartcontract/'+address;
        },
        call_count: function(address, locale){
            return '/<%= params['network']['path'] %>'+'/address/'+address;
        }
    });

    var tbt = new widgets.transfers_by_time('#transfers_timegraph', query1, 'ethereum.transfers');
    var cbt = new widgets.calls_by_time('#calls_timegraph', query2, 'ethereum.smartContractCalls');
    var tbc = new widgets.transfers_by_currencies('#transfers_by_currencies', query3, 'ethereum.transfers');
    var csc = new widgets.calls_smart_contracts('#calls_smart_contracts', query4, 'ethereum.smartContractCalls');
    query1.request({network: '<%= params['network']['network'] %>', currency: '<%= params['network']['currency'] %>', address: '<%= @address %>', from: '<%= @from %>', till: '<%= @till %>'});
    query2.request({network: '<%= params['network']['network'] %>', address: '<%= @address %>', from: '<%= @from %>', till: '<%= @till %>'});
    query3.request({network: '<%= params['network']['network'] %>', address: '<%= @address %>', from: '<%= @from %>', till: '<%= @till %>', limit: 10});
    query4.request({network: '<%= params['network']['network'] %>', address: '<%= @address %>', from: '<%= @from %>', till: '<%= @till %>', limit: 10});

    rr.change(function(start, end, clear){
        console.log(clear);
        console.log(start);
        console.log(end);
        if (clear== 'clear'){
            start = "2015-01-01";
            end = "<%= Date.today.strftime("%F") %>"
        }
        query1.request({from: start, till: end});
        query2.request({from: start, till: end});
        query3.request({from: start, till: end, limit: 10});
        query4.request({from: start, till: end, limit: 10});
    })
</script>