<div class='row'>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='TotalAddressStatistics'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='AddressBalanceByCurrencies'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='TransactionsByDate'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='GasSpentByDate'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='InboundTransferCountByDate'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='OutboundTransferCountByDate'>
      <div class="placeholder-container">
        <div class="placeholder-row"></div>
      </div>
    </div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='SMCalls'></div>
  </div>
</div>
<script type="module">
    class TotalAddressStatistics extends BootstrapVerticalTableComponent {
        configuration() {
            return {
                topElement: response => [
                    ...response.EVM.fee,
                    ...response.EVM.receiver,
                    ...response.EVM.sender,
                    ...response.EVM.currencies_reciiver,
                    ...response.EVM.currencies_sender],
                chainId: response => response.EVM.receiver[0]?.ChainId,
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Fee TX count', cell: row => row.tx_count,
                    },
                    {
                        name: 'TX fee', cell: row =>{
                            if(!row.tx_fee) return undefined;
                            return {amount: row.tx_fee, usd: row.tx_fee_usd}
                    },
                        rendering: renderNumberWithUSD, cellStyle: {display: 'flex', justifyContent: 'start'},
                    },
                    {
                        name: 'Receive  currencies', cell: row => row.r_currencies,
                    },
                    {
                        name: 'Send  currencies', cell: row => row.s_currencies,
                    },
                    {
                        name: 'Receive amount',
                        cell: row => {
                            if (!row.r_amount) return undefined;
                            return {amount: row.r_amount, usd: row.r_amount_usd}
                        },
                        rendering: renderNumberWithUSD, cellStyle: {display: 'flex', justifyContent: 'start'},
                    },
                    {
                        name: 'Send amount',
                        cell: row => {
                            if (!row.s_amount) return undefined
                            return {amount: row.s_amount, usd: row.s_amount_usd}
                        },
                        rendering: renderNumberWithUSD, cellStyle: {display: 'flex', justifyContent: 'start'},
                    },
                    {
                        name: 'First Receiver Tx at', cell: row => row.Block?.r_from,
                        rendering: renderDate,
                    },
                    {
                        name: 'Last Receiver Tx at', cell: row => row.Block?.r_to,
                        rendering: renderDate,
                    },
                    {
                        name: 'First Sender Tx at', cell: row => row.Block?.s_from,
                        rendering: renderDate,
                    },
                    {
                        name: 'Last Sender Tx at', cell: row => row.Block?.s_to,
                        rendering: renderDate,
                    },
                    {
                        name: 'Days with receive', cell: row => row.r_days,
                    },
                    {
                        name: 'Days with sender', cell: row => row.s_days,
                    },
                ]
            }
        }
    }

    class AddressBalanceByCurrencies extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.BalanceUpdates,
                chainId: response => response.EVM.BalanceUpdates[0]?.ChainId,
                id: 'AddressBalanceByCurrencies',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Currency',
                        cell: row => ({currency: row.Currency.Symbol, smartContract: row.Currency.SmartContract}),
                        rendering: renderTokenLink,
                    },
                    {
                        name: 'Balance Count', cell: row =>  ({amount: row.sum, usd: row.sum_usd}),
                        rendering: renderNumberWithUSD, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class TransactionsByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transactions,
                chainId: response => response.EVM.Transactions[0]?.ChainId,
                title: () => 'Transactions By Date',
                id: 'TransactionsByDate',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Transactions count', cell: row => +row.count,
                    }
                ],
                options: {
                    title: 'Transactions count by date',
                    height: 300,
                    theme: 'material',
                    colors: ['28A745'],
                }
            }
        }
    }

    class GasSpentByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transactions,
                chainId: response => response.EVM.Transactions[0]?.ChainId,
                title: () => 'Gas Spent By Date',
                id: 'GasSpentByDate',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Gas cost', cell: row => +row.sum,
                    }
                ],
                options: {
                    title: 'Gas Spent By Date',
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                }
            }
        }
    }

    class InboundTransferCountByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: () => 'Inbound Transfer Count by Date',
                id: 'InboundTransferCountByDate',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Send count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                }
            }
        }
    }

    class OutboundTransferCountByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: () => 'Outbound Transfer Count by Date',
                id: 'OutboundTransferCountByDate',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Receive count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                }
            }
        }
    }

    class SMCalls extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Calls,
                chainId: response => response.EVM.Calls[0]?.ChainId,
                id: 'SMCalls',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Receive count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                }
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    }

    renderComponent('<%=@streaming_access_token %>', [[TotalAddressStatistics, '#TotalAddressStatistics']], 'Total-Address-Statistics_5', variables);
    renderComponent('<%=@streaming_access_token %>', [[AddressBalanceByCurrencies, '#AddressBalanceByCurrencies']], 'Address-balance-by-currencies_5', variables);
    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';

    renderWithTime(variables, fromDate, tillDate, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[GasSpentByDate, '#GasSpentByDate'], [TransactionsByDate, '#TransactionsByDate']], 'Gas-Spent-By-Date0_2', variables);
        renderComponent('<%=@streaming_access_token %>', [[InboundTransferCountByDate, '#InboundTransferCountByDate']], 'Inbound-transfer-count-by-date_3', variables);
        renderComponent('<%=@streaming_access_token %>', [[OutboundTransferCountByDate, '#OutboundTransferCountByDate']], 'Outbound-transfer-count-by-date_3', variables);
        renderComponent('<%=@streaming_access_token %>', [[SMCalls, '#SMCalls']], 'Smart-contract-calls--including-internal--by-date_3', variables);
    })


</script>
