<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_transactions') %></div>
      <div class="card-body">
        <div id="latest_transactions"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script type="module">
  $( document ).ready(function() {
    let graphql_fields = "<%= @graphql_fields %>"

    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $hash: String!) {
        everscale(network: $network) {
          transactions(
            options: {desc: "timestamp.time", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            ${graphql_fields}
          ) {
            timestamp {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            hash
            account
            account
            aborted
          }
        }
      }
    `.trim();

    console.log(qraphql_query)

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_transactions', query, 'everscale.transactions', {
      title: '<%= t('widgets.headers.latest_transactions') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'timestamp.time'
        },
        {
          title: '<%= t('widgets.titles.transaction_hash') %>',
          type: 'string',
          path: 'hash',
          urlCallbackName: 'transaction_path'
        },
        {
          title: '<%= t('widgets.titles.account') %>',
          type: 'string',
          path: 'account',
          urlCallbackName: 'account_path'
        },
        {
          title: '<%= t('widgets.titles.account') %>',
          type: 'bool',
          path: 'aborted'
        },
      ]
    });

    query.request({
      hash: "<%= @hash %>",
      network: '<%= params['network']['network'] %>'
    });
  });
</script>


