<div class="col-lg-4 mb-4">
  <div class="card border-warning">
    <div class="card-header"><%= t('widgets.titles.transactions_count') %></div>
    <div class="card-body">
      <div id="transactions_count"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">
$( document ).ready(function() {

  const query = new widgets.query(`
    query (
      $network: StellarNetwork!,
      $from: ISO8601DateTime,
      $till: ISO8601DateTime
    ){
      stellar(network: $network) {
        transactions(date: { since: $from till: $till }) {
          count: countBigInt
        }
      }
    }`
  );

  new widgets.text('#transactions_count', query, 'stellar.transactions', {
      html_class: 'fontsize35rem text-center text-warning',
      dataOptions: {
          type: 'string',
          path: 'count'
      }

  });

  queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
    network: '<%= params['network']['network'] %>'
  });
});

</script>
