<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.token_trading_statistics') %></div>
    <div class="card-body">
      <div id="token_trading_statistics"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {


    var query = new widgets.query(`query (
                              $token: String!,
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                          binance {
                            trades(

                            any: [{baseCurrency: {is: $token}},{quoteCurrency: {is: $token}}]
                            date: {since: $from till: $till}
                            ){

                              trades: count
                              trades_as_base: count(baseCurrency: {is: $token})
                              trades_as_quote: count(quoteCurrency: {is: $token})

                              days: count(uniq: dates)

                              buyers_as_base: count(uniq: sellers, baseCurrency: {is: $token})
                              buyers_as_quote: count(uniq: buyers, quoteCurrency: {is: $token})

                              sellers_as_base: count(uniq: buyers, baseCurrency: {is: $token})
                              sellers_as_quote: count(uniq: sellers, quoteCurrency: {is: $token})


                              min_date:minimum(of: date)
                              max_date:maximum(of: date)
                            }
                          }
                        }`);



    new widgets.table('#token_trading_statistics', query, 'binance.trades', {
        title: '<%= t('widgets.headers.token_trading_statistics') %>',
        renderData: function (data) {
            item = data[0];
            return !item ? [] : [
                {name: '<%= t('widgets.titles.trades') %>', value: item.trades},

                {name: '<%= t('widgets.titles.trades_as_quote_count') %>', value:item.trades_as_quote},
                {name: '<%= t('widgets.titles.traders_buy_quote_count') %>', value:item.buyers_as_quote},
                {name: '<%= t('widgets.titles.traders_sell_quote_count') %>', value:item.sellers_as_quote},


                {name: '<%= t('widgets.titles.trades_as_base_count') %>', value: item.trades_as_base},
                {name: '<%= t('widgets.titles.traders_buy_base_count') %>', value: item.buyers_as_base},
                {name: '<%= t('widgets.titles.traders_sell_base_count') %>', value: item.sellers_as_base},

                {name: '<%= t('widgets.titles.first_trade_date') %>', value: item.min_date},
                {name: '<%= t('widgets.titles.last_trade_date') %>', value: item.max_date},

                {name: '<%= t('widgets.titles.trades_days') %>', value: item.days},

            ];
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.metric') %>',
                type: 'string-ellipsis',
                path: 'name',
                html_class: 'text-info font-weight-bold'
            },
            {
                title: '<%= t('widgets.titles.property_value') %>',
                type: 'string-ellipsis',
                path: 'value',
                urlCallbackName: 'property_value_path'
            },
        ]
    });

    query.request({
        network: '<%= @network[:network] %>',
        token: '<%= @token %>'
    });

});
</script>