<%= render partial: 'binance/token/trades_table' %>

<div class="row">
  <%= render partial: 'binance/token/trades_by_time' %>
  <%= render partial: 'binance/token/trades_currencies' %>
</div>


<div class="row">
  <%= render partial: 'binance/token/trade_quote_buyers' %>
  <%= render partial: 'binance/token/trade_quote_sellers' %>
</div>