<%= render partial: 'binance/token/trades/trades_table' %>

<div class="row">
  <%= render partial: 'binance/token/trades/trades_by_time' %>
  <%= render partial: 'binance/token/trades/trades_currencies' %>
</div>


<div class="row">
  <%= render partial: 'binance/token/trades/trade_base_buyers' %>
  <%= render partial: 'binance/token/trades/trade_base_sellers' %>
</div>