<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='LatestTransactions' class='card'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopSmartContractCaller'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopGasBurnerForSmartContract'></div>
  </div>
</div>
<script>
    class LatestTransactions extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink,
                    },
                    {
                        name: 'Method', cell: function (row) {
                            return {method: row.Call.Signature.Name, hash: row.Call.Signature.SignatureHash, value:row.Call.Value}
                        }, rendering: renderMethodLink,
                    },
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Gas Cost', cell: function (row) {
                            return row.sum
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX,
                    },
                ]
            }
        }
    }

    class TopSmartContractCaller extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderJustAddressLink, headerStyle: {width: '44%'},
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Gas Cost', cell: function (row) {
                            return row.average
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Calls Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class TopGasBurnerForSmartContract extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Calls
                },
                chainId: function (response) {
                    return response.EVM.Calls[0].ChainId
                },
                columns: [
                    {
                        name: 'Caller', cell: function (row) {
                            return row.Call.From
                        }, rendering: renderJustAddressLink, headerStyle: {width: '44%'},
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Gas Burnt', cell: function (row) {
                            return row.average
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Calls Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    }

    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>',[[LatestTransactions, '#LatestTransactions']], 'Latest--Transactions_2', variables);
        renderComponent('<%=@streaming_access_token %>',[[TopSmartContractCaller, '#TopSmartContractCaller']], 'Top-Smart-Contract-Caller', variables);
        renderComponent('<%=@streaming_access_token %>',[[TopGasBurnerForSmartContract, '#TopGasBurnerForSmartContract']], 'Top-Gas-burner-for-Smart-Contract_1', variables);
    })
</script>
