<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_token_trades') %></div>
      <div class="card-body">
        <div id="latest_token_trades"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                                $limit: Int!,
                                $offset: Int!,
                                $protocol: String!,
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum(network: $network){
                      dexTrades(options:{desc: ["block.height","tradeIndex"], limit: $limit, offset: $offset},
                        date: {since: $from till: $till },
                        protocol: {is: $protocol}
                        ) {

                          block {
                            timestamp {
                              time (format: "%Y-%m-%d %H:%M:%S")
                            }
                            height
                          }

                          tradeIndex
                          protocol
                          exchange {
                            fullName
                          }

                          smartContract {
                            address {
                              address
                              annotation
                            }
                          }

                          buyAmount
                          buy_amount_usd: buyAmount(in: USD)
                          buyCurrency {
                            address
                            symbol
                          }

                          sellAmount
                          sell_amount_usd: sellAmount(in: USD)
                          sellCurrency {
                            address
                            symbol
                          }

                          transaction {
                            hash
                          }

                      }
                    }
                  }`);

        new widgets.table('#latest_token_trades', query, 'ethereum.dexTrades', {
            title: '<%= t('widgets.headers.latest_token_trades') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.timestamp') %>',
                    type: 'string',
                    path: 'block.timestamp.time',
                    style: 'width: 170px;'
                },
                {
                    title: '<%= t('widgets.titles.block') %>',
                    type: 'string',
                    path: 'block.height',
                    urlCallbackName: 'block_path',
                    style: 'width: 80px;'
                },

                {
                    title: '<%= t('widgets.titles.sell_amount') %>',
                    type: 'sellAmount',
                    path: 'sellAmount'
                },
                {
                    title: '<%= t('widgets.titles.sell_currency') %>',
                    type: 'string',
                    path: 'sellCurrency.symbol',
                    urlCallbackName: 'sell_token_path',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: 'item.sellCurrency.symbol', amount: 'item.sell_amount_usd'} %>
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },

                {
                    title: '<%= t('widgets.titles.buy_amount') %>',
                    type: 'buyAmount',
                    path: 'buyAmount'
                },
                {
                    title: '<%= t('widgets.titles.buy_currency') %>',
                    type: 'string',
                    path: 'buyCurrency.symbol',
                    urlCallbackName: 'buy_token_path',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: 'item.buyCurrency.symbol', amount: 'item.buy_amount_usd'} %>
                },
                {
                    title: '<%= t('widgets.titles.protocol') %>',
                    path: 'protocol'
                },
                {
                    title: '<%= t('widgets.titles.exchange') %>',
                    path: 'exchange.fullName'
                },
                {
                    title: '<%= t('widgets.titles.smart_contract') %>',
                    type: 'string-ellipsis',
                    path: ['smartContract.address.annotation', 'smartContract.address.address'],
                    urlCallbackName: 'smart_contract_path'
                },
                {
                    title: '<%= t('widgets.titles.hash') %>',
                    type: 'string-ellipsis',
                    path: 'transaction.hash',
                    urlCallbackName: 'transaction_path'
                },


            ]
        });

        queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
            network: '<%= params['network']['network'] %>',
            protocol: '<%= @protocol %>'
        });

    });

</script>