<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.block_info') %></div>
    <div class="card-body">
      <div id="block_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`query ($network: ConfluxNetwork!,
                              $hash: String!){
                          conflux(network: $network) {

                              blocks(blockHash: {is: $hash}){
                                timestamp {
                                  time (format: "%Y-%m-%d %H:%M:%S")
                                }
                                hash
                                miner {
                                  address
                                  annotation
                                }
                                totalDifficulty
                                transactionCount
                                uncleCount
                                size
                                parentHash
                                height
                                epoch
                                pivot


                              }
                            }
                        }`);



        new widgets.table('#block_info', query, 'conflux.blocks', {
            title: '<%= t('widgets.headers.block_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.timestamp.time},
                    {name: '<%= t('widgets.titles.miner') %>', value: (item.miner.annotation || item.miner.address), address: item.miner},
                    {name: '<%= t('widgets.titles.transactions_count') %>', value: item.transactionCount},
                    {name: '<%= t('widgets.titles.uncle_count') %>', value: item.uncleCount},
                    {name: '<%= t('widgets.titles.size') %>', value: item.size},
                    {name: '<%= t('widgets.titles.hash') %>', value: item.hash},
                    {name: '<%= t('widgets.titles.parent_hash') %>', value: item.parentHash},
                    {name: '<%= t('widgets.titles.block') %>', value: item.height},
                    {name: '<%= t('widgets.titles.epoch') %>', value: item.epoch},
                    {name: '<%= t('widgets.titles.pivot') %>', value: item.pivot},
                    {name: '<%= t('widgets.titles.powerQuality') %>', value: item.powerQuality},
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 110px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({
            network: '<%= @network[:network] %>',
            hash: '<%= @hash %>'
        });

    });
</script>