<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.miners_by_time') %></div>
      <div class="card-body">
        <div id="miners_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: ConfluxNetwork!,
                  $dateFormat: String!,

                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    conflux(network: $network ){
                      blocks(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        height:{gt: 0}
                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count(uniq: miners)
                      }
                    }
                  }`);

        new widgets.chartByTime('#miners_by_time', query, 'conflux.blocks', {
            title: '<%= t('widgets.headers.miners_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.unique_miners') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.unique_miners') %>',
                    path: 'count'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>