<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
      <div class="card-body">
        <div id="tx_attributes"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const qraphql_query = `
      query ($network: HederaNetwork!, $hash: String!) {
        hedera(network: $network) {
          messages(transactionHash:{is: $hash}) {
            maxFee
            transactionFee
            feeCurrency {
              name
            }
            payerAccount {
              id
            }
            nodeAccount {
              id
            }
            consensusTimestamp {
              nanoseconds
            }
            result {
              name
            }
            success
            topicRunningHash
            topicSequenceNumber
            message
            memo
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#tx_attributes', query, 'hedera.messages', {
      title: '<%= t('widgets.headers.tx_info') %>',
      renderData: function (data) {
        item = data[0];
        return !item ? [] : [
          { name: '<%= t('widgets.titles.account') %>', value: item.payerAccount.id },
          { name: '<%= t('widgets.titles.node') %>', value: item.nodeAccount.id },
          { name: '<%= t('widgets.titles.consensus_timestamp') %>', value: item.consensusTimestamp.nanoseconds },
          { name: '<%= t('widgets.titles.success') %>', value: item.success },
          { name: '<%= t('widgets.titles.result') %>', value: item.result.name },
          { name: '<%= t('widgets.titles.memo') %>', value: item.memo },
          { name: '<%= t('widgets.titles.transaction_id') %>', value: `${item.payerAccount.id}-${item.consensusTimestamp.nanoseconds}` },
          { name: '<%= t('widgets.titles.total_amount') %>', value: item.maxFee + ' <%= @network[:currency] %>' },
          { name: '<%= t('widgets.titles.transaction_fee') %>', value: item.transactionFee + ' <%= @network[:currency] %>'},
          { name: '<%= t('widgets.titles.running_hash') %>', value: item.topicRunningHash },
          { name: '<%= t('widgets.titles.sequence_number') %>', value: item.topicSequenceNumber },
          { name: '<%= t('widgets.titles.message') %>', value: item.message },
        ];
      },
      dataOptions: [
        {
          title: '<%= t('widgets.titles.attribute') %>',
          type: 'string',
          path: 'name',
          style: 'width: 150px',
          html_class: 'text-info font-weight-bold'
        },
        {
          title: '<%= t('widgets.titles.property_value') %>',
          type: 'string-ellipsis',
          path: 'value',
          urlCallbackName: 'property_value_path'
        },
      ]
    });

    query.request({
      hash: '<%= @hash %>',
      network: '<%= @network[:network] %>'
    });

  });
</script>
