<div class="row">
  <div class="col-8 col-lg-8 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.top_nodes_by_transactions_count') %></div>
      <div class="card-body">
        <div id="top_nodes_by_transactions_count_table"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-4 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.top_nodes_by_transactions_count') %></div>
      <div class="card-body">
        <div id="top_nodes_by_transactions_count"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>

<script type="module">

  $(document).ready(function() {

    const graphql_query = `
      query ($network: HederaNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $payer_account: String!) {
        hedera(network: $network) {
          transactions(options: {desc: "count", limit: $limit, offset: $offset}, date: {since: $from, till: $till}, payerAccount: {is: $payer_account}) {
            nodeAccount {
              id
            }
            count
          }
        }
      }
    `.trim();

    const query = new widgets.query(graphql_query);

    new widgets.table('#top_nodes_by_transactions_count_table', query, 'hedera.transactions', {
      title: '<%= t('widgets.headers.top_nodes_by_transactions_count') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.node') %>',
          path: 'nodeAccount.id',
          urlCallbackName: 'node_path',
          style: 'width: 70px;'
        },
        {
          title: '<%= t('widgets.titles.count') %>',
          path: 'count',
          style: 'width: 70px;'
        },
      ]
    });

    new widgets.chart('#top_nodes_by_transactions_count', query, 'hedera.transactions', {
      title: '<%= t('widgets.headers.top_nodes_by_transactions_count') %>',
      chartType: 'PieChart',
      chartOptions: {
        pieSliceText: 'label',
        pieHole: 0.4,
        legend: { position: 'right' },
        chartArea: { left: '0', right: '15%', top: 0, bottom: 0 }
      },
      dataOptions: [
        {
          title: '<%= t('widgets.titles.node') %>',
          path: 'nodeAccount.id'
        },
        {
          title: '<%= t('widgets.titles.count') %>',
          path: 'count'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= @from.html_safe %>, <%= @till.html_safe %>, {
      payer_account: "<%= @payer_account %>",
      network: '<%= params['network']['network'] %>'
    });

  });
</script>
