<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transactions') %></div>
      <div class="card-body">
        <div id="latest_transactions"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query (
                                $limit: Int!,
                                $offset: Int!
                                $date: ISO8601DateTime,
                                $height: Int){
                    libra{
                      transactions(options:{limit: $limit, offset: $offset},
                        date: {is: $date } height: {is: $height}
                        ) {

                          address: sender {
                            address
                            annotation
                          }
                          version
                          gasValue
                          gasCurrency{
                            symbol
                          }

                      }
                    }
                  }`);

        new widgets.table('#latest_transactions', query, 'libra.transactions', {
            title: '<%= t('widgets.headers.latest_transactions') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.tx_sender') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.version') %>',
                    type: 'string',
                    path: 'version',
                    urlCallbackName: 'transaction_path'
                },

                {
                    title: '<%= t('widgets.titles.gas_value') %>, <%= @network[:currency] %>',
                    type: 'amount',
                    path: 'gasValue',
                    style: 'width: 110px;'
                },
            ]
        });


        query.request({
            height: <%= @height %>, date: '<%= @block_date %>', network: '<%= @network[:network] %>'
        });


    });

</script>