<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transfers') %></div>
      <div class="card-body">
        <div id="latest_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query (
                                $limit: Int!,
                                $offset: Int!
                                $date: ISO8601DateTime,
                                $height: Int){
                    libra{
                      transfers(options:{ desc: "amount",limit: $limit, offset: $offset},
                        date: {is: $date } height: {is: $height}
                        amount: {gt: 0}
                        ) {


                          sender {
                            address
                            annotation
                          }
                          receiver {
                            address
                            annotation
                          }

                          currency {
                            address
                            symbol
                          }

                          amount

                          version

                      }
                    }
                  }`);

        new widgets.table('#latest_transfers', query, 'libra.transfers', {
            title: '<%= t('widgets.headers.latest_transfers') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string-ellipsis',
                    path: ['sender.annotation','sender.address'],
                    urlCallbackName: 'sender_address_path'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },
                {
                    title: '<%= t('widgets.titles.receiver') %>',
                    type: 'string-ellipsis',
                    path: ['receiver.annotation','receiver.address'],
                    urlCallbackName: 'receiver_address_path'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path'
                },
                {
                    title: '<%= t('widgets.titles.version') %>',
                    type: 'string',
                    path: 'version',
                    urlCallbackName: 'transaction_path'
                },


            ]
        });

        query.request({
            height: <%= @height %>, date: '<%= @block_date %>', network: '<%= @network[:network] %>'
        });

    });

</script>