<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transfers_by_currencies') %></div>
      <div class="card-body">
        <div id="transfers_by_currencies"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script>
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: RippleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        ripple(network: $network) {
          transfers(
            options: {desc: "count", asc: "currencyTo.symbol", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
          ) {
            currencyTo {
              symbol
              name
            }
            count
            senders: count(uniq: senders)
            receivers: count(uniq: receivers)
            days: count(uniq: dates)
            from_date: minimum(of: date)
            till_date: maximum(of: date)
            amountTo
            amount_usd: amountTo(in: USD)
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#transfers_by_currencies', query, 'ripple.transfers', {
      title: '<%= t('widgets.headers.transfers_by_currencies') %>',
      dataOptions: [
        {
            title: '<%= t('widgets.titles.currency') %>',
            type: 'string',
            path: 'currencyTo.symbol',
            urlCallbackName: 'token_to_path'
        },
        {
            title: '<%= t('widgets.titles.first_transfer_date') %>',
            path: 'from_date'
        },
        {
            title: '<%= t('widgets.titles.last_transfer_date') %>',
            path: 'till_date'
        },

        {
            title: '<%= t('widgets.titles.transfer_days') %>',
            path: 'days'
        },

        {
            title: '<%= t('widgets.titles.uniq_senders') %>',
            path: 'senders'
        },
        {
            title: '<%= t('widgets.titles.uniq_receivers') %>',
            path: 'receivers'
        },
        {
            title: '<%= t('widgets.titles.transfer_amount') %>',
            type: 'amount',
            path: 'amountTo'
        },
        {
          style: 'width: 80px;',
          renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: '""', amount: 'item.amount_usd'} %>
        },
        {
            title: '<%= t('widgets.titles.transfer_count') %>',
            type: 'amount',
            path: 'count'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
      network: '<%= params['network']['network'] %>'
    });
  });
</script>
