<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.miners_by_time') %></div>
      <div class="card-body">
        <div id="miners_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.difficulty_by_time') %></div>
      <div class="card-body">
        <div id="difficulty_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.block_reward_by_time') %></div>
      <div class="card-body">
        <div id="block_reward_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.block_reward_by_time_usd') %></div>
      <div class="card-body">
        <div id="block_reward_by_time_usd"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>

<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: EthereumNetwork!,
                  $dateFormat: String!,

                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      blocks(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        height:{gt: 0}
                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt(uniq: miners)
                        reward
                        usd: reward(in: USD)
                        difficulty(calculate: median)
                      }
                    }
                  }`);

        new widgets.chartByTime('#miners_by_time', query, 'ethereum.blocks', {
            title: '<%= t('widgets.headers.miners_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.unique_miners') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.unique_miners') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        new widgets.chartByTime('#difficulty_by_time', query, 'ethereum.blocks', {
            title: '<%= t('widgets.headers.difficulty_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.median_difficulty') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.median_difficulty') %>',
                    path: 'difficulty'
                },

            ]
        });

        new widgets.chartByTime('#block_reward_by_time', query, 'ethereum.blocks', {
            title: '<%= t('widgets.headers.block_reward_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= @network[:currency] %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    path: 'reward'
                },

            ]
        });

        new widgets.chartByTime('#block_reward_by_time_usd', query, 'ethereum.blocks', {
            title: '<%= t('widgets.headers.block_reward_by_time_usd') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.usd') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.usd') %>',
                    path: 'usd'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
