<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transactions') %></div>
      <div class="card-body">
        <div id="transactions"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                                $address: String!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum(network: $network){
                      transactions(options:{desc: "block.timestamp.time", limit: $limit, offset: $offset},
                        date: {since: $from till: $till },
                        txSender: {is: $address}) {

                        block {
                          timestamp {
                            time (format: "%Y-%m-%d %H:%M:%S")
                          }
                          height
                        }


                        success

                        address: to {
                          address
                          annotation
                        }

                        gasValue
                        gas_value_usd: gasValue(in: USD)
                        gasCurrency {
                          symbol
                        }

                        hash
                      }
                    }
                  }`);

        new widgets.table('#transactions', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.transactions') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.timestamp') %>',
                    type: 'string',
                    path: 'block.timestamp.time',
                    style: 'width: 180px'
                },
                {
                    title: '<%= t('widgets.titles.block') %>',
                    type: 'string',
                    path: 'block.height',
                    urlCallbackName: 'block_path',
                    style: 'width: 90px'
                },
                {
                    title: '<%= t('widgets.titles.tx_to') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path',
                },
                {
                    title: '<%= t('widgets.titles.hash') %>',
                    type: 'string-ellipsis',
                    urlCallbackName: 'transaction_path',
                    path: 'hash'
                },
                {
                    title: '<%= t('widgets.titles.gas_value') %>',
                    type: 'amount',
                    path: 'gasValue',
                    style: 'width: 90px'
                },
                {
                    title: '',
                    type: 'string',
                    path: 'gas_value_usd',
                    style: 'width: 90px',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: '""', amount: 'item.gas_value_usd'} %>
                },
                {
                    title: '<%= t('widgets.titles.success') %>',
                    type: 'string',
                    path: 'success',
                    style: 'width: 60px'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>