<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
    <div class="card-body">
      <div id="tx_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script>

    $( document ).ready(function() {


        var query = new widgets.query(`query (
                              $version: Int!){
                          libra{
                            transactions(version: {is: $version}
                          ){

                                block {
                                        height
                                        timestamp {
                                          time (format: "%Y-%m-%d %H:%M:%S")
                                        }
                                      }

                                      publicKey
                                      scriptHash
                                      scriptType
                                      signature
                                      sequenceNumber
                                      statusName

                                      success

                                      sender {
                                        address
                                        annotation
                                      }

                                      gas
                                      gasPrice
                                      gasCurrency {
                                        symbol
                                      }

                                      gasValue
                           }
                          }
                        }`);



        new widgets.table('#tx_info', query, 'libra.transactions', {
            title: '<%= t('widgets.headers.tx_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.block') %>', value: item.block.height, block: item.block},
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.block.timestamp.time},
                    {name: '<%= t('widgets.titles.tx_sender') %>', value: (item.sender.annotation || item.sender.address), address: item.sender},
                    {name: '<%= t('widgets.titles.gas_value') %>', value: item.gasValue + ' '+ item.gasCurrency.symbol },
                    {name: '<%= t('widgets.titles.gas_price') %>', value: item.gasPrice/1.0e9 + ' GWei' },
                    {name: '<%= t('widgets.titles.gas_used') %>', value: item.gas },
                    {name: '<%= t('widgets.titles.success') %>', value: item.success},
                    {name: '<%= t('widgets.titles.status') %>', value: item.statusName },
                    {name: '<%= t('widgets.titles.public_key') %>', value: item.publicKey },
                    {name: '<%= t('widgets.titles.script_hash') %>', value: item.scriptHash },
                    {name: '<%= t('widgets.titles.script_type') %>', value: item.scriptType },
                    {name: '<%= t('widgets.titles.signature') %>', value: item.signature },
                    {name: '<%= t('widgets.titles.sequence_number') %>', value: item.sequenceNumber },
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 110px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({
            network: '<%= @network[:network] %>',
            version: <%= @hash %>
        });

    });
</script>