<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= @name %> Cases on Map</div>
      <div class="card-body">
        <div id="countrymap" style="min-height: 800px;"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>



<script>
    widgets.callbacks({
        mapToolTip: function(item){
            html = '<div  style="min-width: 200px">' +
                'Location: <b>' +item.country.name + ' ' + item.location.province+'</b><br>' +
                (item.location.adminCenter=='' ? '' : 'City: <b>' + item.location.adminCenter+'</b><br>') +
                'Confirmed: <b class="text-warning">' + item.confirmed +'</b><br>' +
                'Recovered: <b class="text-success">' + item.recovered +'</b><br>' +
                'Deaths: <b class="text-danger">' + item.deaths +'</b>';
            return html;
        }
    });
var countrymap_query = new widgets.query(`
    query($country: CountryCode, $from: ISO8601DateTime, $till: ISO8601DateTime) {
      offchain {
       covid {
          facts(country: {is: $country}, date: {since: $from, till: $till}){

              country{
                name
              }
              location {
                province
                adminCenter
                latitude
                longitude
              }

              confirmed
              deaths
              recovered
       }

       }
      }
    }`);


new widgets.chart('#countrymap', countrymap_query, 'offchain.covid.facts', {
    title: 'Country map',
    renderData: function(data){
        let new_data = [];
        widgets.__.each(data, function(item){
            new_data.push(widgets.__.merge(item, {
                tooltip: '<div  style="min-width: 200px">' +
                    'Location: <b>' +item.country.name + ' ' + item.location.province+'</b><br>' +
                    (item.location.adminCenter=='' ? '' : 'City: <b>' + item.location.adminCenter+'</b><br>') +
                    'Confirmed: <b class="text-warning">' + item.confirmed +'</b><br>' +
                    'Recovered: <b class="text-success">' + item.recovered +'</b><br>' +
                    'Deaths: <b class="text-danger">' + item.deaths +'</b>'
            }));
        });
        return new_data;
    },
    chartType: 'GeoChart',
    chartOptions: {
        tooltip: {isHtml: true},
        colorAxis: {minValue: 0,  colors: ['#FFFF00', '#FF0000']},
        displayMode: 'markers',
        sizeAxis: {minValue: 0,  maxSize: 20},
        markerOpacity: 0.8,
        region: '<%= @code %>'
    },
    dataOptions: [
        {
            title: 'latitude',
            path: 'location.latitude'
        },
        {
            title: 'longitude',
            path: 'location.longitude'
        },
        {
            title: 'Confirmed cases',
            path: 'confirmed'
        },
        {
            title: {role: 'tooltip', p:{html:true}},
            path: 'tooltip'
        },
    ]
});

countrymap_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>, country: '<%= @code %>'});

rr.change(function(start, end, clear){
    countrymap_query.request({from: start, till: end, country: '<%= @code %>'});
})

</script>
