<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card">
      <div class="card-header">Total cases, daily</div>
      <div class="card-body">
        <div id="total"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    var totalConf = 0;
    var totalRec = 0;
    var totalDet = 0;
    widgets.callbacks({
        totalConfirmed: function(item){
            totalConf += item.confirmed;
            return totalConf;
        },
        totalRecovered: function(item){
            totalRec += item.recovered;
            return totalRec;
        },
        totalDeath: function(item){
            totalDet += item.deaths;
            return totalDet;
        },
    });

    new widgets.chart('#total', daily_query, 'covid.facts', {
        title: 'Daily stats',
        chartOptions: {
            vAxes: {
                '0': {
                    title: 'Total Cases'
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.date') %>'
            },
            seriesType: 'line',
            colors: [ '#ffc107', 'lightgreen', 'red']
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.date'
            },
            {
                title: 'Total Confirmed cases',
                path: 'confirmed',
                renderCallbackName: 'totalConfirmed'
            },
            {
                title: 'Total Recovered cases',
                path: 'recovered',
                renderCallbackName: 'totalRecovered'
            },
            {
                title: 'Total Death cases',
                path: 'deaths',
                renderCallbackName: 'totalDeath'
            }
        ]
    });

    daily_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        totalConf = 0;
        totalRec = 0;
        totalDet = 0;
    })
</script>