
<div class="col-lg-4 mb-4">
  <div class="card <%= card_class %>">
    <div class="card-header"><%= name %></div>
    <div class="card-body">
      <div id="text_<%= field %>"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    new widgets.text('#text_<%= field %>', text_total_query, 'covid.facts', {
        textOptions:
            {
                type: 'string',
                path: '<%= field %>',
                html_class: 'fontsize35rem text-center <%= html_class %>'
            }

    });

</script>