<% header = (@network ? t('headers.search_in', network: @network[:name], query: @query) : t('headers.search', query: @query)) %>
<%= render partial: 'shared/title',
           locals: {
             header: header,
             icon: 'fas fa-search text-default'
           } %>
<%= content_for :title, header %>
<% @query = @query.strip %>
<ul class="list-grout list-group-flush">
  <% networks = network_finder(@query, params[:network])  %>
  <% if networks.empty? %>
    On request "<%= @query %>" returned no results. Please clarify the request and try again.
    <% else %>
  <% networks.each do |network_info| %>
    <li class="list-group-item">
<span>

  <div class="media">
    <% if network_info[:icon].present? %>
      <%= image_tag(network_info[:icon], class: "mr-3", style: "max-width: 32px;", alt: network_info[:name]) %>
    <% end %>
    <div class="media-body word-wrap" style="min-width: 40%;">
      <h6 class="mt-0">
        <a href="<%= network_info[:link] %>">
          <%= network_info[:name] %>
          <strong class="text-success">Address: <%= @query %></strong>
        </a>
      </h6>
      <a href="<%= network_info[:link] %>"><%= network_info[:link] %></a>
    </div>
  </div>
</span>
    </li>
  <% end %>
    <% end %>
</ul>


