<% content_for :header, t('headers.search', query: @query) %>
<script>
    var query = new widgets.query(`
    query(<%= "$network: Network!, " if params[:network] && !params[:network].empty? %>$query: String!){
      search(<%= "network: $network, " if params[:network] && !params[:network].empty? %>string: $query){
          subject{
            __typename
            ... on Address {
              address
              annotation
            }
            ... on Currency {
              symbol
              name
            }
          }
          network{
            network
            protocol
          }
        }
      }
    `);
</script>
<div class="row">
  <div class="col mb-4">
    <div id="search"><%= t('loading') %></div>
  </div>
</div>
<script>
    widgets.callbacks({
        search_address_address: function(network, address, locale){
            return "/"+locale+"/"+network+"/address/"+address;
        },
        search_currency_address: function(name, address, locale){
            return "/"+locale+(address == '-' ? '/token/'+name : '/address/'+address);
        },
        search_address_snippet: function(item, locale){
           let chains = {<%= BLOCKCHAINS.collect{|chain| "#{chain[:network]}: {name: \"#{chain[:name]}\", icon: \"#{image_path "cryptoicons/#{chain[:icon]}"}\"}".html_safe}.join(",\n").html_safe %>};
           let url = "/"+locale+"/"+item.network.network+"/address/"+item.subject.address;
           let html = "<div class='media'>\n" +
               "  <img src='"+chains[item.network.network].icon+"' class='mr-3' alt='"+chains[item.network.network].name+"'>\n" +
               "  <div class='media-body'>\n" +
               "    <h5 class='mt-0'><a href='"+url+"'>"+chains[item.network.network].name+" address "+item.subject.address+"</a></h5>\n" +
               ((typeof item.subject.annotation) == String ? "<p>"+item.subject.annotation+"</p>\n" : "") +
               "    <a href='"+url+"'>"+url+"</a>" +
              "  </div>\n" +
               "</div>";
           return html;
        }
    });
    var sch = new widgets.search('#search', query, 'search');
    query.request({<%= "network: '#{params[:network]}', ".html_safe if params[:network] && !params[:network].empty? %>query: '<%= @query %>', count: 10});
</script>