<% chain = BLOCKCHAINS.detect{|chain| chain[:network] == @network} if @network && !@network.empty? %>
<%= render partial: 'shared/title', locals: {header: (chain ? t('headers.search_in',network: chain[:name], query: @query) : t('headers.search', query: @query))} %>
<script>
    var query = new widgets.query(`
    query(<%= "$network: Network!, " if @network && !@network.empty? %>$query: String!){
      search(<%= "network: $network, " if @network && !@network.empty? %>string: $query){
          subject{
            __typename
            ... on Address {
              address
              annotation
            }
            ... on Currency {
              symbol
              name
            }
          }
          network{
            network
            protocol
          }
        }
      }
    `);
</script>
<div class="row">
  <div class="col mb-4">
    <div id="search"><%= t('loading') %></div>
  </div>
</div>
<script>
    widgets.callbacks({
        search_address_path: function(network, address, locale){
            return (locale == 'en' ? '' : '/'+locale) +"/"+network+"/address/"+address;
        },
        // search_currency_address: function(name, address, locale){
        //     return "/"+locale+(address == '-' ? '/token/'+name : '/address/'+address);
        // },
        search_address_snippet: function(item, locale){
           let chains = {<%= BLOCKCHAINS.collect{|chain| "#{chain[:network]}: {name: \"#{chain[:name]}\", icon: \"#{image_pack_path "media/icon/#{chain[:icon]}"}\"}".html_safe}.join(",\n").html_safe %>};
           let url = (locale == 'en' ? '' : '/'+locale) +"/"+item.network.network+"/address/"+item.subject.address;
           let html = "<div class='media'>\n" +
               "  <img src='"+chains[item.network.network].icon+"' class='mr-3' alt='"+chains[item.network.network].name+"'>\n" +
               "  <div class='media-body word-wrap' style='min-width: 40%;'>\n" +
               "    <h6 class='mt-0'><a href='"+url+"'>"+chains[item.network.network].name+" <%= t('address') %> "+item.subject.address+"</a></h6>\n" +
               ((typeof item.subject.annotation) == String ? "<p>"+item.subject.annotation+"</p>\n" : "") +
               "    <a href='"+url+"'>"+url+"</a>" +
              "  </div>\n" +
               "</div>";
           return html;
        }
    });
    var sch = new widgets.search('#search', query, 'search', {title: 'Search'});
    query.request({<%= "network: '#{@network}', ".html_safe if @network && !@network.empty? %>query: '<%= @query %>'});
</script>