<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_blocks') %></div>
      <div class="card-body">
        <div id="latest_blocks"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script type="module">
  $(document).ready(function() {
    const graphql_query = `
      query ($network: ElrondNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $shard_id: BigInt!) {
        elrond(network: $network) {
          blocks(
            options: {desc: "height", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            shard: {is: $shard_id}
          ) {
            time {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            height
            transactionCount
            hash
            size
            sizeTxs
          }
        }
      }
    `.trim();

    const query = new widgets.query(graphql_query);

    new widgets.table('#latest_blocks', query, 'elrond.blocks', {
      title: '<%= j t('widgets.headers.latest_blocks') %>',
      dataOptions: [
        {
          title: '<%= j t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'time.time'
        },
        {
          title: '<%= j t('widgets.titles.block') %>',
          type: 'string',
          path: 'height'
        },
        {
          title: '<%= j t('widgets.titles.hash') %>',
          type: 'string',
          path: 'hash',
          urlCallbackName: 'block_path'
        },
        {
          title: '<%= j t('widgets.titles.transactions_count') %>',
          type: 'string',
          path: 'transactionCount'
        },
        {
          title: '<%= j t('widgets.titles.size') %>',
          type: 'string',
          path: 'size'
        },
        {
          title: '<%= j t('widgets.titles.size_txs') %>',
          type: 'string',
          path: 'sizeTxs'
        }
      ]
    });

    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';

    queryWithTimeRange(rr, query, fromDate, tillDate,{
      shard_id: '<%= j @shard_id %>',
      network: '<%= j params['network']['network'] %>'
    });
  });
</script>
