<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_operations') %></div>
      <div class="card-body">
        <div id="latest_operations"><%= t('loading') %></div>
      </div>
    </div> </div>
</div>

<script type="module">
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: ElrondNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $shard_id: BigInt!) {
        elrond(network: $network) {
          operations(
            options: {desc: "time.time", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            shard: {is: $shard_id}
          ) {
            time {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            senderBlock{
              hash
            }
            sender{
              address
              annotation
            }
            receiver{
              address
              annotation
            }
            type
            action
            data
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_operations', query, 'elrond.operations', {
      title: '<%= t('widgets.headers.latest_operations') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'time.time',
          style: 'width: 170px;'
        },
        {
          title: '<%= t('widgets.titles.block_hash') %>',
          type: 'string-ellipsis',
          path: 'senderBlock.hash',
          urlCallbackName: 'sender_block_path'
        },
        {
          title: '<%= t('widgets.titles.sender') %>',
          type: 'string-ellipsis',
          path: ['sender.annotation','sender.address'],
          urlCallbackName: 'sender_address_path'
        },
        {
          title: '',
          type: 'string',
          data: '<i class="fa fa-sign-in text-success"></i>',
          html_class: 'text-center'
        },
        {
          title: '<%= t('widgets.titles.receiver') %>',
          type: 'string-ellipsis',
          path: ['receiver.annotation','receiver.address'],
          urlCallbackName: 'receiver_address_path'
        },
        {
          title: '<%= t('widgets.titles.type') %>',
          type: 'string',
          path: 'type'
        },
        {
          title: '<%= t('widgets.titles.action') %>',
          type: 'string',
          path: 'action'
        },
        {
          title: '<%= t('widgets.titles.data') %>',
          type: 'string',
          path: 'data'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
      shard_id: '<%= @shard_id %>',
      network: '<%= params['network']['network'] %>'
    });
  });
</script>

