<%= extend_layout :application do %>
  <%= render partial: 'shared/title', locals: {header: t('headers.address', network: params['network']['name'], address: copy_text(@address, 'text-info')).html_safe, reportrange: true} %>
  <ul class="nav nav-tabs mb-4">
    <%= tab_link 'Address', nil, true %>
    <%= tab_link 'Inflow', 'inflow', false %>
    <%= tab_link 'Outflow', 'outflow', false %>
    <%= tab_link 'Calls Contacts', 'calls_contacts', false %>
  </ul>
  <div><%= yield %></div>
<% end %>