<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transactions_by_type') %></div>
    <div class="card-body">
      <div id="transactions_by_type"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query (
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    binance {
                      transactions(options:{}, date: {
                        since: $from
                        till: $till}

                      ) {
                        transactionType
                        count

                      }
                    }
                  }`);

        new widgets.chart('#transactions_by_type', query, 'binance.transactions', {
            title: '<%= t('widgets.headers.transactions_by_type') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.transaction_type') %>',
                    path: 'transactionType'
                },
                {
                    title: '<%= t('widgets.titles.transactions_count') %>',
                    path: 'count'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>);


    });
</script>