<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.gas_burners') %></div>
      <div class="card-body">
        <div id="gas_burners"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                        $limit: Int!,
                        $offset: Int!,

                        $from: ISO8601DateTime,
                        $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      smartContractCalls(options:{desc: "gasValue" limit: $limit offset:$offset}, date: {
                        since: $from
                        till: $till

                      }

                      ) {

                        smartContract{
                          address {
                            address
                            annotation
                          }
                        }

                        gasValue
                        count

                      }
                    }
                  }`);

        new widgets.table('#gas_burners', query, 'ethereum.smartContractCalls', {
            title: '<%= t('widgets.headers.gas_burners') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.smart_contract') %>',
                    type: 'string-ellipsis',
                    path: ['smartContract.address.annotation', 'smartContract.address.address'],
                    urlCallbackName: 'smart_contract_path'
                },
                {
                    title: '<%= t('widgets.titles.calls_count') %>',
                    path: 'count',
                    style: 'width: 110px;'
                },
                {
                    title: '<%= t('widgets.titles.gas_value') %>, <%= @network[:currency] %>',
                    type: 'amount',
                    path: 'gasValue',
                    style: 'width: 110px;'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });

    });

</script>