<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='NFTTransfersByDate' class='card'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-xl-7  mb-4'>
    <div class='card' id='TopTransferNFT'></div>
  </div>
  <div class='col-12 col-xl-5  mb-4'>
    <div class='card' id='NFTTransfersByDatePie'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='NFTTokenTradesByDate' class='card'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-xl-7  mb-4'>
    <div class='card' id='TopTradedNFTTokens'></div>
  </div>
  <div class='col-12 col-xl-5  mb-4'>
    <div class='card' id='TopTradedNFTTokensPie'></div>
  </div>
</div>
<div class='row '>
  <div class='col-12 col-xl-7 mb-4'>
    <div class='card' id='TopExchangesForNFTs'></div>
  </div>
  <div class='col-12 col-xl-5 mb-4'>
    <div class='card' id='TopExchangesForNFTsPie'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='LatestTradesNFTToken' class='card '></div>
  </div>
</div>

<script type="module">
    class NFTTransfersByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: () => 'NFT Token Transfer Count by Date',
                id: 'NFTTransfersByDate',
                columns: [
                    {
                        name: 'Date',
                        cell: row => row.Block.Date
                    },
                    {
                        name: 'Count',
                        cell: row => +row.count
                    }
                ],
                options: {
                    theme: 'material',
                }
            }
        }
    }

    class TopTransferNFT extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => `Top traded NFT tokens in ${WidgetConfig.getName(response.EVM.Transfers[0]?.ChainId)}`,
                id: 'TopTransferNFT',
                columns: [
                    {
                        name: 'NFT',
                        cell: row => ({
                            currency: row.Transfer.Currency.Symbol,
                            smartContract: row.Transfer.Currency.SmartContract
                        }),
                        rendering: renderTokenLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Transfers',
                        cell: row => row.count,
                    },
                    {
                        name: 'Unique Senders',
                        cell: row => row.senders,
                    },
                    {
                        name: '', cell: () => '', rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'}
                    },
                    {
                        name: 'Unique Receivers',
                        cell: row => row.receivers,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class NFTTransfersByDatePie extends PieChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => `Top transferred NFT tokens in ${WidgetConfig.getName(response.EVM.Transfers[0]?.ChainId)}`,
                id: 'NFTTransfersByDatePie',
                columns: [
                    {
                        name: 'NFT',
                        cell: row => row.Transfer.Currency.Symbol || row.Transfer.Currency.SmartContract,
                    },
                    {
                        name: 'Count',
                        cell: row => +row.count,
                    }
                ],
                options: {
                    height: 388,
                    chartArea: {
                        left: 30,
                        width: '85%',
                    },
                }
            }
        }
    }

    class NFTTokenTradesByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: () => 'DEX Trades by Protocols by Date',
                id: 'NFTTokenTradesByDate',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date
                    },
                    {
                        name: row => `${row.Trade.Dex.ProtocolFamily} ${row.Trade.Dex.ProtocolVersion}`,
                        cell: row => +row.count
                    },
                ],
                options: {
                    isStacked: true,
                    theme: 'material',
                }
            }
        }
    }

    class TopTradedNFTTokens extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: response => `Top traded NFT tokens in  ${WidgetConfig.getName(response.EVM.DEXTrades[0]?.ChainId)}`,
                id: 'TopTradedNFTTokens',
                columns: [
                    {
                        name: 'NFT', cell: row => ({
                            currency: row.Trade.Buy.Currency.Symbol,
                            smartContract: row.Trade.Buy.Currency.SmartContract
                        }),
                        rendering: renderTokenLink, headerStyle: {width: '120px'},
                    },
                    {
                        name: 'Trades', cell: row => row.count
                    },
                    {
                        name: 'Paid Amount', cell: row => row.sell_amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Currency', cell: row => ({
                            currency: row.Trade.Sell.Currency.Symbol,
                            smartContract: row.Trade.Sell.Currency.SmartContract
                        }),
                        rendering: renderTokenLink,
                    },
                    {
                        name: 'Min Price',
                        cell: row => row.Trade.Buy.min_price,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Max Price', cell: row => row.Trade.Buy.max_rice,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                ],
            }
        }
    }

    class TopTradedNFTTokensPie extends PieChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: response => `Top traded NFT tokens in  ${WidgetConfig.getName(response.EVM.DEXTrades[0]?.ChainId)}`,
                id: 'TopTradedNFTTokensPie',
                columns: [
                    {
                        name: 'NFT', cell: row => row.Trade.Buy.Currency.Symbol || row.Trade.Buy.Currency.SmartContract,
                    },
                    {
                        name: 'Count', cell: row => +row.count,
                    }
                ],
                options: {
                    title: 'Trades Count',
                    height: 388,
                    chartArea: {
                        left: 50,
                        width: '75%',
                    },
                }
            }
        }
    }

    class TopExchangesForNFTs extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: () => `NFT MarketPlace Data`,
                id: 'TopExchangesForNFTs',
                columns: [
                    {
                        name: 'Protocol',
                        cell: row => ({
                            ProtocolFamily: row.Trade.Dex.ProtocolFamily,
                            ProtocolName: row.Trade.Dex.ProtocolName,
                            ProtocolVersion: row.Trade.Dex.ProtocolVersion
                        }),
                        rendering: renderDexProtocolLink,
                    },
                    {
                        name: 'Trades', cell: row => row.count,
                    },
                    {
                        name: 'Unique NFTs traded', cell: row => row.nfts,
                    },
                    {
                        name: 'Unique Currencies Paid', cell: row => row.currencies,
                    },
                    {
                        name: 'Unique NFT Buyers', cell: row => row.buyers
                    },
                ]
            }
        }
    }

    class TopExchangesForNFTsPie extends PieChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: () => `NFT MarketPlace Data`,
                id: 'TopExchangesForNFTsPie',
                columns: [
                    {
                        name: 'Protocol', cell: row => `${row.Trade.Dex.ProtocolName} ${row.Trade.Dex.ProtocolVersion}`
                    },
                    {
                        name: 'Count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 388,
                    chartArea: {
                        left: 50,
                        width: '75%',
                    },
                }
            }
        }
    }

    class LatestTradesNFTToken extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title: () => 'Latest Trades of NFT Tokens in Network',
                id: 'LatestTradesNFTToken',
                columns: [
                    {
                        name: 'Time', cell: row => row.Block.Time,
                        rendering: renderDate,
                    },
                    {
                        name: 'Sell currency', cell: row => ({
                            currency: row.Trade.Sell.Currency.Symbol,
                            smartContract: row.Trade.Sell.Currency.SmartContract
                        }),
                        rendering: renderTokenLink, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Seller', cell: row => row.Trade.Buy.Seller,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: '', cell: () => '', rendering: renderSenderRecieverIcon, headerStyle: {width: '50px'},
                    },
                    {
                        name: 'Buyer', cell: row => row.Trade.Buy.Buyer,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'NFT', cell: row => ({
                            currency: row.Trade.Buy.Currency.Symbol,
                            smartContract: row.Trade.Buy.Currency.SmartContract
                        }),
                        rendering: renderTokenLink,
                    },
                    {
                        name: 'ID',
                        cell: row => ({id: row.Trade.Buy.Ids[0], address: row.Trade.Buy.Currency.SmartContract}),
                        rendering: renderIdLink,
                        headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Sell amount', cell: row => row.Trade.Sell.Amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Price', cell: row => row.Trade.Buy.Price,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'}
                    },
                    {
                        name: 'Dex', cell: row => ({
                            ProtocolFamily: row.Trade.Dex.ProtocolFamily,
                            ProtocolName: row.Trade.Dex.ProtocolName,
                            ProtocolVersion: row.Trade.Dex.ProtocolVersion
                        }),
                        rendering: renderDexProtocolLink, headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Hash', cell: row => row.Transaction.Hash,
                        rendering: renderTX, headerStyle: {width: '110px'},
                    },
                ]
            }
        }
    }


    const variables = {
        network: '<%= @streaming%>',
        mempool: false,
    }
    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';

    renderWithTime(variables, fromDate , tillDate, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[NFTTransfersByDate, '#NFTTransfersByDate']], 'NFT-Token-Transfers-By-Date_1', variables);
        renderComponent('<%=@streaming_access_token %>', [[NFTTransfersByDatePie, '#NFTTransfersByDatePie'], [TopTransferNFT, '#TopTransferNFT']], 'Top-transfered-NFT-tokens-in-network_1', variables);
        renderComponent('<%=@streaming_access_token %>', [[NFTTokenTradesByDate, '#NFTTokenTradesByDate']], 'NFT-Token-Trades-By-Date_2', variables);
        renderComponent('<%=@streaming_access_token %>', [[TopTradedNFTTokens, '#TopTradedNFTTokens'], [TopTradedNFTTokensPie, '#TopTradedNFTTokensPie']], 'Top-traded-NFT-tokens-in-network_1', variables);
        renderComponent('<%=@streaming_access_token %>', [[TopExchangesForNFTs, '#TopExchangesForNFTs'], [TopExchangesForNFTsPie, '#TopExchangesForNFTsPie']], 'NFT-Marketplace-Data_1_1', variables);
        renderComponent('<%=@streaming_access_token %>', [[LatestTradesNFTToken, '#LatestTradesNFTToken']], 'Latest-Trades-of-NFT-Tokens-in-Network_2', variables, 'Mempool-Subscription-Latest-Trades-of-NFT-Tokens-in-Network_2');
    })
</script>
