<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div id='TransfersByCurrencies' class='card'></div>
  </div>
</div>
<script type="module">
    class TransfersByCurrencies extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => `Token Transfer Activity on the ${WidgetConfig.getName(response.EVM.Transfers[0]?.ChainId) || 'network'}`,
                id: 'TransfersByCurrencies',
                theme: '<%= @theme %>',
                columns: [
                    {
                        name: 'Token',
                        cell: row => ({
                            currency: row.Transfer.Currency.Symbol,
                            smartContract: row.Transfer.Currency.SmartContract
                        }),
                        rendering: renderTokenLink,
                        headerStyle: { width: '210px' },
                    },
                    {
                        name: 'Transfers Count',
                        cell: row => row.count,
                        rendering: renderNumbers,
                        headerStyle: { textAlign: 'end' },
                    },
                    {
                        name: 'Uniq Senders',
                        cell: row => row.senders,
                        rendering: renderNumbers,
                        headerStyle: { textAlign: 'end', width: '110px' },
                    },
                    {
                        name: 'Uniq Receivers',
                        cell: row => row.receivers,
                        rendering: renderNumbers,
                        headerStyle: { textAlign: 'end', width: '121px' },
                    },
                    {
                        name: 'Total Volume',
                        cell: row => ({
                            amount: row.sum_amount,
                            usd: row.sum_amount_usd
                        }),
                        rendering: renderNumberWithUSD,
                        headerStyle: { textAlign: 'end' },
                    },
                    {
                        name: 'Active Days',
                        cell: row => row.count_days,
                        rendering: renderNumbers,
                        headerStyle: { textAlign: 'end', width: '181px' },
                    },
                ]
            }
        }
    }


    const variables = {
        network: '<%= @streaming%>',
    }

    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';

    renderWithTime(variables, fromDate , tillDate, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[TransfersByCurrencies, '#TransfersByCurrencies']], 'Transfers-By-Currencies_10_1', variables);
    })
</script>
