<div class="row">
  <%= render partial: 'ethereum2/validator/blocks_by_time' %>
  <%= render partial: 'ethereum2/validator/attestations_by_time' %>
</div>


<div class="row">
  <%= render partial: 'ethereum2/validator/proposer_slashings_by_time' %>
  <%= render partial: 'ethereum2/validator/attester_slashings_by_time' %>
</div>

<div>
<%= render partial: 'ethereum2/validator/balance_by_time' %>
</div>