<div class="row">
  <div class="col-8 col-lg-8 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.dex_protocols') %></div>
      <div class="card-body">
        <div id="dex_protocols"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-4 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.dex_tradex_by_protocol') %></div>
      <div class="card-body">
        <div id="dex_tradex_by_protocol_pie"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>

<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum(network: $network){
                      dexTrades(options:{desc: "trades", limit: $limit, offset: $offset},
                        date: {since: $from till: $till }

                        ) {

                          protocol

                          trades: count
                          currencies: count(uniq: buy_currency)
                          contracts: count(uniq: smart_contracts)

                      }
                    }
                  }`);

        new widgets.table('#dex_protocols', query, 'ethereum.dexTrades', {
            title: '<%= t('widgets.headers.dex_protocols') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.protocol') %>',
                    path: 'protocol',
                    urlCallbackName: 'dex_protocol_path'
                },

                {
                    title: '<%= t('widgets.titles.trades') %>',
                    path: 'trades'
                },

                {
                    title: '<%= t('widgets.titles.currencies') %>',
                    path: 'currencies'
                },

                {
                    title: '<%= t('widgets.titles.contracts') %>',
                    path: 'contracts'
                },

            ]
        });

        new widgets.chart('#dex_tradex_by_protocol_pie', query, 'ethereum.dexTrades', {
            title: '<%= t('widgets.headers.dex_tradex_by_protocol') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea:{left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.protocol') %>',
                    path: 'protocol'
                },
                {
                    title: '<%= t('widgets.titles.trades') %>',
                    path: 'trades'
                },

            ]
        });


        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            network: '<%= params['network']['network'] %>'
        });

    });

</script>
