<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.dex_trades_by_exchange') %></div>
      <div class="card-body">
        <div id="dex_trades_by_exchange"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.dex_amounts_by_exchange') %></div>
      <div class="card-body">
        <div id="dex_amounts_by_exchange"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<script type="module">
  $( document ).ready(function() {

      var query = new widgets.query(`
          query ($network: EthereumNetwork!,
                $dateFormat: String!,

                $from: ISO8601DateTime,
                $till: ISO8601DateTime){
                  ethereum(network: $network ){
                    dexTrades(options:{asc: "date.date"}, date: {
                      since: $from
                      till: $till}

                    ) {
                      date: date{
                        date(format: $dateFormat)
                      }

                      exchange {
                        fullName
                      }

                      count

                      tradeAmount(in: USD)


                    }
                  }
                }`);

      new widgets.pivotChart('#dex_trades_by_exchange', query, 'ethereum.dexTrades', {
          title: '<%= t('widgets.headers.dex_trades_by_exchange') %>',
          chartOptions: {
              vAxes: {
                  '0': {
                      title: '<%= t('widgets.titles.trades') %>',
                      viewWindow: { min: 0 }
                  }
              },
              hAxis: <%= render partial: 'shared/date_axis', formats: :json%>,
              bar: {groupWidth: "100%"},
              isStacked: true
          },
          cols: [{
              title: '<%= t('widgets.titles.exchange') %>',
              path: 'exchange.fullName',
              metrics: [
                  {
                      title: '<%= t('widgets.headers.trades') %>',
                      path: 'count'
                  }
              ]
          }],
          rows: [{
              title: 'Date',
              path: 'date.date'
          }],
          sort: {metric: '<%= t('widgets.headers.trades') %>', direction: 'desc', axis: 'col'},
          limit: {length: 41, other: true, axis: 'col'},
      });

      new widgets.pivotChart('#dex_amounts_by_exchange', query, 'ethereum.dexTrades', {
          title: '<%= t('widgets.headers.dex_amounts_by_exchange') %>',
          chartOptions: {
              vAxes: {
                  '0': {
                      title: '<%= t('widgets.titles.amount_usd') %>',
                      viewWindow: { min: 0 }
                  }
              },
              hAxis: <%= render partial: 'shared/date_axis', formats: :json%>,
              bar: {groupWidth: "100%"},
              isStacked: true
          },
          cols: [{
              title: '<%= t('widgets.titles.exchange') %>',
              path: 'exchange.fullName',
              metrics: [
                  {
                      title: '<%= t('widgets.titles.usd') %>',
                      path: 'tradeAmount'
                  }
              ]
          }],
          rows: [{
              title: 'Date',
              path: 'date.date'
          }],
          sort: {metric: '<%= t('widgets.titles.usd') %>', direction: 'desc', axis: 'col'},
          limit: {length: 41, other: true, axis: 'col'},
      });


      <% from, till = date_range_from_now(5, :days) %>
        queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
            network: '<%= params['network']['network'] %>'
        });


  });
</script>
