<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.trades_by_time') %></div>
      <div class="card-body">
        <div id="trades_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.token_takers') %></div>
      <div class="card-body">
        <div id="token_takers"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: EthereumNetwork!,
                  $dateFormat: String!,
                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      dexTrades(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        smartContractAddress: {is: $address}
                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }

                            trades: countBigInt
                            takers: countBigInt(uniq: takers)

                      }
                    }
                  }`);

        new widgets.chartByTime('#trades_by_time', query, 'ethereum.dexTrades', {
            title: '<%= t('widgets.headers.trades_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.trades') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.trades') %>', type: 'number' },
                    path: 'trades'
                },

            ]
        });

        new widgets.chartByTime('#token_takers', query, 'ethereum.dexTrades', {
            title: '<%= t('widgets.headers.token_takers') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.traders') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#ffc107' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.traders') %>', type: 'number' },
                    path: 'takers'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });
</script>
