<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.order_transactions_by_time') %></div>
    <div class="card-body">
      <div id="order_transactions_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ( $address: String!,
                  $dateFormat: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    binance {
                      orders(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        orderOwner: {is: $address}

                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt(uniq:orders)
                      }
                    }
                  }`);

        new widgets.chartByTime('#order_transactions_by_time', query, 'binance.orders', {
            title: '<%= t('widgets.headers.order_transactions_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.unique_orders') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.unique_orders') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            address: '<%= @address %>'
        });

    });
</script>
