<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.smart_contract_methods_by_count') %></div>
      <div class="card-body">
        <div id="inputs_methods_by_count"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script type="module">
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: FlowNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $height: Int!) {
        flow(network: $network) {
          inputs(
            options: {limit: $limit, offset: $offset, desc: "count"}
            date: {since: $from, till: $till}
            height: {is: $height}
          ) {
            smartContractMethod {
              signature
            }
            count
          }
        }
      }

    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#inputs_methods_by_count', query, 'flow.inputs', {
      title: '<%= t('widgets.headers.smart_contract_methods_by_count') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.method') %>',
          type: 'string',
          path: 'smartContractMethod.signature'
        },
        {
          title: '<%= t('widgets.titles.count') %>',
          type: 'string',
          path: 'count'
        },
      ]
    });

    query.request({
      height: <%= @height %>,
      network: '<%= params['network']['network'] %>'
    });
  });
</script>



