<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.proposers_by_time') %></div>
      <div class="card-body">
        <div id="proposers_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.block_reward_by_time') %></div>
      <div class="card-body">
        <div id="block_reward_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: AlgorandNetwork!,
                  $dateFormat: String!,

                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    algorand(network: $network ){
                      blocks(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}

                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt(uniq: proposers)
                        reward: rate
                      }
                    }
                  }`);

        new widgets.chartByTime('#proposers_by_time', query, 'algorand.blocks', {
            title: '<%= t('widgets.headers.proposers_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.proposers_count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.proposers_count') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        new widgets.chartByTime('#block_reward_by_time', query, 'algorand.blocks', {
            title: '<%= t('widgets.headers.block_reward_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.block_reward') %>, <%= @network[:currency] %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.block_reward') %>, <%= @network[:currency] %>',
                    path: 'reward'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
