
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-header">Count of new confirmed cases by continent</div>
      <div class="card-body">
        <div id="continent_stacked"><%= t('loading') %></div>
      </div>
    </div>
  </div>


<script>

    var continent_stacked_query = new widgets.query(`
    query($from: ISO8601DateTime, $till: ISO8601DateTime) {
     offchain {
       covid {
              facts(date: {since: $from, till: $till}, options: {asc: "date.fulldate"} ){

              date {
                date(format: "%d/%m")
                fulldate: date
              }

              europe: confirmed(continent: {is: Europe})
              asia: confirmed(continent: {is: Asia})
              north: confirmed(continent: {is: North_America})
              south: confirmed(continent: {is: South_America})
              oceania: confirmed(continent: {is: Oceania})
              antarctica: confirmed(continent: {is: Antarctica})

       }
     }
    }

  }`);

    new widgets.chart('#continent_stacked', continent_stacked_query, 'offchain.covid.facts', {
        title: 'Daily stats by continents',
        chartOptions: {
            vAxes: {
                '0': {
                    title: 'New Confirmed Cases Daily'
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.date') %>'
            },
            bar: {groupWidth: "100%"},
            isStacked: true
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.date'
            },
            {
                title: 'Asia',
                path: 'asia'
            },
            {
                title: 'Europe',
                path: 'europe'
            },

            {
                title: 'North America',
                path: 'north'
            },
            {
                title: 'South America',
                path: 'south'
            },
            {
                title: 'Oceania',
                path: 'oceania'
            },
            {
                title: 'Antarctica',
                path: 'antarctica'
            },


        ]
    });

    continent_stacked_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        continent_stacked_query.request({from: start, till: end});
    })

</script>