
<div class="col-lg-4 mb-4">
  <div class="card">
    <div class="card-header"><%= name %></div>
    <div class="card-body">
      <div id="pie_<%= field %>"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    var pie_<%= field %>_query = new widgets.query(`
    query($from: ISO8601DateTime, $till: ISO8601DateTime) {
       covid {
              facts(date: {since: $from, till: $till}, options: {desc: "<%= field %>", limit: 7} ){

              country {
                name
                iso3
              }

            <%= field %>
       }

    }

  }`);

    new widgets.chart('#pie_<%= field %>', pie_<%= field %>_query, 'covid.facts', {
        title: '<%= name %>',
        chartType: 'PieChart',
        chartOptions: {
            pieSliceText: 'label',
            pieHole: 0.4,
        },
        dataOptions: [
            {
                title: 'Country',
                path: 'country.name'
            },
            {
                title: '<%= field %> cases',
                path: '<%= field %>'
            }
        ]
    });

    pie_<%= field %>_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        pie_<%= field %>_query.request({from: start, till: end});
    })

</script>