<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card">
      <div class="card-header">Cumulative case count, by day</div>
      <div class="card-body">
        <br><strong style="color: red; ">Note, that not all countries report recovered cases.</strong><br>
        <div id="total"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    new widgets.chart('#total', daily_query, 'offchain.covid.facts', {
        title: 'Cumulative case count, by day',
        renderData: function(data){
            let totalConf = 0, totalRec = 0, totalDet = 0, new_data = [];

            _.each(data, function(item){
                totalConf += item.confirmed;
                totalRec += item.recovered;
                totalDet += item.deaths;

                new_data.push({
                    data: item.data,
                    confirmed: totalConf,
                    recovered: totalRec,
                    deaths: totalDet
                });
            });
            return new_data;
        },
        chartOptions: {
            test:1,
            pointSize: 2,
            vAxes: {
                '0': {
                    title: 'Total Cases'
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.date') %>'
            },
            seriesType: 'line',
            colors: [ '#ffc107', 'lightgreen', 'red']
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.date'
            },
            {
                title: 'Cumulative Confirmed cases',
                path: 'confirmed'
            },
            {
                title: 'Cumulative Recovered cases',
                path: 'recovered'
            },
            {
                title: 'Cumulative Death cases',
                path: 'deaths'
            }
        ]
    });

    daily_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
</script>