<div class="row">
  <div class="col-lg-12 mb-12">
    <div class="card">
      <div class="card-header">Count of new cases, daily</div>
      <div class="card-body">
        <div id="daily"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    var daily_query = new widgets.query(`
    query($from: ISO8601DateTime, $till: ISO8601DateTime) {
       covid {
              facts(date: {since: $from, till: $till}, options: {asc: "date.fulldate"} ){

              date {
                date(format: "%d/%m")
                fulldate: date
              }

            confirmed
            recovered
            deaths
       }

    }

  }`);

    new widgets.chart('#daily', daily_query, 'covid.facts', {
        title: 'Daily stats',
        chartOptions: {
            vAxes: {
                '0': {
                    title: 'Case Count'
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.date') %>'
            },
            bar: {groupWidth: "95%"},
            colors: [ 'yellow', 'lightgreen', 'red']
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.date'
            },
            {
                title: 'Confirmed cases',
                path: 'confirmed'
            },
            {
                title: 'Recovered cases',
                path: 'recovered'
            },
            {
                title: 'Death cases',
                path: 'deaths'
            }
        ]
    });

    daily_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});

    rr.change(function(start, end, clear){
        daily_query.request({from: start, till: end});
    })

</script>