
<% content_for :title, @header %>

<div class="row search mb-2">
  <div class="col-12 col-lg">
    <!--    <%# if local_assigns[:header] %><h6 class="header-title word-wrap"><%#= header %></h6><%# end %>-->
    <h1 class="mt-2 word-wrap"><%= @header %></h1>
    <p>
      Use date range control to see data by different time period.
      Data is loaded on <%= Date.today %> 00:00 UTC.<br>
      Click country from table below to see country-level. Short links to some countries:

      <%= link_to 'China', covid_country_path(code: 'CN', name: 'China'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'Italy', covid_country_path(code: 'IT', name: 'Italy'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'Iran', covid_country_path(code: 'IR', name: 'Iran'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'Spain', covid_country_path(code: 'ES', name: 'Spain'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'Germany', covid_country_path(code: 'DE', name: 'Germany'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'France', covid_country_path(code: 'FR', name: 'France'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'South Korea', covid_country_path(code: 'KR', name: 'South Korea'), {class: 'btn btn-info btn-sm active'} %>
      <%= link_to 'United States', covid_country_path(code: 'US', name: 'United States'), {class: 'btn btn-info btn-sm active'} %>

    </p>
  </div>

    <div class="col-12 col-lg-auto">
      <%= render partial: 'shared/reportrange' %>
    </div>

</div>

<div class="row">
  <%= render partial: 'total_text_query' %>
  <%= render partial: 'total_text', locals: {field: 'confirmed',
                                             name: 'Confirmed',
                                             card_class: 'border-warning',
                                             html_class: 'text-warning'
  } %>

  <%= render partial: 'total_text', locals: {field: 'recovered',
                                             name: 'Recovered',
                                             card_class: 'border-success',
                                             html_class: 'text-success'}
  %>

  <%= render partial: 'total_text', locals: {field: 'deaths',
                                             name: 'Deaths',
                                             card_class: 'border-danger',
                                             html_class: 'text-danger'
  } %>
</div>

<%= render partial: 'timegraph' %>
<%= render partial: 'countrymap' %>
<%= render partial: 'countrytable' %>


<div class="row">

  <%= render partial: 'countries_pie', locals: {field: 'confirmed',
                                                name: 'Top countries by Confirmed Cases'} %>

  <%= render partial: 'countries_pie', locals: {field: 'recovered',
                                                name: 'Top countries by Recovered Cases'} %>

  <%= render partial: 'countries_pie', locals: {field: 'deaths',
                                                name: 'Top countries by Death Cases'} %>

</div>

<%= render partial: 'time_stacked' %>


<%= render partial: 'country_bubble' %>


<%= render partial: 'sources' %>