<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.block_info') %></div>
    <div class="card-body">
      <div id="block_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query (
          $network: CardanoNetwork!
          $height: Int!){
  cardano(network: $network ){
      blocks(height: {is: $height}){

        timestamp {
          time (format: "%Y-%m-%d %H:%M:%S")
        }

        blockHash
        blockSize
        blockVersion
        transactionCount

        epoch
        opCert
        slot
        slotInEpoch

        slotLeaderDescription
        slotLeaderHash

        vrfKey
      }
    }
}`);



        new widgets.table('#block_info', query, 'cardano.blocks', {
            title: '<%= t('widgets.headers.block_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.timestamp.time},
                    {name: '<%= t('widgets.titles.hash') %>', value: item.blockHash},
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.timestamp.time},
                    {name: '<%= t('widgets.titles.size') %>', value: item.blockSize},

                    {name: '<%= t('widgets.titles.version') %>', value: item.blockVersion},
                    {name: '<%= t('widgets.titles.transactions_count') %>', value: item.transactionCount},

                    {name: '<%= t('widgets.titles.epoch') %>', value: item.epoch},
                    {name: '<%= t('widgets.titles.op_cert') %>', value: item.opCert},
                    {name: '<%= t('widgets.titles.slot') %>', value: item.slot},
                    {name: '<%= t('widgets.titles.slot_in_epoch') %>', value: item.slotInEpoch},

                    {name: '<%= t('widgets.titles.slot_leader_description') %>', value: item.slotLeaderDescription},
                    {name: '<%= t('widgets.titles.slot_leader_hash') %>', value: item.slotLeaderHash},
                    {name: '<%= t('widgets.titles.vrf_key') %>', value: item.vrfKey},
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 250px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({
            height: <%= @height %>,
            network: '<%= @network[:network] %>'
        });

    });
</script>