<footer>
  <div class="col-lg-auto col-12 ad-container mx-auto" style="margin-top: 15px; margin-bottom: 10px;">
    <% if ad = bottom_ad %>
      <div style="display: flex; justify-content: center;">
        <%= link_to ad[:url].html_safe, {target: :blank}  do %>
          <%= image_tag ad[:image] %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container-fluid mt-5 mb-5 text-center">
    <div style="margin-bottom: 5px;">
        <% for chain in BLOCKCHAINS %>
          <%= link_to network_icon(chain), "/#{chain[:network]}", {title: t("pages.footer.explorer", network:chain[:name])}%>
        <% end %>
    </div>

    <%= t 'pages.footer.built' %>
    <%= link_to t('pages.footer.widgets'), 'https://github.com/bitquery/widgets' %>
    <i class="fab fa-github"></i>

    <%= t 'pages.footer.by' %>
    <%= link_to t('pages.footer.created'), 'https://bitquery.io' %><br>

    <span style="font-size: 80%;">
    Read our API documentation for <%= link_to "v1", 'https://docs.bitquery.io/v1/', target: '_blank' %> and <%= link_to "v2", 'https://docs.bitquery.io/', target: '_blank' %> APIs</span>
    <p>
      <i class="fa fa-briefcase"></i> <%= link_to "We are hiring", 'https://angel.co/company/bitquery/jobs', target: '_blank' %>
      |
      <i class="fa fa-info-circle"></i> <%= link_to "Crypto News", 'https://coincodecap.com/?utm_source=bitquery', target: '_blank' %> Partner
      |
      <i class="fa fa-comment"></i> <%= link_to "Community Forum", 'https://community.bitquery.io/', target: '_blank' %>
      |
      <i class="fa fa-telegram"></i> <%= link_to "Telegram", 'https://t.me/bloxy_info', target: '_blank' %>
      |
      <i class="fa fa-youtube"></i> <%= link_to "Youtube", 'https://www.youtube.com/@bitquery', target: '_blank' %>
    </p>
    <div style="margin-top: 15px;">
      <%= link_to 'https://casinomonks.com/', target: '_blank', style: 'display: inline-flex; align-items: center; justify-content: center; text-decoration: none; color: #007bff;' do %>
        <i class="fas fa-ad" aria-hidden="true" style="margin-right: 5px; color: #000;"></i>
        Casino Reviews
      <% end %>
    </div>

  </div>


  <%= render partial: 'shared/ads/fixed' %>
</footer>
<%= render partial: 'shared/ads/widgets' %>
