<head>
  <title>
    <% if content_for?(:title) %><%= yield :title %>
    <% end %>
  </title>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield :description %>">
  <% end %>
  <% if content_for?(:keywords) %>
    <meta name="keywords" content="<%= yield :keywords %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="origin-trial" content="AphgWW7JZWyF1dROumdjRuj/SjNlm1hu2JGHUxdeA5S8G/AAVT1xxG6wa3FH/YtcBzRGr9Wa0ulWnetSEAtzQgMAAABceyJvcmlnaW4iOiJodHRwczovL2V4cGxvcmVyLmJpdHF1ZXJ5LmlvOjQ0MyIsImZlYXR1cmUiOiJNdXRhdGlvbkV2ZW50cyIsImV4cGlyeSI6MTc0NzE4MDc5OX0=">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag ('bitqueryLogoicon.svg')%>
  <%= render partial: 'shared/image_links_meta' %>
  <%#= javascript_include_tag 'charting_library/charting_library.standalone' %>
  <%#= javascript_include_tag 'datafeeds/udf/dist/bundle' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.19.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1"></script>
  <script src="https://cdn.jsdelivr.net/gh/bitquery/widgets-runtime@v1.0/dataSource.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/bitquery/graphs@v1.0.29/dist/graphs.min.css">
  <script src="https://cdn.jsdelivr.net/gh/bitquery/graphs@v1.0.36/dist/graphs.min.js"></script>
  <%#= stylesheet_pack_tag 'graphs', media: 'all' %>
  <%#= javascript_pack_tag 'graphs' %>
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/bitquery/widgets@v1.3.23/dist/assets/css/widgets.css">
  <script src="https://cdn.jsdelivr.net/gh/bitquery/widgets@v1.3.23/dist/widgets.js"></script>
  <%#= '<link rel="stylesheet" media="all" href="http://localhost:63342/widgets/dist/assets/css/widgets.css?_rnd=1231241">'.html_safe %>
  <%#= '<script src="http://localhost:63342/widgets/dist/widgets.js?_rnd=1231241"></script>'.html_safe %>
  <%#= stylesheet_pack_tag 'assets/css/widgets', media: 'all' %>
  <%#= javascript_pack_tag 'widgets' %>
  <%= render(partial: 'shared/fb_pixel') if ANALYTICS %>
  <%= render(partial: 'shared/google_analytics') if ANALYTICS %>
  <% if content_for?(:html_head) %><%= yield :html_head %>
  <% end %>
</head>