<head>
  <title>
    <% if content_for? :title %><%= yield :title %><% end %>
  </title>
  <% if content_for?(:description) %><meta name="description" content="<%= yield :description %>"><% end %>
  <% if content_for?(:keywords) %><meta name="keywords" content="<%= yield :keywords %>"><% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag external_image('favicon.png') %>
  <%= render partial: 'shared/image_links_meta' %>
  <%= stylesheet_pack_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
<!--  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/bitquery/graphs@latest/dist/graphs.min.css">-->
<!--  <script src="https://cdn.jsdelivr.net/gh/bitquery/graphs@latest/dist/graphs.min.js"></script>-->
  <link rel="stylesheet" media="all" href="<%= BITQUERY_WIDGETS_URL %>/dist/assets/css/widgets.css">
  <script src="<%= BITQUERY_WIDGETS_URL %>/dist/widgets.js"></script>
  <%= render(partial: 'shared/fb_pixel') if ANALYTICS %>
  <%= render(partial: 'shared/google_analytics') if ANALYTICS %>
  <% if content_for?(:html_head) %><%= yield :html_head %><% end %>
</head>

