<head>
  <%= render(partial: 'shared/google_analytics') if ANALYTICS %>
  <title>
    <% if content_for? :title %><%= yield :title %><% end %>
    BitQuery
  </title>
  <% if content_for?(:description) %><meta name="description" content="<%= yield :description %>"><% end %>
  <% if content_for?(:keywords) %><meta name="keywords" content="<%= yield :keywords %>"><% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag external_image('favicon.png') %>
  <meta property="og:image" content="<%= external_image('logo_147x40_black_1.svg') %>" />
  <%= stylesheet_pack_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <link rel="stylesheet" media="all" href="<%= BITQUERY_WIDGETS_URL %>/dist/assets/css/widgets.css">
  <script src="<%= BITQUERY_WIDGETS_URL %>/dist/widgets.js"></script>
</head>

