<header class="header border-bottom mb-2">
  <nav class="navbar navbar-expand-lg <%= @theme == 'dark' ? 'navbar-dark bg-dark' : "navbar-light" %>">
    <a href="/"><%= image_tag external_image(@theme == 'dark' ? 'bitquery_logo.png' : 'bitquery_logo_w.png'), class: 'd-inline-block align-top logotype' %>
    </a>

    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav navbar-nav-search">
      <%= render partial: 'shared/search' %>
      </div>
    </div>
    <div id="wallet-connection-wrapper">
      <div id="connected">
        <div class="wallet-options">
          <select id="chains" class="form-control form-control-sm mt-2 mb-2" aria-label="Chain list">
          </select>
          <span id="address" class="form-control-sm">...</span>
        </div>
      </div>
      <button id="wallet-connection" type="button" class="btn btn-primary">
        <span id="wallet-connection-text">Connect<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
          viewBox="0 0 16 16">
          <path
            d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z">
          </path>
        </svg></span>
        
      </button>
    </div>
    <ul class="nav">
      <%= render partial: "shared/theme" %>
      <%= render partial: "shared/locale" %>
    </ul>
  </nav>
</header>

<% if @breadcrumbs %>
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% unless @breadcrumbs.last == breadcrumb %>
          <li class="breadcrumb-item word-wrap"><a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a></li>
        <% else %>
          <li class="breadcrumb-item word-wrap active"><%= breadcrumb[:name] %></li>
        <% end %>
      <% end %>
    </ol>

    <% if bitquery_feed_item %>
      <%= link_to bitquery_feed_item[:link], class: 'nav-link', target: :_blank do %>
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
        <%= bitquery_feed_item[:title] %>
      <% end %>
    <% end %>
  </div>
<% end %>
