<header class="header border-bottom mb-2">
    <div class="col-lg-auto col-12 ad-container mx-auto" style="margin-top: 15px; margin-bottom: 10px;">
        <div style="display: flex; justify-content: center;">
            <ins
                class="adsbyslise"
                style="display:inline-block;width:728px;height:90px"
                data-ad-slot="leaderboard"
                data-ad-pub="pub-11"
                id="ad-ins"
            ></ins>
        </div>
        <script async src="https://v1.slise.xyz/scripts/embed.js"></script>
        <script>
            let adElement = document.getElementById('ad-ins');
            let isMobile = window.innerWidth < 728;
            if(isMobile) {
                adElement.style.width = '270px';
                adElement.setAttribute('data-ad-format', '270x90');
                adElement.setAttribute('data-ad-slot', 'mobile-banner'); // slot for mobile
            } else {
                adElement.setAttribute('data-ad-format', '728x90');
                adElement.setAttribute('data-ad-slot', 'leaderboard-desktop'); // slot for desktop
            }

            let adSlot = isMobile ? "mobile-banner" : "leaderboard-desktop";
            ;(adsbyslise=window.adsbyslise||[]).push({slot:adSlot});
            window.adsbyslisesync&&window.adsbyslisesync();
        </script>
    </div>
  <nav class="navbar navbar-expand-lg <%= @theme == 'dark' ? 'navbar-dark bg-dark' : "navbar-light" %>">
    <a href="/"><%= image_tag (@theme == 'dark' ? 'bitquery_logo.png' : 'bitquery_logo_w.png'), class: 'd-inline-block align-top logotype' %>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav navbar-nav-search">
      <%= render partial: 'shared/search' %>
      </div>
    </div>
    <div id="wallet-connection-wrapper">
      <svg visibility="hidden" xmlns="http://www.w3.org/2000/svg">
        <symbol id="metamask" viewBox="0 0 60 60">
          <circle cx="30" cy="30" r="30" fill="#FFD3A2" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.8438 41.6544L32.6461 42.7811V41.2994L32.3115 40.9599H29.9085V42.6885V43.9077H32.4788L35.6422 42.5187L36.8438 41.6544Z"
            fill="#CDBDB2" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.156 41.6544L27.2624 42.7811V41.2994L27.6122 40.9599H30V42.6885V43.9077H27.4297L24.2662 42.5187L23.156 41.6544Z"
            fill="#CDBDB2" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M32.3119 38.4437L32.6465 41.299L32.2206 40.9594H27.7796L27.2625 41.299L27.6123 38.4437L28.2967 38.0116L31.7187 38.0888L32.3119 38.4437Z"
            fill="#393939" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M34.624 19.0741L32.5708 23.9358L31.6279 38.0885H28.2971L27.2629 23.9358L25.377 19.0741H34.624Z"
            fill="#F89C35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M43.597 29.7547L46 36.7925L40.0077 36.4375H36.1598V33.3971L36.3271 27.1618L37.194 27.8409L43.597 29.7547Z"
            fill="#F89D35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M39.0635 30.5419L32.0522 30.7116L32.8278 34.354L36.1586 33.4897L39.0635 30.5419Z" fill="#D87C30" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.0635 30.6188L36.1586 33.3968V36.1749L39.0635 30.6188Z"
            fill="#EA8D3A" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.1592 33.4892L32.7372 34.3534L31.6269 38.0884L32.4026 38.5206L36.1592 36.2672V33.4892Z" fill="#F89D35" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M36.1593 36.2678L36.8438 41.6542L32.3115 38.444L36.1593 36.2678Z"
            fill="#EB8F35" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M32.0554 30.7115L31.63 38.0888L32.9062 34.323L32.0554 30.7115Z"
            fill="#EA8E3A" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M40.0996 36.3604L36.1605 36.2678L36.8449 41.6542L40.0996 36.3604Z" fill="#D87C30" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M44.1141 44L36.8442 41.6541L40.0989 36.3603L46 36.7924L44.1141 44Z" fill="#EB8F35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M32.5693 23.9361L36.2498 27.0691L39.0635 30.5417L32.0522 30.8041L32.5693 23.9361Z" fill="#E8821E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M36.8438 41.6541L32.3115 38.4438L32.6461 41.2219V42.7807L35.7335 42.1788L36.8438 41.6541Z" fill="#DFCEC3" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.1561 41.6541L27.6123 38.4438L27.2625 41.2219V42.7807L24.1903 42.1788L23.1561 41.6541Z" fill="#DFCEC3" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M33.9403 32.2701L32.9974 34.2765L36.3281 33.3967L33.9403 32.2701Z" fill="#393939" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.2074 15L32.5725 23.9361L34.5345 19.0745L44.2074 15Z"
            fill="#E88F35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M44.2054 15L45.7415 19.769L44.8898 24.9856L45.4829 25.3252L44.6312 26.1123L45.3156 26.7142L44.3727 27.5785L44.9658 28.1032L43.597 29.8318L37.1788 27.8409C34.0458 25.2943 32.4945 23.9979 32.5553 23.9361C32.6162 23.8744 36.5096 20.8957 44.2054 15Z"
            fill="#8E5A30" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.403 29.7547L14 36.7925L19.9923 36.4375H23.8402V33.3971L23.6729 27.1618L22.8212 27.8409L16.403 29.7547Z"
            fill="#F89D35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M20.9365 30.5419L27.9478 30.7116L27.1874 34.354L23.8414 33.4897L20.9365 30.5419Z" fill="#D87C30" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9365 30.6188L23.8414 33.3968V36.1749L20.9365 30.6188Z"
            fill="#EA8D3A" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.8408 33.4892L27.2628 34.3534L28.3731 38.0884L27.6126 38.5206L23.8408 36.2672V33.4892Z" fill="#F89D35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.8407 36.2678L23.1562 41.6542L27.6125 38.5211L23.8407 36.2678Z" fill="#EB8F35" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9456 30.7115L28.371 38.0888L27.0947 34.323L27.9456 30.7115Z"
            fill="#EA8E3A" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M19.9023 36.3604L23.8415 36.2678L23.1571 41.6542L19.9023 36.3604Z" fill="#D87C30" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M15.8859 44L23.1558 41.6541L19.9011 36.3603L14 36.7924L15.8859 44Z" fill="#EB8F35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M27.4307 23.9361L23.7502 27.0691L20.9365 30.5417L27.9478 30.8041L27.4307 23.9361Z" fill="#E8821E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M26.0607 32.2701L27.0036 34.2765L23.6729 33.3967L26.0607 32.2701Z" fill="#393939" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7955 15L27.4303 23.9361L25.4683 19.0745L15.7955 15Z"
            fill="#E88F35" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M15.7946 15L14.2585 19.769L15.1102 24.9856L14.5171 25.3252L15.3688 26.1123L14.6844 26.7142L15.6273 27.5785L15.0342 28.1032L16.403 29.8318L22.8212 27.8409C25.9542 25.2943 27.5055 23.9979 27.4447 23.9361C27.3838 23.8744 23.5056 20.8957 15.7946 15Z"
            fill="#8E5A30" />
        </symbol>
        <symbol id="phantom" viewBox="0 0 128 128">
          <circle cx="64" cy="64" r="64" fill="url(#paint0_linear)" />
          <path
            d="M110.584 64.9142H99.142C99.142 41.7651 80.173 23 56.7724 23C33.6612 23 14.8716 41.3057 14.4118 64.0583C13.936 87.577 36.241 108 60.0186 108H63.0094C83.9723 108 112.069 91.7667 116.459 71.9874C117.27 68.3413 114.358 64.9142 110.584 64.9142ZM39.7689 65.9454C39.7689 69.0411 37.2095 71.5729 34.0802 71.5729C30.9509 71.5729 28.3916 69.0399 28.3916 65.9454V56.8414C28.3916 53.7457 30.9509 51.2139 34.0802 51.2139C37.2095 51.2139 39.7689 53.7457 39.7689 56.8414V65.9454ZM59.5224 65.9454C59.5224 69.0411 56.9631 71.5729 53.8338 71.5729C50.7045 71.5729 48.1451 69.0399 48.1451 65.9454V56.8414C48.1451 53.7457 50.7056 51.2139 53.8338 51.2139C56.9631 51.2139 59.5224 53.7457 59.5224 56.8414V65.9454Z"
            fill="url(#paint1_linear)" />
          <defs>
            <linearGradient id="paint0_linear" x1="64" y1="0" x2="64" y2="128" gradientUnits="userSpaceOnUse">
              <stop stop-color="#534BB1" />
              <stop offset="1" stop-color="#551BF9" />
            </linearGradient>
            <linearGradient id="paint1_linear" x1="65.4998" y1="23" x2="65.4998" y2="108" gradientUnits="userSpaceOnUse">
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0.82" />
            </linearGradient>
          </defs>
        </symbol>
        <symbol id="coinbase" viewBox="0 0 1024 1024">
          <rect width="1024" height="1024" fill="#0052FF" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M152 512C152 710.823 313.177 872 512 872C710.823 872 872 710.823 872 512C872 313.177 710.823 152 512 152C313.177 152 152 313.177 152 512ZM420 396C406.745 396 396 406.745 396 420V604C396 617.255 406.745 628 420 628H604C617.255 628 628 617.255 628 604V420C628 406.745 617.255 396 604 396H420Z"
            fill="white" />
        </symbol>
      </svg>
      <div class="dropdown d-none">
        <button class="btn btn-light dropdown-toggle wallet-options d-flex justify-content-between align-items-center w-100"
          type="button" data-toggle="dropdown" aria-expanded="false">
        </button>
        <div class="dropdown-menu wallet-dropdown-menu">
          
        </div>
      </div>
      <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select wallet</h5>
              <button type="button" class="close wallet-modal-trigger" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modal-body-wallets d-flex flex-column justify-content-center">
              <button class="btn modal-wallet-selection" data-value="#metamask">
                <svg width="50" height="50" class="mr-2">
                  <use xlink:href="#metamask"></use>
                </svg>
                Metamask
              </button>
              <button class="btn modal-wallet-selection" data-value="#phantom">
                <svg width="50" height="50" class="mr-2">
                  <use xlink:href="#phantom"></use>
                </svg>
                Phantom
              </button>
              <button class="btn modal-wallet-selection" data-value="#coinbase">
                <svg width="50" height="50" class="mr-2">
                  <use xlink:href="#coinbase"></use>
                </svg>
                Coinbase
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary wallet-modal-trigger">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav">
      <button type="button" class="btn btn-primary btn-sm wallet-modal-trigger d-none d-sm-inline-block" id="wallet-connection">
        <span id="wallet-connection-text">Connect wallet</span>
      </button>
      <button type="button" class="wallet-modal-trigger d-inline-block d-sm-none" id="wallet-connection-mobile" style="border: none; background-color: transparent;">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"/>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
          <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9235 11.7502C20.9032 11.75 20.8766 11.75 20.8333 11.75H18.2308C16.8074 11.75 15.75 12.8087 15.75 14C15.75 15.1913 16.8074 16.25 18.2308 16.25H20.8333C20.8766 16.25 20.9032 16.25 20.9235 16.2498C20.9427 16.2496 20.948 16.2492 20.948 16.2492C21.154 16.2367 21.2427 16.0976 21.2495 16.0139C21.2495 16.0139 21.2497 16.0077 21.2498 15.9986C21.25 15.9808 21.25 15.9572 21.25 15.9167V12.0833C21.25 12.0609 21.25 12.0437 21.25 12.0297C21.2499 12.0185 21.2499 12.0093 21.2498 12.0014C21.2497 11.9924 21.2495 11.9861 21.2495 11.9861C21.2427 11.9024 21.154 11.7633 20.9479 11.7508C20.9479 11.7508 20.943 11.7504 20.9235 11.7502ZM20.8499 10.25C20.9163 10.25 20.9803 10.2499 21.0391 10.2535C21.9104 10.3066 22.681 10.9638 22.7458 11.8818C22.7501 11.942 22.75 12.0069 22.75 12.067C22.75 12.0725 22.75 12.0779 22.75 12.0833V15.9167C22.75 15.9221 22.75 15.9275 22.75 15.933C22.75 15.9931 22.7501 16.058 22.7458 16.1182C22.681 17.0362 21.9104 17.6934 21.0391 17.7465C20.9803 17.7501 20.9163 17.75 20.8499 17.75C20.8444 17.75 20.8389 17.75 20.8333 17.75H18.2308C16.0856 17.75 14.25 16.1224 14.25 14C14.25 11.8776 16.0856 10.25 18.2308 10.25H20.8333C20.8389 10.25 20.8444 10.25 20.8499 10.25Z" fill="rgb(0, 98, 204)"/> <path d="M19 14C19 14.5523 18.5523 15 18 15C17.4477 15 17 14.5523 17 14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14Z" fill="rgb(0, 98, 204)"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8499 10.25C20.9163 10.25 20.9803 10.2499 21.0391 10.2535C21.2645 10.2672 21.4832 10.3214 21.6847 10.4101C21.5777 8.80363 21.2831 7.56563 20.3588 6.64124C19.6104 5.89288 18.6614 5.56076 17.489 5.40313L17.4467 5.39754C17.4362 5.38977 17.4255 5.38223 17.4145 5.37492L13.679 2.89806C12.3758 2.03398 10.6242 2.03398 9.32102 2.89806L5.58554 5.37492C5.57453 5.38223 5.56377 5.38977 5.55327 5.39754L5.51098 5.40313C4.33856 5.56076 3.38961 5.89288 2.64124 6.64124C1.89288 7.38961 1.56076 8.33856 1.40314 9.51098C1.24997 10.6502 1.24998 12.1058 1.25 13.9436V14.0564C1.24998 15.8942 1.24997 17.3498 1.40314 18.489C1.56076 19.6614 1.89288 20.6104 2.64124 21.3588C3.38961 22.1071 4.33856 22.4392 5.51098 22.5969C6.65019 22.75 8.10583 22.75 9.94359 22.75H13.0564C14.8942 22.75 16.3498 22.75 17.489 22.5969C18.6614 22.4392 19.6104 22.1071 20.3588 21.3588C21.2831 20.4344 21.5777 19.1964 21.6847 17.5899C21.4832 17.6786 21.2645 17.7328 21.0391 17.7465C20.9803 17.7501 20.9163 17.75 20.8499 17.75L20.8333 17.75H20.1679C20.0541 19.0915 19.7966 19.7996 19.2981 20.2981C18.8749 20.7213 18.2952 20.975 17.2892 21.1102C16.2615 21.2484 14.9068 21.25 13 21.25H10C8.09318 21.25 6.73851 21.2484 5.71085 21.1102C4.70476 20.975 4.12511 20.7213 3.7019 20.2981C3.27869 19.8749 3.02502 19.2952 2.88976 18.2892C2.75159 17.2615 2.75 15.9068 2.75 14C2.75 12.0932 2.75159 10.7385 2.88976 9.71085C3.02502 8.70476 3.27869 8.12511 3.7019 7.7019C4.12511 7.27869 4.70476 7.02502 5.71085 6.88976C6.73851 6.75159 8.09318 6.75 10 6.75H13C14.9068 6.75 16.2615 6.75159 17.2892 6.88976C18.2952 7.02502 18.8749 7.27869 19.2981 7.7019C19.7966 8.20043 20.0541 8.90854 20.1679 10.25H20.8333L20.8499 10.25ZM9.94358 5.25H13.0564C13.5729 5.24999 14.0592 5.24999 14.5168 5.25339L12.8501 4.14821C12.0493 3.61726 10.9507 3.61726 10.15 4.14821L8.48318 5.25339C8.94077 5.24999 9.42708 5.24999 9.94358 5.25Z" fill="rgb(0, 98, 204)"/> <path d="M6 9.25C5.58579 9.25 5.25 9.58579 5.25 10C5.25 10.4142 5.58579 10.75 6 10.75H10C10.4142 10.75 10.75 10.4142 10.75 10C10.75 9.58579 10.4142 9.25 10 9.25H6Z" fill="rgb(0, 98, 204)"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M19 14C19 14.5523 18.5523 15 18 15C17.4477 15 17 14.5523 17 14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14Z" fill="rgb(0, 98, 204)"/> </g>
        </svg>
      </button>
      <%= render partial: "shared/theme" %>
      <%= render partial: "shared/locale" %>
    </ul>
  </nav>
</header>

<% if @breadcrumbs %>
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% unless @breadcrumbs.last == breadcrumb %>
          <li class="breadcrumb-item word-wrap"><a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a></li>
        <% else %>
          <li class="breadcrumb-item word-wrap active"><%= breadcrumb[:name] %></li>
        <% end %>
      <% end %>
    </ol>

    <% if bitquery_feed_item %>
      <%= link_to bitquery_feed_item[:link], class: 'nav-link', target: :_blank do %>
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
        <%= bitquery_feed_item[:title] %>
      <% end %>
    <% end %>
  </div>
<% end %>
