<header class="header border-bottom mb-2">
  <nav class="navbar navbar-expand-lg <%= @theme == 'dark' ? 'navbar-dark bg-dark' : "navbar-light" %>">
    <a href="/"><%= image_tag external_image(@theme == 'dark' ? 'bitquery_logo.png' : 'bitquery_logo_w.png'), class: 'd-inline-block align-top logotype' %>
      <strong class="text-primary">BETA</strong>
    </a>

    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav navbar-nav-search">
      <%= render partial: 'shared/search' %>
      </div>
    </div>
    <ul class="nav">
      <%= render partial: "shared/theme" %>
      <%= render partial: "shared/locale" %>
      <%= render partial: "shared/contact" %>
    </ul>
  </nav>
</header>

<% if @breadcrumbs %>
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% unless @breadcrumbs.last == breadcrumb %>
          <li class="breadcrumb-item word-wrap"><a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a></li>
        <% else %>
          <li class="breadcrumb-item word-wrap active"><%= breadcrumb[:name] %></li>
        <% end %>
      <% end %>
    </ol>

    <% if bitquery_feed_item %>
      <%= link_to bitquery_feed_item[:link], class: 'nav-link', target: :_blank do %>
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
        <%= bitquery_feed_item[:title] %>
      <% end %>
    <% end %>
  </div>
<% end %>
