<header class="header border-bottom mb-4">
  <nav class="navbar navbar-expand-lg <%= @theme == 'dark' ? 'navbar-dark bg-dark' : "navbar-light" %>">
    <a href="/"><%= image_tag external_image(@theme == 'dark' ? 'logo_147x40_white_1.svg' : 'logo_147x40_black_1.svg'), class: 'd-inline-block align-top logotype' %></a>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav navbar-nav-search">
      <%= render partial: 'shared/search' %>
      </div>
    </div>
    <ul class="nav">
      <%= render partial: "shared/theme" %>
      <%= render partial: "shared/locale" %>
    </ul>
  </nav>
</header>