<header class="header border-bottom mb-2">
  <div class="col-lg-auto col-12 ad-container mx-auto" style="margin-top: 15px; margin-bottom: 10px;">
      <div style="display: flex; justify-content: center;">
          <ins
              class="adsbyslise"
              style="display:inline-block;width:728px;height:90px"
              data-ad-slot="leaderboard"
              data-ad-pub="pub-11"
              id="ad-ins"
          ></ins>
      </div>

<script type="module">
document.addEventListener('DOMContentLoaded', (event) => {

function isMobileDevice() {
      return /Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }

  let adElement = document.getElementById('ad-ins');
  //let mobileAdContainer = document.getElementById('mobile-ad-container');
  let isMobile = isMobileDevice();

  if(isMobile) {
      adElement.style.display = 'none';
      //mobileAdContainer.appendChild(adElement);
      //adElement.style.width = '270px';
      //adElement.style.height = '90px';
      //adElement.setAttribute('data-ad-format', '270x90');
      //adElement.setAttribute('data-ad-slot', 'mobile-banner');
  } else {
      adElement.setAttribute('data-ad-format', '728x90');
      adElement.setAttribute('data-ad-slot', 'leaderboard-desktop');
  }
  let adsbyslise;
  let adSlot = isMobile ? "mobile-banner" : "leaderboard-desktop";
  (adsbyslise=window.adsbyslise||[]).push({slot:adSlot});
  window.adsbyslisesync&&window.adsbyslisesync();
});

</script>

  </div>
  <nav class="navbar navbar-expand-lg <%= @theme == 'dark' ? 'navbar-dark bg-dark' : "navbar-light" %>">

    <a href="/"><%= image_tag (@theme == 'dark' ? 'bitquery_logo.png' : 'bitquery_logo_w.png'), class: 'd-inline-block align-top logotype' %>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav navbar-nav-search">
      <%= render partial: 'shared/search' %>
      </div>
    </div>
  </nav>
</header>

<script async src="https://v1.slise.xyz/scripts/embed.js"></script>

<% if @breadcrumbs %>
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% unless @breadcrumbs.last == breadcrumb %>
          <li class="breadcrumb-item word-wrap"><a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a></li>
        <% else %>
          <li class="breadcrumb-item word-wrap active"><%= breadcrumb[:name] %></li>
        <% end %>
      <% end %>
    </ol>

    <% if bitquery_feed_item %>
      <%= link_to bitquery_feed_item[:link], class: 'nav-link', target: :_blank do %>
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
        <%= bitquery_feed_item[:title] %>
      <% end %>
    <% end %>
  </div>
<% end %>
