<%= form_tag search_path(), class: 'search-form' do %>
  <div class="input-group">
    <%= text_field_tag :query, @query, id: nil, class: "form-control form-control-sm placeholder-color", placeholder: t('find_placeholder') %>
    <div class="input-group-append">
      <% if @network %>
        <button type="button" class="btn  btn-sm search-form-type d-none d-lg-inline-block bg-custom-purple button-transition" data-network="<%= @network[:network] %>"><%= t('find_in', network: @network[:name]) %></button>
        <button type="button" class="btn  btn-sm search-form-type d-lg-none" data-network="<%= @network[:network] %>"><%= network_icon @network, {class: 'search-icon'} %><i class="fa fa-search search-icon"></i></button>
    <% else  %>
        <button type="button" class="btn  btn-sm search-form-type d-none d-lg-inline-block bg-custom-purple button-transition"><%= t('find') %></button>
        <button type="button" class="btn  btn-sm search-form-type d-lg-none bg-custom-purple button-transition"><i class="fa fa-search"></i></button>
    <% end %>
      <button type="button" class="btn  btn-sm dropdown-toggle dropdown-toggle-split bg-custom-purple button-transition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu dropdown-menu-right">
        <% if @network %>
          <a class="dropdown-item search-form-type" data-network=""><%= t('find_all') %></a>
        <% end %>
        <% BLOCKCHAINS.each do |blockchain| %>
          <% next if @network && (blockchain[:network] == @network[:network]) %>
          <a class="dropdown-item search-form-type" data-network="<%= blockchain[:network] %>"><%= t('find_in', network: blockchain[:name]) %></a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script type="module">
    search('.search-form');
</script>
