<%= form_tag search_path, id: 'search-form' do %>
  <div class="row search mb-4">
    <div class="col"><input type="text" name="query" value="<%= @query %>" class="form-control" placeholder="Enter token symbol, keyword, address, or tx hash (0x...)"></div>
    <div class="col-auto">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary"><%= t('find') %></button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <% BLOCKCHAINS.each do |blockchain| %>
            <a class="dropdown-item search-form-type" data-network="<%= blockchain[:network] %>"><%= t('find_in', network: blockchain[:name]) %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    $('#search-form .search-form-type').click(function(){
        $('<input />').
        attr('type', 'hidden').
        attr('name', 'network').
        attr('value', $(this).data('network')).
        appendTo('#search-form');
        $('#search-form').submit();
        return false;
    });
</script>