<ul class="nav nav-tabs mb-4">
  <li class="nav-item dropdown d-block d-md-none">
    <% tabs.each do |tab| %>
      <% next if params[:action] != tab %>
      <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= new_tab t("tabs.#{controller.controller_name}.#{tab}.name"), tab, @network, (defined?(new_tabs) && new_tabs || []) %>
      </a>
      <div class="dropdown-menu">
        <% tabs.each do |tab| %>
          <% if tab == 'money_flow_lite' %>
            <a class="nav-link underline-link" href="https://lite.bitquery.io/?chain=<%= @network[:network] %>&address=<%= @address %>" target="_blank">
              <%= t('tabs.money_flow_lite.name') %>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-1" style="vertical-align: baseline;">
                <path d="M15 3h6v6"/>
                <path d="M10 14 21 3"/>
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
              </svg>
            </a>
          <% else %>
            <%= tab_a t("tabs.#{controller.controller_name}.#{tab}.name"), tab, @network, (defined?(new_tabs) && new_tabs || []), 'dropdown-item' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </li>
  <% tabs.each do |tab| %>
    <% if tab == 'money_flow_lite' %>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link underline-link" href="https://lite.bitquery.io/?chain=<%= @network[:network] %>&address=<%= @address %>" target="_blank">
          <%= t('tabs.money_flow_lite.name') %>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-1" style="vertical-align: baseline;">
            <path d="M15 3h6v6"/>
            <path d="M10 14 21 3"/>
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
          </svg>
        </a>
      </li>
    <% else %>
      <%= tab_link t("tabs.#{controller.controller_name}.#{tab}.name"), tab, @network, (defined?(new_tabs) && new_tabs || []), 'nav-item d-none d-md-block' %>
    <% end %>
  <% end %>
  <%= render partial: 'shared/ads/tab' %>
</ul>