<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.miners') %></div>
      <div class="card-body">
        <div id="miners"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query (
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    tron{
                      blocks(options:{desc: "count", limit: $limit, offset: $offset},
                        date: {since: $from till: $till }
                        ) {

                          address: miner {
                            address
                            annotation
                          }

                          count
                          reward

                          min_date: minimum(of: date)
                          max_date: maximum(of: date)

                      }
                    }
                  }`);

        new widgets.table('#miners', query, 'tron.blocks', {
            title: '<%= t('widgets.headers.miners') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.miner') %>',
                    type: 'string',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.block_count') %>',
                    type: 'string',
                    path: 'count'
                },


                {
                    title: '<%= t('widgets.titles.first_block_date') %>',
                    path: 'min_date'
                },

                {
                    title: '<%= t('widgets.titles.last_block_date') %>',
                    path: 'max_date'
                },

                {
                    title: '<%= t('widgets.titles.block_reward') %>, <%= @network[:currency] %>',
                    type: 'amount',
                    path: 'reward'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });
    });
</script>