<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_currencies') %></div>
    <div class="card-body">
      <div id="transfers_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query (
                  $limit: Int!,
                  $offset: Int!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                   tron{
                    transfers(
                        options: {desc: "count", limit: $limit, offset: $offset}
                        amount: {gt: 0}
                        time: {since: $from, till: $till}
                    ) {
                        currency {
                        symbol
                        address
                        }
                        count
                        senders: count(uniq: senders)
                        receivers: count(uniq: receivers)
                        amount
                        amount_usd: amount(in: USD)
                    }
                        }
                    }`);

        new widgets.table('#transfers_by_currencies', query, 'tron.transfers', {
            title: '<%= t('widgets.headers.transfers_by_currencies') %>',
            dataOptions: [

                {
                  title: '<%= t('widgets.titles.currency') %>',
                  type: 'string-ellipsis',
                  path: ['currency.symbol','currency.name','currency.address'],
                  urlCallbackName: 'token_path'
              },
              {
                  title: '<%= t('widgets.titles.uniq_senders') %>',
                  path: 'senders'
              },
              {
                  title: '<%= t('widgets.titles.uniq_receivers') %>',
                  path: 'receivers'
              },
              {
                  title: '<%= t('widgets.titles.transfer_amount') %>',
                  path: 'amount',
                  type: 'amount'
              },
                {
                    title: '',
                    data: '',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: '""'} %>
                },
                {
                    title: '<%= t('widgets.titles.transfer_count') %>',
                    path: 'count'
                },
            ]
        });

      <% from, till = date_range_from_now(24, :hours) %>
      queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
          network: '<%= params['network']['network'] %>'
      });

    });
</script>