<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.token_statistics') %></div>
    <div class="card-body">
      <div id="token_statistics"><%= t('loading') %></div>
    </div>
  </div> 
</div>

<script>
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $currency: String!) {
        everscale(network: $network) {
          transfers(
            options: {desc: "count", asc: "currency.symbol", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            currency: {is: $currency}
          ) {
            currency {
              symbol
            }
            count
            amount

            senders_count: count(uniq: senders)
            receivers_count: count(uniq: receivers)
            days: count(uniq: dates)

            first_date_transfer: minimum(of: date)
            last_date_transfer: maximum(of: date)

            median: amount(calculate: median)
            average: amount(calculate: average)
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#token_statistics', query, 'everscale.transfers', {
      title: '<%= t('widgets.headers.token_statistics') %>',
      renderData: function (data) {
          item = data[0];
          return !item ? [] : [
              {name: '<%= t('widgets.titles.transfer_count') %>', value: item.count},

              {name: '<%= t('widgets.titles.uniq_senders') %>', value: item.senders_count},
              {name: '<%= t('widgets.titles.uniq_receivers') %>', value:item.receivers_count},

              {name: '<%= t('widgets.titles.total_amount') %>', value: item.amount+' '+escapeHtml(item.currency.symbol)},

              {name: '<%= t('widgets.titles.median_amount') %>', value: item.median+' '+escapeHtml(item.currency.symbol)},
              {name: '<%= t('widgets.titles.average_amount') %>', value: item.average+' '+escapeHtml(item.currency.symbol)},


              {name: '<%= t('widgets.titles.first_transfer_date') %>', value: item.first_date_transfer},
              {name: '<%= t('widgets.titles.last_transfer_date') %>', value: item.last_date_transfer},
              {name: '<%= t('widgets.titles.transfer_days') %>', value: item.days},

          ];
      },
      dataOptions: [
        {
          title: '<%= t('widgets.titles.metric') %>',
          type: 'string-ellipsis',
          path: 'name',
          html_class: 'text-info font-weight-bold'
        },
        {
          title: '<%= t('widgets.titles.property_value') %>',
          type: 'string-ellipsis',
          escape: false,
          path: 'value',
          urlCallbackName: 'property_value_path'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
      currency: "<%= @token %>",
      network: '<%= params['network']['network'] %>'
    });
  });
</script>

