<div class="col-lg-4 mb-4">
  <div class="card">
    <div class="card-header">
      <%= network_icon chain %>
      <%= link_to t('pages.home.blockchain', network: chain[:name]), "/#{chain[:network]}" %>
    </div>
    <div class="card-body">
      <div id="<%= chain[:tag] %>"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`<%= query.html_safe %>`);

        new widgets.chartByTime('#<%= chain[:tag] %>', query, 'chain.transactions', {
            title: '<%= t('widgets.headers.transactions_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.transactions_count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
                height: 240,
                chartArea:{left: '20%', right: 0, top: '5%', bottom: '15%'}
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.month') %>', type: 'date' },
                    path: 'date.month'
                },
                {
                    title: {label: '<%= t('widgets.titles.transactions_count') %>', type: 'number'},
                    path: 'count'
                },

            ]
        });
        query.request({network: '<%= chain[:network] %>', dateFormat: dateRangeReportFormat(),  from: null, till: null});
    });
</script>
<style>
  .widgets-set-units{
    bottom: -6px;
    font-size: 12px;
  }
  .widgets-revert-zoom{
    bottom: -6px;
    padding: 0px 2px;
    font-size: 12px;
    right: 0;
  }
</style>