
<% for group in BLOCKCHAINS.group_by{|bc| bc[:platform]} %>

  <h4><%= t "pages.home.family", family: group.first %></h4>
  <ul class="list-unstyled">
    <% for chain in group.second %>
    <li><%= network_icon chain %>
      <%= link_to chain[:name], "/#{chain[:path]}" %>
    </li>
    <% end %>
  </ul>

<% end %>

<% for group in DATASETS.group_by{|bc| bc[:family]} %>

  <h4><%= t "pages.home.offchain", family: group.first.capitalize %></h4>
  <ul class="list-unstyled">
    <% for dataset in group.second %>
      <li>
        <%= dataset_icon dataset %>
        <%= link_to dataset[:name], "/#{dataset[:path]}" %>
      </li>
    <% end %>
  </ul>

<% end %>