<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header">
      <% if @token_info && @token_info.name && @token_info.symbol %>
        <%= t('widgets.headers.outbound_native_by_time_token', currency: @network[:currency], token_name: @token_info.name, token_symbol: @token_info.symbol) %>
      <% else %>
        <%= t('widgets.headers.outbound_native_by_time', currency: @network[:currency]) %>
      <% end %>
    </div>
    <div class="card-body">
      <div id="outbound_native_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    const query = new widgets.query(`
      query (
        $network: EthereumNetwork!,
        $dateFormat: String!,
        $nativeCurrency: String!,
        $address: String!,
        $from: ISO8601DateTime,
        $till: ISO8601DateTime
      ) {
        ethereum(network: $network) {
          transfers(
            options: { asc: "date.date" },
            date: { since: $from, till: $till },
            sender: { is: $address },
            amount: { gt: 0 },
            currency: { is: $nativeCurrency }
          ) {
            date {
              date(format: $dateFormat)
            }
            count: countBigInt
            amount
          }
        }
      }
    `);

    new widgets.chartByTime('#outbound_native_by_time', query, 'ethereum.transfers', {
      title: '<%= t('widgets.headers.outbound_native_by_time', currency: @network[:currency]) %>',
      chartOptions: {
        vAxes: {
          '0': {
            title: '<%= t('widgets.titles.volume_in', currency: @network[:currency]) %>'
          },
          '1': {
            title: '<%= t('widgets.titles.receive_count') %>'
          }
        },
        seriesType: 'bars',
        series: {
          '0': { color: 'lightgreen' },
          '1': { color: '#28a745', type: 'line', targetAxisIndex: 1, lineWidth: 3, pointsVisible: true, pointShape: 'diamond', pointSize: 12 }
        }
      },
      dataOptions: [
        {
          title: { label: '<%= t('widgets.titles.date') %>', type: 'date' },
          path: 'date.date'
        },
        {
          title: { label: '<%= t('widgets.titles.volume_in', currency: @network[:currency]) %>', type: 'number' },
          path: 'amount'
        },
        {
          title: { label: '<%= t('widgets.titles.receive_count') %>', type: 'number' },
          path: 'count'
        }
      ]
    });

    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';
    const network = '<%= j params["network"]["network"] %>';
    const address = '<%= j @address %>';
    const nativeCurrency = '<%= j @network[:currency] %>';

    queryWithTimeRange(rr, query, fromDate, tillDate, {
      network: network,
      address: address,
      nativeCurrency: nativeCurrency
    });
  });
</script>
