<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card">
      <div class="card-header">Cumulative case count in <%= @name %>, by day</div>
      <div class="card-body">
        <div id="total"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    var totalConf = 0;
    var totalRec = 0;
    var totalDet = 0;

    new widgets.chart('#total', daily_query, 'offchain.covid.facts', {
        title: 'Daily stats',
        renderData: function(data){
            let totalConf = 0, totalRec = 0, totalDet = 0, new_data = [];

            _.each(data, function(item){
                totalConf += item.confirmed;
                totalRec += item.recovered;
                totalDet += item.deaths;

                new_data.push({
                    date: item.date,
                    confirmed: totalConf,
                    recovered: totalRec,
                    deaths: totalDet
                });
            });
            return new_data;
        },
        chartOptions: {
            explorer: {
                axis: 'horizontal',
                keepInBounds: true,
                maxZoomOut: 1,
                maxZoomIn: 40
            },
            pointSize: 2,
            vAxes: {
                '0': {
                    title: 'Total Cases'
                }
            },
            hAxis: <%= render partial: 'shared/date_axis.json' %>,
            seriesType: 'line',
            colors: [ '#ffc107', 'lightgreen', 'red']
        },
        dataOptions: [
            {
                title: {label: "<%= t('widgets.titles.date') %>", type: "date"},
                path: 'date.date'
            },
            {
                title: 'Cumulative Confirmed cases',
                path: 'confirmed',
                renderCallbackName: 'totalConfirmed'
            },
            {
                title: 'Cumulative Recovered cases',
                path: 'recovered',
                renderCallbackName: 'totalRecovered'
            },
            {
                title: 'Cumulative Death cases',
                path: 'deaths',
                renderCallbackName: 'totalDeath'
            }
        ]
    });

    daily_query.request({from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
</script>