<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_currencies') %></div>
    <div class="card-body">
      <div id="transfers_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {

      const qraphql_query = `
        query ($network: EverscaleNetwork!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
          everscale(network: $network) {
            transfers(
              options:{ desc: "count" asc: "currency.symbol" limit: 20 },
              date: {since: $from, till: $till}
            ) {
              currency {
                symbol
              }
              count: countBigInt
            }
          }
        }
      `.trim();

      const query = new widgets.query(qraphql_query);

      new widgets.chartByTime('#transfers_by_currencies', query, 'everscale.transfers', {
          title: '<%= t('widgets.headers.transfers_by_currencies') %>',
          chartType: 'PieChart',
          chartOptions: {
            pieSliceText: 'label',
            pieHole: 0.4,
          },
          dataOptions: [
            {
              title: {label: '<%= t('widgets.titles.date') %>' },
              path: 'currency.symbol'
            },
            {
              title: {label: '<%= t('widgets.titles.transfer_count') %>', type: 'number' },
              path: 'count'
            },

          ]
      });

      queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
          network: '<%= params['network']['network'] %>'
      });
    });
</script>

