<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.tx_transfers') %></div>
      <div class="card-body">
        <div id="tx_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query (
                                  $hash: String!,
                                  $limit: Int!,
                                  $offset: Int!){
                              tron{
                                transfers(options:{
                                  limit: $limit, offset: $offset},
                                  amount: {gt: 0},
                                  txHash:{is: $hash}) {


                                  sender {
                                    address
                                    annotation
                                  }

                                  receiver {
                                    address
                                    annotation
                                  }

                                  amount

                                  currency {
                                    symbol
                                    address
                                    tokenId
                                    tokenType
                                  }


                                }
                              }
                            }`);

        new widgets.table('#tx_transfers', query, 'tron.transfers', {
            title: '<%= t('widgets.headers.tx_transfers') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string-ellipsis',
                    path: ['sender.annotation','sender.address'],
                    urlCallbackName: 'sender_address_path'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },
                {
                    title: '<%= t('widgets.titles.receiver') %>',
                    type: 'string-ellipsis',
                    path: ['receiver.annotation','receiver.address'],
                    urlCallbackName: 'receiver_address_path'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path'
                }
            ]
        });

        query.request({

            hash: '<%= @hash %>'
        });


    });

</script>