<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
    <div class="card-body">
      <div id="tx_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script>

    $( document ).ready(function() {


        var query = new widgets.query(`query (
                              $hash: String!){
                          tron{
                            transactions(txHash: {is: $hash}
                          ){

                                block {
                                        height
                                        timestamp {
                                          time (format: "%Y-%m-%d %H:%M:%S")
                                        }
                                      }


                                      success


                                      contractAddress{
                                        address
                                        annotation
                                      }

                                      fee
                                      fee_usd: fee(in: USD)
                                      feeLimit
                                      netFee
                                      net_fee_usd: netFee(in: USD)
                                      energyFee
                           }
                          }
                        }`);



        new widgets.table('#tx_info', query, 'tron.transactions', {
            title: '<%= t('widgets.headers.tx_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.block') %>', value: item.block.height, block: item.block},
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.block.timestamp.time},
                    {name: '<%= t('widgets.titles.smart_contract') %>', value: (item.contractAddress.annotation || item.contractAddress.address), address: item.contractAddress},
                    {name: '<%= t('widgets.titles.fee') %>', value: item.fee + <%= render partial: 'ethereum/data_currency_with_amount_usd.text', locals: {amount: 'item.fee_usd'} %>},
                    {name: '<%= t('widgets.titles.netfee') %>', value: item.netFee + <%= render partial: 'ethereum/data_currency_with_amount_usd.text', locals: {amount: 'item.net_fee_usd'} %>},
                    {name: '<%= t('widgets.titles.energyfee') %>', value: item.energyFee},
                    {name: '<%= t('widgets.titles.feelimit') %>', value: item.feeLimit},
                    {name: '<%= t('widgets.titles.success') %>', value: item.success + ' ' + item.error },

                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 110px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({

            hash: '<%= @hash %>'
        });

    });
</script>