<div class="col-12 col-lg-6 mb-4">
  <div class="card">
      <div class="card-header">
        <% if @token_info %>
          <%= t('widgets.headers.currency_smart_contract_methods_called_table', token_name: @token_info.name, token_symbol: @token_info.symbol) %>
        <% else %>
          <%= t('widgets.headers.smart_contract_methods_called_table') %>
        <% end %>
      </div>
    <div class="card-body">
      <div id="smart_contract_methods_called_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`query (
                                $address: String!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                            tron{
                              smartContractCalls(options:{desc: "count", limit: $limit, offset: $offset},
                                date: {since: $from till: $till },
                                txFrom: {is: $address} ) {

                                smartContractMethod {
                                  name
                                  signatureHash
                                }

                                max_date: maximum(of: date)

                                count
                                uniq_contracts: count(uniq: smart_contracts)
                                fee(calculate: average)
                                fee_usd: fee(in: USD, calculate: average)
                              }
                            }
                          }`);

        new widgets.table('#smart_contract_methods_called_table', query, 'tron.smartContractCalls', {
            title: '<%= t('widgets.headers.smart_contract_methods_called_table') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.method') %>',
                    type: 'string',
                    path: ['smartContractMethod.name','smartContractMethod.signatureHash'],
                    urlCallbackName: 'smart_contract_method_path'
                },
                {
                    title: '<%= t('widgets.titles.max_date') %>',
                    type: 'string',
                    path: 'max_date'
                },
                {
                    title: '<%= t('widgets.titles.avg_fee_value') %>',
                    type: 'amount',
                    path: 'fee'
                },
                {
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd.text', locals: {currency: '""', amount: 'item.fee_usd'} %>
                },
                {
                    title: '<%= t('widgets.titles.uniq_contracts') %>',
                    type: 'count',
                    path: 'uniq_contracts'
                },
                {
                    title: '<%= t('widgets.titles.calls_count') %>',
                    type: 'count',
                    path: 'count',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'call_method_count_path'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{

            address: '<%= @address %>'
        });


    });

</script>