<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.trades_by_currencies') %></div>
    <div class="card-body">
      <div id="trades_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    tron {
                      trades(
                      options:{desc: "count", limit: 20},
                      date: {
                        since: $from
                        till: $till}
                      any: [{seller: {is: $address}}, {buyer: {is: $address}}]
                      ) {
                          buyCurrency {
                            symbol
                            tokenId
                          }

                          sellCurrency {
                            symbol
                            tokenId
                          }
                          count
                      }
                    }
                  }`);

        new widgets.chart('#trades_by_currencies', query, 'tron.trades', {
            title: '<%= t('widgets.headers.trades_by_currencies') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea:{left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.trade_pair') %>',
                    renderCallback: function(item){
                        return item.buyCurrency.symbol + ':' + item.sellCurrency.symbol;
                    },
                },
                {
                    title: '<%= t('widgets.titles.unique_orders') %>',
                    path: 'count'
                },

            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            address: '<%= @address %>'
        });

    });
</script>