<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('tabs.address.graph.name') %></div>
      <div class="card-body" style="padding: 0">
        <div id="graph"></div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/bitquery/graphs/dist/graphs.min.css">
  <script src="https://cdn.jsdelivr.net/gh/bitquery/graphs/dist/graphs.min.js"></script>
<script>
    $(document).ready(function() {
        const query = new graphs.query(`
query ($network: BitcoinNetwork!, $address: String!, $limit: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
  bitcoin(network: $network) {
    inbound: coinpath(receiver: {is: $address}, options: {desc: "amount", limit: $limit}, date:{since: $from, till: $till}) {
      sender {
        address
        annotation
      }
      receiver {
        address
        annotation
      }
      amount
    }
    outbound: coinpath(sender: {is: $address}, receiver: {not: ""}, options: {desc: "amount", limit: $limit}, date:{since: $from, till: $till}) {
      sender {
        address
        annotation
      }
      receiver {
        address
        annotation
      }
      amount
    }
  }
}

        `)

        new graphs.address_graph('#graph', query, {
            title: '<%= t('tabs.address.graph.name') %>',
            theme: '<%= @theme %>',
            buttons: ['JS', 'GraphQL'],
            network: "<%= params['network']['network'] %>",
            currency: '<%= params['network']['currency'] %>'
        })

        queryWithTimeRange(rr, query, <%= @from.html_safe %>, <%= @till.html_safe %>, {"limit": 10, "offset": 0, "network": "<%= params['network']['network'] %>", "address": "<%= @address %>"})
    })
</script>
</div>