<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card'>
      <div id='Senders'></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card'>
      <div id='SendersStats'></div>
    </div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='UniqSenders'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='MedianTransferAmount'></div>
  </div>
</div>
<script>
    class Senders extends BarChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'senders', cell: function (row) {
                            return row.Transfer.Sender
                        }
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return +row.amount
                        }
                    },
                ],
                options: {
                    isStacked: true,
                    theme: 'material'
                }
            }
        }
    }

    class SendersStats extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderJustAddressLink, headerStyle: {width: '25%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Max Transfer Amount', cell: function (row) {
                            return row.Transfer.max_amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,headerStyle: {width: '80px'},
                    },
                    {
                        name: 'Uniq Receiver', cell: function (row) {
                            return row.receiver_count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Last Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transfer Count', cell: function (row) {
                            return row.count
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    class UniqSenders extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Uniq Senders', cell: function (row) {
                            return +row.count
                        }
                    },
                ],
                options: {
                    theme: 'material'
                }
            }
        }
    }

    class MedianTransferAmount extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0]?.ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'median transfer amount', cell: function (row) {
                            return row.median
                        }
                    },
                ],
                options: {
                    theme: 'material'
                }
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
        limit: 10,
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>',[[Senders, '#Senders']], 'Senders', variables);
        renderComponent('<%=@streaming_access_token %>',[[SendersStats, '#SendersStats']], 'Senders-Stats_1_1', variables);
        renderComponent('<%=@streaming_access_token %>',[[UniqSenders, '#UniqSenders']], 'Uniq-Senders_1', variables);
        renderComponent('<%=@streaming_access_token %>',[[MedianTransferAmount, '#MedianTransferAmount']], 'Median-Transfer-Amount_1', variables);
    })
</script>
