<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_blocks') %></div>
      <div class="card-body">
        <div id="latest_blocks"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ( $network: FilecoinNetwork!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    filecoin(network: $network){
                      blocks(options:{desc: "height", limit: $limit, offset: $offset},
                        date: {since: $from till: $till }
                        ) {


                          timestamp {
                            time (format: "%Y-%m-%d %H:%M:%S")
                          }
                                                    height

                        	count
                        messageCount
                        reward
                        minerTips
                      }
                    }
                  }`);

        new widgets.table('#latest_blocks', query, 'filecoin.blocks', {
            title: '<%= t('widgets.headers.latest_blocks') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.timestamp') %>',
                    type: 'string',
                    path: 'timestamp.time'
                },
                {
                    title: '<%= t('widgets.titles.height') %>',
                    path: 'height',
                    urlCallbackName: 'height_path'
                },
                {
                    title: '<%= t('widgets.titles.transactions_count') %>',
                    path: 'count'
                },
                {
                    title: '<%= t('widgets.titles.messages_count') %>',
                    path: 'messageCount'
                },
                {
                    title: '<%= t('widgets.titles.miners_block_reward') %>',
                    path: 'reward'
                },
                {
                    title: '<%= t('widgets.titles.miners_tips') %>',
                    path: 'minerTips'
                }
            ]
        });

        queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });

    });

</script>