<div class="row">


  <div class="col-6 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.messages_by_method') %></div>
      <div class="card-body">
        <div id="messages_by_method"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
                        query ($network: FilecoinNetwork!,
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    filecoin(network: $network){

                         by_method: messages( options: {desc: "count"} date: {since: $from till: $till }) {
                              count
                              method {name }
                         }
                    }
                  }`);



        new widgets.chart('#messages_by_method', query, 'filecoin.by_method', {
            title: '<%= t('widgets.headers.messages_by_method') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea:{left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.name') %>',
                    path: 'method.name'
                },
                {
                    title: '<%= t('widgets.titles.count') %>',
                    path: 'count'
                },

            ]
        });


        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });

    });

</script>