<div class="row">

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.messages_by_time') %></div>
      <div class="card-body">
        <div id="messages_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.message_senders') %></div>
      <div class="card-body">
        <div id="message_senders"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: FilecoinNetwork!,
                  $dateFormat: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    filecoin(network: $network ){
                      messages(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}

                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt
                        senders: countBigInt(uniq: senders)
                      }
                    }
                  }`);

        new widgets.chartByTime('#messages_by_time', query, 'filecoin.messages', {
            title: '<%= t('widgets.headers.messages_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.messages_count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.messages_count') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        new widgets.chartByTime('#message_senders', query, 'filecoin.messages', {
            title: '<%= t('widgets.headers.message_senders') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.uniq_callers') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.uniq_callers') %>', type: 'number' },
                    path: 'senders'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
