<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_sharded_blocks') %></div>
      <div class="card-body">
        <div id="latest_sharded_blocks"><%= t('loading') %></div>
      </div>
    </div> </div>
</div>

<script>

  $( document ).ready(function() {

    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        everscale(network: $network) {
          blocks(
            options: {desc: "timestamp.time", limit: $limit, offset: $offset}
            date: {since: $from, till: $till} 
            shardedBlockWorkchain: {is: 0}
          ) {
            timestamp {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            shardedBlock{
              height
              shard
              hash 
            }
            hash
            txCount
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_sharded_blocks', query, 'everscale.blocks', {
      title: '<%= t('widgets.headers.latest_sharded_blocks') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'timestamp.time'
        },
        {
          title: '<%= t('widgets.titles.block') %>',
          type: 'string',
          path: 'shardedBlock.height'
        },
        {
          title: '<%= t('widgets.titles.shard') %>',
          type: 'string',
          path: 'shardedBlock.shard'
        },
        {
          title: '<%= t('widgets.titles.hash') %>',
          type: 'string',
          path: 'shardedBlock.hash',
          urlCallbackName: 'sharded_block_hash_path'
        },
        {
          title: '<%= t('widgets.titles.transactions_count') %>',
          type: 'string',
          path: 'txCount'
        },
        {
          title: '<%= t('widgets.titles.master_block_hash') %>',
          type: 'string-ellipsis',
          path: 'hash',
          urlCallbackName: 'block_hash_path'
        }
      ]
    });

    queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
      network: '<%= params['network']['network'] %>'
    });
  });
</script>



