<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.trades_by_currencies') %></div>
    <div class="card-body">
      <div id="trades_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query (
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    binance {
                      trades(
                      options:{desc: "count" asc: "quoteCurrency.symbol" limit: 20},
                      date: {
                        since: $from
                        till: $till}

                      ) {
                          quoteCurrency {
                            symbol
                            tokenId
                          }

                          baseCurrency {
                            symbol
                            tokenId
                          }
                          count
                      }
                    }
                  }`);

        new widgets.chart('#trades_by_currencies', query, 'binance.trades', {
            title: '<%= t('widgets.headers.trades_by_currencies') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea:{left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.trade_pair') %>',
                    renderCallback: function(item){
                        return item.quoteCurrency.symbol + ':' + item.baseCurrency.symbol;
                    },
                },
                {
                    title: '<%= t('widgets.titles.unique_orders') %>',
                    path: 'count'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>);


    });
</script>