<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_transactions') %></div>
      <div class="card-body">
        <div id="latest_transactions"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script type="module">
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: FlowNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $id: String!) {
        flow(network: $network) {
          transactions(
            options: {desc: "time.time", limit: $limit, offset: $offset, asc: "indexInCollection"}
            date: {since: $from, till: $till}
            collectionId: {is: $id}
          ) {
            time {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            id
            indexInCollection
            eventsCount
            statusCode
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_transactions', query, 'flow.transactions', {
      title: '<%= t('widgets.headers.latest_transactions') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'time.time'
        },
        {
          title: '<%= t('widgets.titles.transaction_id') %>',
          type: 'string',
          path: 'id',
          urlCallbackName: 'transaction_by_id'
        },
        {
          title: '<%= t('widgets.titles.index_in_collection') %>',
          type: 'string',
          path: 'indexInCollection'
        },
        {
          title: '<%= t('widgets.titles.events_count') %>',
          type: 'string',
          path: 'eventsCount'
        },
        {
          title: '<%= t('widgets.titles.status_code') %>',
          type: 'string',
          path: 'statusCode'
        },
      ]
    });

    query.request({
      id: '<%= @id %>',
      network: '<%= params['network']['network'] %>'
    });
  });
</script>

