<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_messages') %></div>
      <div class="card-body">
        <div id="latest_messages"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script>
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        everscale(network: $network) {
          messages(
            options: {desc: "timestamp.time", limit: $limit, offset: $offset}
            time: {since: $from, till: $till}
          ) {
            timestamp {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            shardedBlock {
              hash
            }
            transactions{
              hash
            }
            hash
            sender{
              address
            }
            receiver{
              address
            }
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_messages', query, 'everscale.messages', {
      title: '<%= t('widgets.headers.latest_messages') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'timestamp.time'
        },
        {
          title: '<%= t('widgets.titles.block_hash') %>',
          type: 'string-ellipsis',
          path: 'shardedBlock.hash',
          urlCallbackName: 'sharded_hash_path'
        },
        {
          title: '<%= t('widgets.titles.transaction_hash') %>',
          type: 'string-ellipsis',
          path: 'transactions.hash',
          urlCallbackName: 'transaction_hash_path'
        },
        {
          title: '<%= t('widgets.titles.message_hash') %>',
          type: 'string',
          path: 'hash',
          urlCallbackName: 'message_path'
        },
        {
          title: '<%= t('widgets.titles.sender') %>',
          type: 'string-ellipsis',
          path: ['sender.address'],
          urlCallbackName: 'sender_address_path'
        },
        {
          title: '',
          type: 'string',
          data: '<i class="fa fa-sign-in text-success"></i>',
          html_class: 'text-center'
        },
        {
          title: '<%= t('widgets.titles.receiver') %>',
          type: 'string-ellipsis',
          path: ['receiver.address'],
          urlCallbackName: 'receiver_address_path'
        },
      ]
    });

      <% from, till = date_range_from_now(30, :minutes) %>
      queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
          network: '<%= params['network']['network'] %>'
      });

  });
</script>

