<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.calls_smart_contracts') %></div>
      <div class="card-body">
        <div id="latest_calls"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query (
                                $limit: Int!,
                                $offset: Int!
                                $date: ISO8601DateTime,
                                $height: Int){
                    eos{
                      smartContractCalls(options:{ limit: $limit, offset: $offset},
                        date: {is: $date } height: {is: $height}
                        ) {


                          address: txFrom {
                            address
                            annotation
                          }

                          smartContract{
                            address{
                              address
                              annotation
                            }
                          }
                          smartContractMethod {
                            name
                            signatureHash
                          }

                          txHash


                      }
                    }
                  }`);

        new widgets.table('#latest_calls', query, 'eos.smartContractCalls', {
            title: '<%= t('widgets.headers.latest_calls') %>',
            dataOptions: [


                {
                    title: '<%= t('widgets.titles.caller') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.smart_contract') %>',
                    type: 'string-ellipsis',
                    path: ['smartContract.address.annotation', 'smartContract.address.address'],
                    urlCallbackName: 'smart_contract_path'
                },
                {
                    title: '<%= t('widgets.titles.method') %>',
                    type: 'string',
                    path: ['smartContractMethod.name','smartContractMethod.signatureHash'],
                    urlCallbackName: 'smart_contract_method_path',
                    style: 'width: 130px'
                },
                {
                    title: '<%= t('widgets.titles.hash') %>',
                    type: 'string-ellipsis',
                    path: 'txHash',
                    urlCallbackName: 'transaction_path'
                },
            ]
        });

        query.request({
            height: <%= @height %>, date: '<%= @block_date %>', network: '<%= @network[:network] %>'
        });
    });

</script>