<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.inbound_transfers') %></div>
      <div class="card-body">
        <div id="inbound_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: AlgorandNetwork!,
                                $address: String!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    algorand(network: $network){
                      transfers(options:{desc: "block.timestamp.time", limit: $limit, offset: $offset},
                        date: {since: $from till: $till },
                        amount: {gt: 0},
                        receiver: {is: $address}) {

                        block {
                          timestamp {
                            time (format: "%Y-%m-%d %H:%M:%S")
                          }
                          height
                        }
                        address: sender {
                          address
                          annotation
                        }
                        currency {
                          tokenId
                          symbol
                        }
                        amount

                        transferType
                        transaction {
                          hash
                        }

                      }
                    }
                  }`);

        new widgets.table('#inbound_transfers', query, 'algorand.transfers', {
            title: '<%= t('widgets.headers.inbound_transfers') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.timestamp') %>',
                    type: 'string',
                    path: 'block.timestamp.time',
                    style: 'width: 180px'
                },
                {
                    title: '<%= t('widgets.titles.block') %>',
                    type: 'string',
                    path: 'block.height',
                    urlCallbackName: 'block_path',
                    style: 'width: 90px'
                },
                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center',
                    style: 'width: 30px'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount',
                    style: 'width: 100px'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string-ellipsis',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path',
                    style: 'width: 80px'
                },
                {
                    title: '<%= t('widgets.titles.transfer_type') %>',
                    path: 'transferType'
                },
                {
                    title: '<%= t('widgets.titles.transaction') %>',
                    type: 'string-ellipsis',
                    urlCallbackName: 'transaction_path',
                    path: 'transaction.hash'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>