<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transactions_by_time') %></div>
      <div class="card-body">
        <div id="transactions_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_fee_by_time') %></div>
      <div class="card-body">
        <div id="transaction_fee_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: AlgorandNetwork!,
                  $dateFormat: String!,

                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    algorand(network: $network ){
                      transactions(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}
                        txSender: {is: $address}
                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: count
                        fee
                      }
                    }
                  }`);

        new widgets.chart('#transactions_by_time', query, 'algorand.transactions', {
            title: '<%= t('widgets.headers.transactions_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.transactions_count') %>'
                    }
                },
                hAxis: <%= render partial: 'shared/date_axis.json' %>,
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.transactions_count') %>',
                    path: 'count'
                },

            ]
        });

        new widgets.chart('#transaction_fee_by_time', query, 'algorand.transactions', {
            title: '<%= t('widgets.headers.transaction_fee_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.fee') %>, <%= @network[:currency] %>'
                    }
                },
                hAxis: <%= render partial: 'shared/date_axis.json' %>,
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.fee') %>, <%= @network[:currency] %>',
                    path: 'fee'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });
</script>