<div class="col-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.balance_effects') %></div>
    <div class="card-body">
      <div id="currencies_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: RippleNetwork!,
                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime,
                  $limit: Int!,
                  $offset: Int!){
              ripple(network: $network) {
                balances(
                  date: {since: $from, till: $till},
                  account: {is: $address},
                  options: {limit: $limit, offset: $offset, desc: ["block", "transaction.index"]}
                )
                {
                  transaction {
                    hash
                    index
                    sender
                    type
                  }
                  timestamp {
                    time
                  }
                  prevBalance
                  operation
                  issuer {
                    address
                    annotation
                  }
                  date {
                    date
                  }
                  currency {
                    address
                    decimals
                    name
                    symbol
                    tokenId
                    tokenType
                  }
                  block
                  balance
                  account {
                    address
                    annotation
                  }
                }
              }
            }`);

        new widgets.table('#currencies_table', query, 'ripple.balances', {
            title: '<%= t('widgets.headers.balance_effects') %>',
            dataOptions: [
              {
                  title: '<%= t('widgets.titles.timestamp') %>',
                  type: 'string',
                  path: 'timestamp.time',
                  style: 'width: 170px;'
              },
                {
                    title: '<%= t('widgets.titles.block') %>',
                    path: 'block',
                    urlCallbackName: 'height_path'
                },
                {
                    title: '<%= t('widgets.titles.transaction_hash') %>',
                    type: 'string-ellipsis',
                    path: 'transaction.hash',
                    urlCallbackName: 'transaction_hash_path'
                },
                {
                    title: '<%= t('widgets.titles.transaction_index') %>',
                    path: 'transaction.index'
                },
                {
                    title: '<%= t('widgets.titles.balance') %>',
                    path: 'balance'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    path: 'currency.symbol',
                    urlCallbackName: 'currency_path'
                },
                {
                    title: '<%= t('widgets.titles.previous_balance') %>',
                    path: 'prevBalance'
                },
                {
                    title: '<%= t('widgets.titles.issuer') %>',
                    path: 'issuer.address',
                    urlCallbackName: 'issuer_path'
                },
                {
                    title: '<%= t('widgets.titles.operation_name') %>',
                    path: 'operation'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            address: '<%= @address %>',
            network: '<%= params['network']['network'] %>'
        });


    });

</script>
