<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_effects') %></div>
      <div class="card-body">
        <div id="latest_effects"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $(document).ready(function () {


        var query = new widgets.query(`
              query ($network: StellarNetwork!,
                      $limit: Int!,
                      $offset: Int!
                      $from: ISO8601DateTime,
                      $till: ISO8601DateTime,
                      $height: Int!){
          stellar(network: $network){
            effects(
                options:{desc: "timestamp.time", asc: "transaction.index", limit: $limit, offset: $offset},
                date: {since: $from till: $till },
                block: {is: $height}
              ) {
              timestamp {
                time (format: "%Y-%m-%d %H:%M:%S")
              }
              transaction {
                index
                sender
              }
              effect
              index
              details
            }
          }
        }
      `);

        new widgets.table('#latest_effects', query, 'stellar.effects', {
            title: '<%= t('widgets.headers.latest_effects') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.timestamp') %>',
                    type: 'string',
                    path: 'timestamp.time',
                    style: 'width: 170px;'
                },
                {
                    title: '<%= t('widgets.titles.tx_index') %>',
                    type: 'string',
                    path: 'transaction.index'
                },
                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string',
                    path: 'transaction.sender',
                    urlCallbackName: 'tx_sender_address_path',
                },
                {
                    title: '<%= t('widgets.titles.effect_index') %>',
                    type: 'string',
                    path: 'index'
                },
                {
                    title: '<%= t('widgets.titles.effect') %>',
                    type: 'string',
                    path: 'effect'
                },
                {
                    title: '<%= t('widgets.titles.details') %>',
                    type: 'string',
                    path: 'details'
                },
            ]
        });

        query.request({
          height: <%= @height %>,
          network: '<%= params['network']['network'] %>'
        });

    });

</script>
