<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.outbound_by_script_type') %></div>
    <div class="card-body">
      <div id="outbound_by_script_type"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: BitcoinNetwork!,
                $address:String!
                $from: ISO8601DateTime,
                $till: ISO8601DateTime){
                  bitcoin(network: $network ){
                    inputs(
                      date: {
                          since: $from
                          till: $till}
                      inputAddress: {is: $address}
                      options:{asc: "value"}
                    ){

                      inputScriptType {
                        type
                      }
                      value
                    }


                  }
                }`);

        new widgets.chart('#outbound_by_script_type', query, 'bitcoin.inputs', {
            title: '<%= t('widgets.headers.outbound_by_script_type') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea:{left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.transfer_type') %>',
                    path: 'inputScriptType.type',
                },
                {
                    title: '<%= t('widgets.titles.amount_token', token: @network[:currency]) %>',
                    path: 'value'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            address: '<%= @address %>',
            network: '<%= @network[:network] %>',
        });


    });
</script>