<div class="col-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.latest_balance_effects') %></div>
    <div class="card-body">
      <div id="latest_balance_effects"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: StellarNetwork!,
                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime,
                  $limit: Int!,
                  $offset: Int!){
              stellar(network: $network) {
                balanceEffects(
                  date: {since: $from, till: $till},
                  address: {is: $address},
                  options: {limit: $limit, offset: $offset, desc: "block"}
                ){
                  block
                  amount
                  currency {
                    name
                    symbol
                  }
                  effectIndex
                  issuer {
                    address
                  }
                  operation {
                    index
                    name
                  }
                  order
                }
              }
            }`);

        new widgets.table('#latest_balance_effects', query, 'stellar.balanceEffects', {
            title: '<%= t('widgets.headers.latest_balance_effects') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.block') %>',
                    path: 'block',
                    urlCallbackName: 'height_path'
                },
                {
                    title: '<%= t('widgets.titles.operation_name') %>',
                    path: 'operation.name'
                },
                {
                    title: '<%= t('widgets.titles.operation_index') %>',
                    path: 'operation.index'
                },
                {
                    title: '<%= t('widgets.titles.effect_index') %>',
                    path: 'effectIndex'
                },
                {
                    title: '<%= t('widgets.titles.order') %>',
                    path: 'order'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    path: 'currency.symbol'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount'
                },
                {
                    title: '<%= t('widgets.titles.issuer') %>',
                    path: 'issuer.address',
                    urlCallbackName: 'issuer_path'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>
