<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_payments_sent') %></div>
      <div class="card-body">
        <div id="latest_payments"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $(document).ready(function () {


        var query = new widgets.query(`
              query ($network: StellarNetwork!,
                      $limit: Int!,
                      $offset: Int!
                      $from: ISO8601DateTime,
                      $till: ISO8601DateTime,
                      $address: String!
                    ){
          stellar(network: $network){
            payments(
                options:{desc: "timestamp.time", limit: $limit, offset: $offset},
                date: {since: $from till: $till }
                sender: {is: $address}
              ) {
                timestamp {
                  time
                }
                block
                transaction {
                  index
                }
                currencyFrom {
                  symbol
                  name
                }
                currencyTo {
                  symbol
                  name
                }
                amountFrom
                amount_from_usd: amountFrom(in: USD)
                amountTo
                amount_to_usd: amountTo(in: USD)
                amountTo
                receiver {
                  address
                  annotation
                }
                success
            }
          }
        }
      `);

        new widgets.table('#latest_payments', query, 'stellar.payments', {
            title: '<%= t('widgets.headers.latest_payments') %>',
            dataOptions: [
              {
                title: '<%= t('widgets.titles.timestamp') %>',
                type: 'string',
                path: 'timestamp.time',
                style: 'width: 170px;'
              },
              {
                title: '<%= t('widgets.titles.height') %>',
                type: 'string',
                path: 'block',
                urlCallbackName: 'height_path',
                style: 'width: 80px;'
              },
              {
                title: '<%= t('widgets.titles.tx_index') %>',
                type: 'string',
                path: 'transaction.index'
              },
              {
                title: '<%= t('widgets.titles.receiver') %>',
                type: 'string-ellipsis',
                path: ['receiver.annotation', 'receiver.address'],
                urlCallbackName: 'receiver_address_path'
              },
              {
                title: '<%= t('widgets.titles.amount_from') %>',
                type: 'amount',
                path: 'amountFrom'
              },
              {
                style: 'width: 80px;',
                renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {currency: '""', amount: 'item.amount_from_usd'} %>
              },
              {
                title: '<%= t('widgets.titles.currency_from') %>',
                type: 'string',
                path: 'currencyFrom.symbol'
              },
              {
                title: '<%= t('widgets.titles.amount_to') %>',
                type: 'amount',
                path: 'amountTo'
              },
              {
                style: 'width: 80px;',
                renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {currency: '""', amount: 'item.amount_to_usd'} %>
              },
              {
                title: '<%= t('widgets.titles.currency_to') %>',
                type: 'string',
                path: 'currencyTo.symbol'
              },
              {
                title: '<%= t('widgets.titles.success') %>',
                type: 'string',
                path: 'success'
              },
            ] 
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
          address: '<%= @address %>',
          network: '<%= params['network']['network'] %>'
        });
    });

</script>
