<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.call_result_info') %></div>
      <div class="card-body">
        <div id="call_result_info"><%= t('loading') %></div>
      </div>
    </div> 
  </div>
</div>

<script>
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: ElrondNetwork!, $limit: Int!, $offset: Int!, $hash: String!) {
        elrond(network: $network) {
          callResults(
            options: {desc: "time.time", limit: $limit, offset: $offset}
            miniblockHash: {is: $hash}
          ) {
            time {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            senderBlock{
              height
              hash
            }
            hash
            miniblock{
              hash
            }
            transaction {
              hash
            }
            sender {
              address
              annotation
            }
            receiver {
              address
              annotation
            }
            value
            gasLimit
            gasPrice
            nonce
            data
            returnMessage
            index
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#call_result_info', query, 'elrond.callResults', {
      title: '<%= t('widgets.headers.call_result_info') %>',
      renderData: function (data) {
        item = data[0];
        return !item ? [] : [
            {name: '<%= t('widgets.titles.timestamp') %>', value: item.time.time},
            { name: '<%= t('widgets.titles.height') %>', value: item.senderBlock.height, },
            {
              name: '<%= t('widgets.titles.block_hash') %>',
              value: item.senderBlock.hash,
              senderBlockHash: item.senderBlock.hash
            },
            {name: '<%= t('widgets.titles.hash') %>', value: item.hash},
            {
              name: '<%= t('widgets.titles.miniblock_hash') %>',
              value: item.miniblock.hash,
              miniblockHash: item.miniblock.hash
            },
            {
              name: '<%= t('widgets.titles.tx_hash') %>', value: item.transaction.hash,
              txHash: item.transaction.hash
            },
            {
              name: '<%= t('widgets.titles.sender') %>',
              value: item.sender.address,
              address: item.sender.address
            },
            {
              name: '<%= t('widgets.titles.receiver') %>',
              value: item.receiver.address,
              address: item.receiver.address
            },
            {name: '<%= t('widgets.titles.index_in_transaction') %>', value: item.index},
            {name: '<%= t('widgets.titles.value') %>', value: item.value + <%= render partial: 'ethereum/data_currency_with_amount_usd.text', locals: {currency: 'item.amount'} %>},
            {name: '<%= t('widgets.titles.gas_limit') %>', value: item.gasLimit},
            {name: '<%= t('widgets.titles.gas_price') %>', value: item.gasPrice},
            {name: '<%= t('widgets.titles.nonce') %>', value: item.nonce},
            {name: '<%= t('widgets.titles.message') %>', value: item.returnMessage},
            {name: '<%= t('widgets.titles.data') %>', value: item.data},
            {name: '<%= t('widgets.titles.data_operation') %>', value: item.dataOperation},
          ];
        },
        dataOptions: [
          {
            title: '<%= t('widgets.titles.attribute') %>',
            type: 'string',
            path: 'name',
            style: 'width: 250px',
            html_class: 'text-info font-weight-bold'
          },
          {
            title: '<%= t('widgets.titles.property_value') %>',
            type: 'string-ellipsis',
            escape: false,
            path: 'value',
            urlCallbackName: 'property_value_path'
          },
        ]
    });

    query.request({
      hash: "<%= @hash %>",
      network: '<%= @network[:network] %>'
    });
  });
</script>


