<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.tx_calls') %></div>
      <div class="card-body">
        <div id="tx_calls"><%= t('loading') %></div>
      </div>
    </div> </div>
</div>

<script type="module">
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: ElrondNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $tx_hash: String!) {
        elrond(network: $network) {
          calls(
            options: {desc: "time.time", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            txHash: {is: $tx_hash}
          ) {
            time {
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            senderBlock {
              hash
            }
            smartContractAddress {
              address
              annotation
            }
            smartContractMethod {
              name
              signatureHash
            }
            transaction {
              hash
            }
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#tx_calls', query, 'elrond.calls', {
      title: '<%= t('widgets.headers.tx_calls') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          style: 'width: 180px',
          path: 'time.time'
        },
        {
          title: '<%= t('widgets.titles.block_hash') %>',
          type: 'string-ellipsis',
          style: 'width: 170px;',
          path: 'senderBlock.hash',
          urlCallbackName: 'sender_block_path'
        },
        {
          title: '<%= t('widgets.titles.smart_contract_address') %>',
          type: 'string-ellipsis',
          path: ['smartContractAddress.annotation','smartContractAddress.address'],
          urlCallbackName: 'smart_contract_address_path'
        },
        {
          title: '<%= t('widgets.titles.method') %>',
          type: 'string',
          path: ['smartContractMethod.name','smartContractMethod.signatureHash']
        },
        {
          title: '<%= t('widgets.titles.transaction_hash') %>',
          type: 'string-ellipsis',
          path: 'transaction.hash',
          urlCallbackName: 'transaction_path',
        },
      ]
    });

    query.request({
      tx_hash: '<%= @tx_hash %>',
      network: '<%= params['network']['network'] %>'
    });
  });
</script>


