<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.currencies_sent_received') %></div>
    <div class="card-body">
      <div id="currencies_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query(
                  $address: String!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime,
                  $limit: Int!,
                  $offset: Int!){
              libra {
                transfers(date: {since: $from, till: $till},
                amount: {gt: 0}
                options: {limit: $limit, offset: $offset, desc: ["count_in","count_out"] asc: "currency.symbol"}){
                    sum_in: amount(calculate: sum,
                      receiver: {is: $address}
                    )
                    sum_out: amount(calculate: sum,
                      sender: {is: $address}
                    )
                    count_in: count(
                      receiver: {is: $address}
                    )
                    count_out: count(
                      sender: {is: $address}
                    )
                    currency {
                      address
                      symbol
                      tokenType
                    }
                  }
              }
            }`);

        new widgets.table('#currencies_table', query, 'libra.transfers', {
            title: '<%= t('widgets.headers.currencies_sent_received') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string-ellipsis',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },
                {
                    title: '<%= t('widgets.titles.receive') %>',
                    type: 'amount',
                    path: 'sum_in'
                },
                {
                    title: '<%= t('widgets.titles.txs') %>',
                    type: 'count',
                    path: 'count_in',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'transfer_to_path'
                },
                {
                    title: '<%= t('widgets.titles.send') %>',
                    type: 'amount',
                    path: 'sum_out'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<i class="fa fa-sign-out text-warning"></i>',
                },
                {
                    title: '<%#= t('widgets.titles.txs') %>',
                    type: 'count',
                    path: 'count_out',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'transfer_from_path'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{

            address: '<%= @address %>'
        });


    });

</script>