<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_blocks') %></div>
      <div class="card-body">
        <div id="latest_blocks"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<script type="module">
  $( document ).ready(function() {

    var query = new widgets.query(`
      query ($network: SolanaNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        solana(network: $network) {
          blocks(
            options: {desc: "height", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
          ) {
            time{
              time(format: "%Y-%m-%d %H:%M:%S")
            }
            height
            transactionCount
          }
        }
      }`);

    new widgets.table('#latest_blocks', query, 'solana.blocks', {
      title: '<%= t('widgets.headers.latest_blocks') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'time.time'
        },
        {
          title: '<%= t('widgets.titles.block') %>',
          type: 'string',
          path: 'height',
          urlCallbackName: 'block_path'
        },
        {
          title: '<%= t('widgets.titles.transactions_count') %>',
          type: 'string',
          path: 'transactionCount'
        }
      ]
    });

    <% from, till = date_range_from_now(30, :minutes) %>
    queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
        network: '<%= params['network']['network'] %>'
      });
  });
</script>
