<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.token_senders_by_time') %></div>
    <div class="card-body">
      <div id="token_senders_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.token_median_sender_amount_by_time') %></div>
    <div class="card-body">
      <div id="token_median_sender_amount_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query (
                              $token: String!,
                              $dateFormat: String!,
                              $date: ISO8601DateTime){
                          eos{
                            transfers(currency: {is: $token}
                            height:{gt: 0}
                            amount: {gt: 0}
                            date: {is: $date}){
                              date{
                                date(format: $dateFormat)
                              }
                              count(uniq: senders)
                              median: amount(calculate: median)
                            }
                          }
                        }`);

        new widgets.chartByTime('#token_senders_by_time', query, 'eos.transfers', {
            title: '<%= t('widgets.headers.token_senders_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.uniq_senders') %>'
                    },
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#9bc2cf', type: 'line', targetAxisIndex: 0, lineWidth: 3, pointsVisible: true, pointShape: 'diamond', pointSize: 12 }
                }
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.uniq_senders') %>',
                    path: 'count'
                },


            ]
        });

        new widgets.chartByTime('#token_median_sender_amount_by_time', query, 'eos.transfers', {
            title: '<%= t('widgets.headers.token_median_sender_amount_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.median_amount') %>'
                    },
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                }
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.median_amount') %>',
                    path: 'median'
                },


            ]
        });

        query.request({
            token: '<%= @address %>',
            dateFormat: '%Y-%m-%d',
            date: '<%= @block_date %>'
        });

    });
</script>