<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <span class="live-header">Live</span>
      <span class="blinker"></span>
      <div class="card-header"><%=  params['action'] === 'transfers' ? 'Latest transfers' : 'Latest DEX trades'%></div>
      <div class="card-body">
        <div id="pair-last-trades"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    createWidget('pair_dex_trades', 'pair-last-trades', {
        baseCurrency: '<%=@token2 %>',
        quoteCurrency: '<%=@token1 %>',
        network: '<%= params['network']['network'] %>'
    }, '<%= BITQUERY_IDE_API %>/querytransfer')
</script>