<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_currencies') %></div>
    <div class="card-body">
      <div id="transfers_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: AlgorandNetwork!,
                  $limit: Int!,
                  $offset: Int!,
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                   algorand(network: $network){
                      transfers(
                      options:{desc: "count", limit: $limit, offset: $offset},
                      amount: {gt: 0},
                      date: {
                        since: $from
                        till: $till}

                      ) {
                          currency {
                            symbol
                            tokenId
                          }
                          count(transferType: {in: [send,close]})

                          senders: count(uniq: senders)
                          receivers: count(uniq: receivers)
                          days: count(uniq:dates)

                          from_date: minimum(of: date)
                          till_date: maximum(of: date)

                          amount(transferType: {notIn: [create, genesis]})
                          created_amount: amount(transferType: {in: [create, genesis]})
                      }
                    }
                  }`);

        new widgets.table('#transfers_by_currencies', query, 'algorand.transfers', {
            title: '<%= t('widgets.headers.transfers_by_currencies') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string-ellipsis',
                    path: ['currency.symbol','currency.name','currency.address'],
                    urlCallbackName: 'token_path'
                },


                {
                    title: '<%= t('widgets.titles.first_transfer_date') %>',
                    path: 'from_date'
                },
                {
                    title: '<%= t('widgets.titles.last_transfer_date') %>',
                    path: 'till_date'
                },

                {
                    title: '<%= t('widgets.titles.transfer_days') %>',
                    path: 'days'
                },

                {
                    title: '<%= t('widgets.titles.uniq_senders') %>',
                    path: 'senders'
                },
                {
                    title: '<%= t('widgets.titles.uniq_receivers') %>',
                    path: 'receivers'
                },
                {
                    title: '<%= t('widgets.titles.transfer_amount') %>',
                    path: 'amount',
                    type: 'amount'
                },
                {
                    title: '<%= t('widgets.titles.issued_amount') %>',
                    path: 'created_amount',
                    type: 'amount'
                },
                {
                    title: '<%= t('widgets.titles.transfer_count') %>',
                    path: 'count'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });

    });
</script>