<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div id="ethereum_token_description"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>


<script>
    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: EthereumNetwork!, $address: String!) {
              ethereum(network: $network) {
                address(address: {is: $address}){
                  address {
                    annotation
                    address
                  }
                  smartContract {
                    contractType
                    currency{
                      symbol
                      name
                      decimals
                      tokenType
                    }
                  }
                  balance
                }
              }
            }`);



        new widgets.text('#ethereum_token_description', query, 'ethereum.address', {
            dataOptions:
                {
                    type: 'string',
                    renderCallback: function(item){
                            return '<%= t 'pages.token.description.part1', {address: @address} %> ' +
                                '<strong class="text-info">'+
                                item.smartContract.currency.symbol + '( '+ item.smartContract.currency.name + ' )'+ '</strong>';
                    }
                }
        });


        new widgets.table('#ethereum_token_attributes', query, 'ethereum.address', {
            title: '<%= t('widgets.headers.token_attributes') %>',
            renderData: function(data){
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.headers.token_symbol') %>', value: item.smartContract.currency.symbol},
                    {name: '<%= t('widgets.headers.token_type') %>', value: item.smartContract.currency.tokenType},
                    {name: '<%= t('widgets.headers.token_name') %>', value: item.smartContract.currency.name},
                    {name: '<%= t('widgets.headers.token_decimals') %>', value: item.smartContract.currency.decimals},
                    {name: '<%= t('widgets.headers.annotation') %>', value: item.address.annotation}
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.property') %>',
                    type: 'string-ellipsis',
                    path: 'name',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title:  '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({ network: '<%= @network[:network] %>',
            address: '<%= @address %>'});

    });



</script>