<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.max_token_transfers_by_time') %></div>
    <div class="card-body">
      <div id="max_token_transfers_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query ($network: EthereumNetwork!,
                              $token: String!,
                              $dateFormat: String!,
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                          ethereum(network: $network){
                            transfers(currency: {is: $token}
                            date: {since: $from till: $till}){
                              date{
                                date(format: $dateFormat)
                              }

                              max_amount: maximum(of: amount, get: amount)

                            }
                          }
                        }`);

        new widgets.chart('#max_token_transfers_by_time', query, 'ethereum.transfers', {
            title: '<%= t('widgets.headers.max_token_transfers_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.max_amount') %>'
                    },
                },
                hAxis: <%= render partial: 'shared/date_axis.json' %>,
                seriesType: 'bars',
                series: {
                    '0': { color: '#ffc107', targetAxisIndex: 0 },
                }
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.max_amount') %>',
                    renderCallback: function(item){ return parseFloat(item.max_amount);}
                }

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            token: '<%= @address %>'
        });


    });
</script>