<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
<!--      <span class="live-header">Live</span>-->
<!--      <span class="blinker"></span>-->
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <%=  params['action'] === 'transfers' ? 'Latest transfers' : 'Latest DEX trades'%>
          </div>
          <div class="col-4 text-success text-right">
            <span class="d-none d-sm-inline">Line </span><i class="fas fa-circle blink blnkr text-success"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="latest-transfers-live"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
	createWidget('<%= params['action']%>', 'latest-transfers-live', {
        network: '<%= params['network']['network'] %>',
        baseCurrency: '<%=@token %>'
    }, '<%= BITQUERY_IDE_API %>/querytransfer')
</script>
