<% if innovation_in_blockchain? %>
  <div class="row">
    <div class="col-12 col-lg-12 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <% if params['action'] === 'transfers' %>
                <% if @token_info %>
                  Latest <%= @token_info.name %> (<%= @token_info.symbol %>) Transfers
                <% else %>
                  Latest Transfers
                <% end %>
              <% else %>
                <% if @token_info %>
                  Latest <%= @token_info.name %> (<%= @token_info.symbol %>) Trades
                <% else %>
                  Latest DEX Trades
                <% end %>
              <% end %>
            </div>
            <div class="col-4 text-success text-right">
              <span class="d-none d-sm-inline">Live </span><div class="blink blnkr bg-success"></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="latest-transfers-live"><%= t('loading') %></div>
        </div>
      </div>
    </div>
  </div>

  <script>
      createWidget('<%= params['action']%>', 'latest-transfers-live', {
          network: '<%= params['network']['network'] %>',
          baseCurrency: '<%=@token %>'
      }, '<%= BITQUERY_IDE_API %>/querytransfer')
  </script>
<% end %>