<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_token_transfers') %></div>
      <div class="card-body">
        <div id="latest_token_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query ($network: EthereumNetwork!,
                                  $token: String!,
                                  $limit: Int!,
                                  $offset: Int!
                                  $from: ISO8601DateTime,
                                  $till: ISO8601DateTime){
                              ethereum(network: $network){
                                transfers(options:{desc: "block.timestamp.time"  limit: $limit, offset: $offset},
                                  date: {since: $from till: $till },
                                  currency: {is: $token}) {

                                  block {
                                    timestamp {
                                      time (format: "%Y-%m-%d %H:%M:%S")
                                    }
                                    height
                                  }
                                  sender {
                                    address
                                    annotation
                                  }

                                  receiver {
                                    address
                                    annotation
                                  }

                                  transaction {
                                    hash
                                  }

                                  amount

                                  external
                                }
                              }
                            }`);

        new widgets.table('#latest_token_transfers', query, 'ethereum.transfers', {
            title: '<%= t('widgets.headers.latest_token_transfers') %>',
            tableOptions: {
                title: [
                    '<%= t('widgets.titles.timestamp') %>',
                    '<%= t('widgets.titles.block') %>',
                    '<%= t('widgets.titles.sender') %>',
                    '',
                    '<%= t('widgets.titles.receiver') %>',
                    '<%= t('widgets.titles.amount') %>',
                    '<%= t('widgets.titles.transaction') %>'
                ],
                dataOptions: [
                    {
                        type: 'string',
                        path: 'block.timestamp.time'
                    },
                    {
                        type: 'string',
                        path: 'block.height',
                        urlCallbackName: 'block_path'
                    },
                    {
                        type: 'string-ellipsis',
                        path: ['sender.annotation','sender.address'],
                        urlCallbackName: 'sender_address_path'
                    },
                    {
                        type: 'string',
                        data: '<i class="fa fa-sign-in text-success"></i>',
                        html_class: 'text-center'
                    },
                    {
                        type: 'string-ellipsis',
                        path: ['receiver.annotation','receiver.address'],
                        urlCallbackName: 'receiver_address_path'
                    },
                    {
                        type: 'amount',
                        path: 'amount'
                    },
                    {
                        type: 'string-ellipsis',
                        urlCallbackName: 'transaction_path',
                        renderCallback: <%= render partial: 'ethereum/tx_external_display.text' %>
                    },
                ]
            }
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            token: '<%= @address %>'
        });


    });

</script>