<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_calls') %></div>
      <div class="card-body">
        <div id="latest_calls"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EverscaleNetwork!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    everscale(network: $network){
                      calls(options:{desc: "timestamp.time", limit: $limit, offset: $offset},
                        date: {since: $from till: $till },
                        ) {
                        timestamp {
                          time (format: "%Y-%m-%d %H:%M:%S")
                        }
                        shardedBlock{
                          hash
                        }
                        transactions{
                          hash
                        }
                        smartContractAddress{
                          address
                          annotation
                        }
                        smartContractMethod{
                          name
                          signatureHash
                        }
                      }
                    }
                  }`);

        new widgets.table('#latest_calls', query, 'everscale.calls', {
            title: '<%= t('widgets.headers.latest_calls') %>',
            dataOptions: [
              {
                title: '<%= t('widgets.titles.timestamp') %>',
                type: 'string',
                path: 'timestamp.time',
                style: 'width: 170px;'
              },
              {
                title: '<%= t('widgets.titles.block_hash') %>',
                type: 'string-ellipsis',
                path: 'shardedBlock.hash',
                urlCallbackName: 'sharded_hash_path'
              },
              {
                title: '<%= t('widgets.titles.transaction_hash') %>',
                type: 'string-ellipsis',
                path: 'transactions.hash',
                urlCallbackName: 'transaction_hash_path'
              },
              {
                title: '<%= t('widgets.titles.smart_contract') %>',
                type: 'string-ellipsis',
                path: ['smartContractAddress.annotation', 'smartContractAddress.address'],
                urlCallbackName: 'smart_contract_path'
              },
              {
                title: '<%= t('widgets.titles.method') %>',
                type: 'string',
                path: ['smartContractMethod.name','smartContractMethod.signatureHash'],
                style: 'width: 130px'
              },
            ]
        });

        queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });

    });

</script>

