<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.in_out_transfers_by_time') %></div>
    <div class="card-body">
      <div id="in_out_transfers_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
                        query ($network: TezosNetwork!,
                        $dateFormat: String!,
                        $address: String!,
                        $from: ISO8601DateTime,
                        $till: ISO8601DateTime){
                    tezos(network: $network ){
                      transfers(date: {
                        since: $from
                        till: $till}
                        options: {asc: "date.date"}
                        ) {
                        date{
                          date(format: $dateFormat)
                        }
                        in_count: countBigInt(receiver: {is: $address})
                        out_count: countBigInt(sender: {is: $address})
                      }
                    }
                  }`);


        new widgets.chartByTime('#in_out_transfers_by_time', query, 'tezos.transfers', {
            title: '<%= t('widgets.headers.in_out_transfers_by_time') %>',
            chartOptions: {
                isStacked: true,
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.transfer_count') %>',
                        format: 'decimal',
                        viewWindow: {
                            min: 'auto'
                        }
                    }
                },
                //hAxis: <%#= render partial: 'shared/date_axis.json' %>,
                series: {
                    '0': { color: '#28a745' },
                    '1': { color: '#ffc107' },
                }
            },
            renderData: function(data){
                let new_data = [];
                widgets.lodash.each(data, function(item){
                    new_data.push({
                        date: item.date,
                        in_count: item.in_count,
                        out_count: item.out_count==0 ? 0 : -item.out_count
                    });
                });
                return new_data;
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.receive_count') %>', type: 'number' },
                    path: 'in_count'
                },
                {
                    title: {label: '<%= t('widgets.titles.send_count') %>', type: 'number' },
                    path: 'out_count'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>
