<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transactions') %></div>
      <div class="card-body">
        <div id="latest_transactions"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: EthereumNetwork!,
                                $limit: Int!,
                                $offset: Int!
                                $date: ISO8601DateTime,
                                $height: Int){
                    ethereum(network: $network){
                      transactions(options:{asc: "index", limit: $limit, offset: $offset},
                        date: {is: $date } height: {is: $height}
                        ) {

                          index
                          address: sender {
                            address
                            annotation
                          }
                          hash
                          gasValue
                          gas_value_usd: gasValue(in: USD)

                      }
                    }
                  }`);

        new widgets.table('#latest_transactions', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.latest_transactions') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.transaction_index') %>',
                    path: 'index',
                    style: 'width: 80px;'
                },
                {
                    title: '<%= t('widgets.titles.tx_sender') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.hash') %>',
                    type: 'string-ellipsis',
                    path: 'hash',
                    urlCallbackName: 'transaction_path'
                },

                {
                    title: '<%= t('widgets.titles.gas_value') %>, <%= @network[:currency] %>',
                    type: 'amount',
                    path: 'gasValue',
                    style: 'width: 110px;'
                },
                {
                    style: 'width: 130px;',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {currency: '""', amount: 'item.gas_value_usd'} %>
                }
            ]
        });


        query.request({
            height: <%= @height %>, date: '<%= @block_date %>', network: '<%= @network[:network] %>'
        });


    });

</script>