
<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.token_senders_diagram') %></div>
      <div class="card-body">
        <div id="token_senders_diagram"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.token_senders_table') %></div>
      <div class="card-body">
        <div id="token_senders_table"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>



<script type="module">

    $( document ).ready(function() {
        var query = new widgets.query(`query ($network: AlgorandNetwork!,
                              $token: Int!,
                              $limit:Int,
                              $offset:Int,
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                          algorand(network: $network){
                            transfers(currency: {is: $token}
                            date: {since: $from till: $till}
                            transferType: {in: [send, close]}
                            options: {desc: "amount" asc: "currency.symbol" limit:$limit, offset: $offset}
                            ){

                              sender {
                                address
                                annotation
                              }
                              currency {
                                symbol
                              }
                              amount
                              amount_usd: amount(in: USD)
                              count
                              receiver_count: count(uniq: receivers)
                              max_amount: maximum(of: amount, get: amount)
                              max_date:maximum(of: date)
                            }
                          }
                        }`);

        new widgets.table('#token_senders_table', query, 'algorand.transfers', {
            title: '<%= t('widgets.headers.token_senders_table') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string-ellipsis',
                    path: ['sender.annotation','sender.address'],
                    urlCallbackName: 'sender_address_path'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount'
                },
                {
                    title: '',
                    type: 'string',
                    path: 'currency.symbol'
                },
                {
                    title: '<%= t('widgets.titles.max_amount') %>',
                    type: 'amount',
                    path: 'max_amount'
                },
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    type: 'string',
                    path: 'currency.symbol',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {precision: 4} %>
                },
                {
                    title: '<%= t('widgets.titles.uniq_receivers') %>',
                    type: 'count',
                    path: 'receiver_count'
                },
                {
                    title: '<%= t('widgets.titles.max_date') %>',
                    type: 'string',
                    path: 'max_date'
                },
                {
                    title: '<%= t('widgets.titles.transfer_count') %>',
                    type: 'count',
                    path: 'count',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'transfer_token_sender_path'
                },
            ]
        });


        new widgets.chart('#token_senders_diagram', query, 'algorand.transfers', {
            chartType: 'BarChart',
            title: '<%= t('widgets.headers.token_senders_diagram') %>',
            chartOptions: {
                hAxis: {
                    title: '<%= t('widgets.titles.amount') %>',
                    minValue: 0,
                },

                vAxis: {
                    title: '<%= t('widgets.titles.sender') %>'
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' },
                },
                chartArea:{left: '25%', right: '10%', top: 0, bottom: '15%'},
                height: 500
            },
            dataOptions: [
                {
                    type: 'string',
                    path: ['sender.annotation','sender.address'],
                    title: '<%= t('widgets.titles.sender') %>'
                },
                {
                    type: 'amount',
                    path: 'amount',
                    title:'<%= t('widgets.titles.amount') %>'
                },
            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            network: '<%= params['network']['network'] %>',
            token: <%= @id %>
        });


    });

</script>