<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.block_info') %></div>
    <div class="card-body">
      <div id="block_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`query (
                              $height: Int!){
                          tron{

                              blocks(height: {is: $height}){
                                timestamp {
                                  time (format: "%Y-%m-%d %H:%M:%S")
                                }
                                version
                                hash
                                witness {
                                  address
                                  annotation
                                }
                              }
                            }
                        }`);



        new widgets.table('#block_info', query, 'tron.blocks', {
            title: '<%= t('widgets.headers.block_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.timestamp.time},
                    {name: '<%= t('widgets.titles.witness') %>', value: (item.witness.annotation || item.witness.address), address: item.witness},
                    {name: '<%= t('widgets.titles.version') %>', value: item.version},
                    {name: '<%= t('widgets.titles.hash') %>', value: item.hash}
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 110px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({

            height: <%= @height %>
        });

    });
</script>