<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.smart_contract_statitics') %></div>
    <div class="card-body">
      <div id="smart_contract_statitics"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {
        var query = new widgets.query(`query (
                              $address: String!,
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                          tron{
                            smartContractCalls( date: {since: $from till: $till },
                                smartContractAddress: {is: $address}) {

                                    created: minimum(of: block, get: time)
                                    created_block: minimum(of: block)
                                    created_tx: minimum(of: block, get:tx_hash)
                                    created_by: minimum(of: block, get:tx_from)

                                    max_time: maximum(of: time)

                                    external_calls: count(external: true)
                                    internal_calls: count(external: false)

                                    count
                                    callers: count(uniq: callers)
                                    days: count(uniq: dates)
                                    txs: count(uniq: txs)
                            }
                          }
                        }`);

        new widgets.table('#smart_contract_statitics', query, 'tron.smartContractCalls', {
            title: '<%= t('widgets.headers.smart_contract_statitics') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.calls_count') %>', value: item.count},
                    {name: '<%= t('widgets.titles.external_calls_count') %>', value: item.external_calls},
                    {name: '<%= t('widgets.titles.internal_calls_count') %>', value: item.internal_calls},

                    {name: '<%= t('widgets.titles.transactions_count') %>', value: item.txs},
                    {name: '<%= t('widgets.titles.uniq_callers') %>', value: item.callers},
                    {name: '<%= t('widgets.titles.call_days') %>', value: item.days},
                    {name: '<%= t('widgets.titles.last_transaction_time') %>', value: item.max_time},

                    {name: '<%= t('widgets.titles.created') %>', value: item.created +
                              ' <%= t('pages.smart_contract.statistics.in_block') %> '+
                            '<a href="/<%= @network[:network] %>/block/'+item.created_block+'">'+item.created_block+'</a>'

                    },
                    {name: '<%= t('widgets.titles.create_tx') %>',
                          value: '<a href="/<%= @network[:network] %>/tx/'+item.created_tx+'">'+item.created_tx+'</a>'},
                    {name: '<%= t('widgets.titles.creator') %>',
                        value: '<a href="/<%= @network[:network] %>/address/'+item.created_by+'">'+item.created_by+'</a>'}
                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.metric') %>',
                    type: 'string-ellipsis',
                    path: 'name',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{

            address: '<%= @address %>'
        });


    });

</script>