<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header">
      <% if @token_info && @token_info.name && @token_info.symbol %>
        <%= t('widgets.headers.smart_contract_methods_called_table_token', token_name: @token_info.name, token_symbol: @token_info.symbol) %>
      <% else %>
        <%= t('widgets.headers.smart_contract_methods_called_table') %>
      <% end %>
    </div>
    <div class="card-body">
      <div id="smart_contract_methods_called_table"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    const query = new widgets.query(`
      query (
        $network: EthereumNetwork!,
        $address: String!,
        $limit: Int!,
        $offset: Int!,
        $from: ISO8601DateTime,
        $till: ISO8601DateTime
      ) {
        ethereum(network: $network) {
          smartContractCalls(
            options: { desc: "count", limit: $limit, offset: $offset },
            date: { since: $from, till: $till },
            caller: { is: $address }
          ) {
            smartContractMethod {
              name
              signatureHash
            }
            max_date: maximum(of: date)
            count
            uniq_contracts: count(uniq: smart_contracts)
            gasValue(calculate: average)
            gas_value_usd: gasValue(in: USD, calculate: average)
          }
        }
      }
    `);

    new widgets.table('#smart_contract_methods_called_table', query, 'ethereum.smartContractCalls', {
      title: '<%= t('widgets.headers.smart_contract_methods_called_table') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.method') %>',
          type: 'string',
          path: ['smartContractMethod.name', 'smartContractMethod.signatureHash'],
          urlCallbackName: 'smart_contract_method_path'
        },
        {
          title: '<%= t('widgets.titles.max_date') %>',
          type: 'string',
          path: 'max_date'
        },
        {
          title: '<%= t('widgets.titles.avg_gas_value') %>',
          type: 'amount',
          path: 'gasValue'
        },
        {
          renderCallback: '<%= j render partial: "ethereum/currency_with_amount_usd", formats: :text, locals: { currency: "", amount: "item.gas_value_usd" } %>'
        },
        {
          title: '<%= t('widgets.titles.uniq_contracts') %>',
          type: 'count',
          path: 'uniq_contracts'
        },
        {
          title: '<%= t('widgets.titles.calls_count') %>',
          type: 'count',
          path: 'count',
          data: '%{DATA} <span class="fa fa-list"></span>',
          urlCallbackName: 'call_method_count_path'
        }
      ]
    });

    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';
    const network = '<%= j params["network"]["network"] %>';
    const address = '<%= j @address %>';

    queryWithTimeRange(rr, query, fromDate, tillDate, {
      network: network,
      address: address
    });
  });
</script>
