
<%= render partial: 'countrytable' %>




<div class="row">

  <%= render partial: 'countries_pie', locals: {field: 'confirmed',
                                                name: 'Top countries by Confirmed Cases'} %>

  <%= render partial: 'countries_pie', locals: {field: 'recovered',
                                                name: 'Top countries by Recovered Cases'} %>

  <%= render partial: 'countries_pie', locals: {field: 'deaths',
                                                name: 'Top countries by Death Cases'} %>

</div>

<%= render partial: 'time_stacked' %>