<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.slashings_by_time') %></div>
      <div class="card-body">
        <div id="slashings_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.validators') %></div>
      <div class="card-body">
        <div id="validators"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: Ethereum2Network!,
                  $dateFormat: String!,

                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    ethereum2(network: $network ){
                      attesterSlashings(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}

                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        count: countBigInt
                        slashing_validators: countBigInt(uniq: validators)
                      }
                    }
                  }`);

        new widgets.chartByTime('#slashings_by_time', query, 'ethereum2.attesterSlashings', {
            title: '<%= t('widgets.headers.slashings_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#FF6347' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.count') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        new widgets.chartByTime('#validators', query, 'ethereum2.attesterSlashings', {
            title: '<%= t('widgets.headers.validators') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.validators_count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#ffc107' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.validators_count') %>', type: 'number' },
                    path: 'slashing_validators'
                },

            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
