<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.top_slashings_validators') %></div>
      <div class="card-body">
        <div id="top_slashings_validators"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: Ethereum2Network!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum2(network: $network){
                      attesterSlashings(options:{desc: "count", limit: $limit, offset: $offset},
                        date: {since: $from till: $till }
                        ) {


                          validator {
                            index
                          }

                          count: count

                          min_date: minimum(of: date)
                          max_date: maximum(of: date)
                      }
                    }
                  }`);

        new widgets.table('#top_slashings_validators', query, 'ethereum2.attesterSlashings', {
            title: '<%= t('widgets.headers.top_slashings_validators') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.proposer') %>',
                    path: 'validator.index',
                    urlCallbackName: 'validator_path'
                },

                {
                    title: '<%= t('widgets.titles.first_block_date') %>',
                    path: 'min_date'
                },

                {
                    title: '<%= t('widgets.titles.last_block_date') %>',
                    path: 'max_date'
                },

                {
                    title: '<%= t('widgets.titles.slashing_count') %>',
                    path: 'count'
                },

            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            network: '<%= params['network']['network'] %>'
        });
    });
</script>