<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.top_deposit_validators') %></div>
      <div class="card-body">
        <div id="top_deposit_validators"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`
                        query ($network: Ethereum2Network!,
                                $limit: Int!,
                                $offset: Int!
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    ethereum2(network: $network){
                      deposits(options:{desc: "amount", limit: $limit, offset: $offset},
                        date: {since: $from till: $till }
                        ) {


                          validator {
                           index
                          }

                        count: count
                        amount
                        amount_usd: amount(in: USD)

                          min_date: minimum(of: date)
                          max_date: maximum(of: date)

                      }
                    }
                  }`);

        new widgets.table('#top_deposit_validators', query, 'ethereum2.deposits', {
            title: '<%= t('widgets.headers.top_deposit_validators') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.validator') %>',
                    path: 'validator.index',
                    urlCallbackName: 'validator_path'
                },

                {
                    title: '<%= t('widgets.titles.first_block_date') %>',
                    path: 'min_date'
                },

                {
                    title: '<%= t('widgets.titles.last_block_date') %>',
                    path: 'max_date'
                },

                {
                    title: '<%= t('widgets.titles.deposit_count') %>',
                    path: 'count'
                },

                {
                    title: '<%= t('widgets.titles.amount') %>, <%= @network[:currency] %>',
                    type: 'amount',
                    path: 'amount'
                },
                {
                    title: '',
                    type: '',
                    path: '',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {currency: "''"} %>
                },


            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });
    });
</script>