<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.last_exits') %></div>
      <div class="card-body">
        <div id="last_exits"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {


      var query = new widgets.query(`
                      query ($network: Ethereum2Network!,
                              $limit: Int!,
                              $offset: Int!
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                  ethereum2(network: $network){
                    attesterSlashings(options:{desc: "block.height", limit: $limit, offset: $offset},
                      time: {since: $from till: $till }
                      ) {


                      block {
                      height
                        timestamp {
                          time
                        }
                      }
                      validator {
                        index
                      }
                    }
                  }
                }`);

      new widgets.table('#last_exits', query, 'ethereum2.attesterSlashings', {
          title: '<%= t('widgets.headers.last_exits') %>',
          dataOptions: [
              {
                  title: '<%= t('widgets.titles.validator') %>',
                  path: 'validator.index',
                  urlCallbackName: 'validator_path'
              },

              {
                  title: '<%= t('widgets.titles.timestamp') %>',
                  path: 'block.timestamp.time'
              },

              {
                  title: '<%= t('widgets.titles.block') %>',
                  path: 'block.height'
              },


          ]
      });

    <% from, till = date_range_from_now(360, :days) %>
    queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
        network: '<%= params['network']['network'] %>'
    });

  });
</script>