<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.top_slashings_proposers') %></div>
      <div class="card-body">
        <div id="top_slashings_proposers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {


      var query = new widgets.query(`
                      query ($network: Ethereum2Network!,
                              $limit: Int!,
                              $offset: Int!
                              $from: ISO8601DateTime,
                              $till: ISO8601DateTime){
                  ethereum2(network: $network){
                    proposerSlashings(options:{desc: "count", limit: $limit, offset: $offset},
                      date: {since: $from till: $till }
                      ) {


                        slashing {
                          proposer {
                            index
                          }
                        }

                        count: count

                        min_date: minimum(of: date)
                        max_date: maximum(of: date)

                    }
                  }
                }`);

      new widgets.table('#top_slashings_proposers', query, 'ethereum2.proposerSlashings', {
          title: '<%= t('widgets.headers.top_slashings_proposers') %>',
          dataOptions: [
              {
                  title: '<%= t('widgets.titles.proposer') %>',
                  path: 'slashing.proposer.index',
                  urlCallbackName: 'slashing_proposer_path'
              },

              {
                  title: '<%= t('widgets.titles.first_block_date') %>',
                  path: 'min_date'
              },

              {
                  title: '<%= t('widgets.titles.last_block_date') %>',
                  path: 'max_date'
              },

              {
                  title: '<%= t('widgets.titles.slashing_count') %>',
                  path: 'count'
              },

          ]
      });

    <% from, till = date_range_from_now(15, :years) %>
    queryWithTimeRange(rr, query, "<%= from %>", "<%= till %>", {
    network: '<%= params['network']['network'] %>'
    });
  });
</script>