
<%= render partial: "ethereum_streaming/address/calls_table" %>

<div class="row">
  <%= render partial: 'ethereum_streaming/address/calls_by_time' %>
  <%= render partial: 'ethereum_streaming/address/top_gas_calls_table' %>
</div>

<div class="row">
  <%= render partial: "ethereum_streaming/address/smart_contracts_table" %>
  <%= render partial: "ethereum_streaming/address/smart_contract_methods_called_table" %>
</div>

