
<%= render partial: "ethereum_streaming/address/inbound_transfers" %>

<div class="row">
  <%= render partial: "ethereum_streaming/address/inbound_native_by_time" %>
  <%= render partial: "ethereum_streaming/address/inbound_tokens_by_time" %>
</div>

<div class="row">
  <%= render partial: "ethereum_streaming/address/inbound_native_table" %>
  <%= render partial: "ethereum_streaming/address/inbound_tokens_table" %>
</div>