<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='LatestInboundTransfers'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='InboundTransfersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='InboundTransfersInTokens'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopSendersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopSendersInTokens'></div>
  </div>
</div>
<script>
    class LatestInboundTransfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                title: 'Latest Inbound Transfers',
                columns: [
                    {
                        name: 'Timestamp', cell: function (row) {
                            return row.Block.Time
                        }, rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: function (row) {
                            return row.Block.Number
                        }, rendering: renderBlockLink, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderJustAddressLink, headerStyle: {width: '25%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.sum
                        }, rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return row.Transfer.Currency.Symbol
                        },
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },

                ]
            }
        }
    }

    class InboundTransfersInNativeCurrency extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Volume', cell: function (row) {
                            return +row.sum
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['28A745'],
                }
            }
        }
    }

    class InboundTransfersInTokens extends TimeChartComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Date', cell: function (row) {
                            return row.Block.Date
                        }
                    },
                    {
                        name: 'Receive count', cell: function (row) {
                            return +row.count
                        }
                    }
                ],
                options: {
                    height: 300,
                    colors: ['FFC106'],
                }
            }
        }
    }

    class TopSendersInNativeCurrency extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return row.Transfer.Currency.Symbol
                        },
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    class TopSendersInTokens extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: function (response) {
                    return response.EVM.Transfers
                },
                chainId: function (response) {
                    return response.EVM.Transfers[0].ChainId
                },
                columns: [
                    {
                        name: 'Sender', cell: function (row) {
                            return row.Transfer.Sender
                        }, rendering: renderJustAddressLink, headerStyle: {width: '30%'},
                    },
                    {
                        name: 'Amount', cell: function (row) {
                            return row.Transfer.Amount
                        }, rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: function (row) {
                            return {
                                currency: row.Transfer.Currency.Symbol,
                                smartContract: row.Transfer.Currency.SmartContract
                            }
                        }, rendering: renderTokenLink,
                    },
                    {
                        name: 'Latest Date', cell: function (row) {
                            return row.Block.Date
                        },
                    },
                    {
                        name: 'Transaction hash', cell: function (row) {
                            return row.Transaction.Hash
                        }, rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 5))).toISOString().slice(0, 10)
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>',[[LatestInboundTransfers, '#LatestInboundTransfers']], 'Latest-Inbound_2', variables);
        renderComponent('<%=@streaming_access_token %>',[[TopSendersInNativeCurrency, '#TopSendersInNativeCurrency']], 'Top-Senders-in-native-currency_1', variables);
        renderComponent('<%=@streaming_access_token %>',[[TopSendersInTokens, '#TopSendersInTokens']], 'Top-Senders-in-tokens', variables);
        renderComponent('<%=@streaming_access_token %>',[[InboundTransfersInNativeCurrency, '#InboundTransfersInNativeCurrency']], 'Inbound-transfers-in-native-currency_1', variables);
        renderComponent('<%=@streaming_access_token %>',[[InboundTransfersInTokens, '#InboundTransfersInTokens']], 'Inbound-transfers-in-tokens', variables);
    })

</script>
