<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='LatestInboundTransfers'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='InboundTransfersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='InboundTransfersInTokens'></div>
  </div>
</div>
<div class='row mb-4'>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopSendersInNativeCurrency'></div>
  </div>
  <div class='col-12 col-xl-6'>
    <div class='card' id='TopSendersInTokens'></div>
  </div>
</div>
<script>
    class LatestInboundTransfers extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => {
                    const tokenName = response.EVM.token_info[0]?.Transfer.Currency.Name || ''
                    const tokenSymbol = response.EVM.token_info[0]?.Transfer.Currency.Symbol || ''
                    return `Latest ${tokenName} (${tokenSymbol}) Inbound Transfers`
                },
                id: 'LatestInboundTransfers',
                columns: [
                    {
                        name: 'Timestamp', cell: row => row.Block.Time,
                        rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: row => row.Block.Number,
                        rendering: renderBlockLink, headerStyle: {width: '110px'},
                    },
                    {
                        name: 'Sender', cell: row => row.Transfer.Sender,
                        rendering: renderJustAddressLink, headerStyle: {width: '25%'},
                    },
                    {
                        name: 'Amount', cell: row => row.sum,
                        rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Transaction hash', cell: row => row.Transaction?.Hash,
                        rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    class InboundTransfersInNativeCurrency extends ComboChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => {
                    const tokenName = response.EVM.token_info[0]?.Transfer.Currency.Name || ''
                    const tokenSymbol = response.EVM.token_info[0]?.Transfer.Currency.Symbol || ''
                    return `${WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) ? WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) : 'native'} received by ${tokenName} (${tokenSymbol}) Contract`
                },
                id: 'InboundTransfersInNativeCurrency',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Volume', cell: row => +row.sum,
                    },
                    {
                        name: 'Count', cell: row => +row.count
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    vAxis: {
                        scaleType: 'log',
                        viewWindow: {
                            // max: 10000,
                            min: 0.00001
                        },
                    },
                    tooltip: {
                        ignoreBounds: true
                    },
                    legend: {position: 'top'}
                }
            }
        }
    }

    class InboundTransfersInTokens extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => {
                    const tokenName = response.EVM.token_info[0]?.Transfer.Currency.Name || ''
                    const tokenSymbol = response.EVM.token_info[0]?.Transfer.Currency.Symbol || ''
                    return `${WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) ? WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) : 'native'} received by ${tokenName} (${tokenSymbol}) Contract`
                },
                id:'InboundTransfersInTokens',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Receive count', cell: row => +row.count,
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    vAxis: {
                        scaleType: 'log',
                        viewWindow: {
                            // max: 10000,
                            min: 0.00001
                        },
                    },
                    tooltip: {
                        ignoreBounds: true
                    },
                    legend: {position: 'top'}
                }
            }
        }
    }

    class TopSendersInNativeCurrency extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                title: response => `Top Senders in ${WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) ? WidgetConfig.getCurrency(response.EVM.Transfers[0]?.ChainId) : 'native'} currency`,
                id: 'TopSendersInNativeCurrency',
                columns: [
                    {
                        name: 'Sender', cell: row => row.Transfer.Sender,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Amount', cell: row => row.Transfer.Amount,
                        rendering: renderNumbersWithCurrency, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Latest Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Transaction hash', cell: row => row.Transaction.Hash,
                        rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    class TopSendersInTokens extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transfers,
                chainId: response => response.EVM.Transfers[0]?.ChainId,
                columns: [
                    {
                        name: 'Sender', cell: row => row.Transfer.Sender,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Amount', cell: row => row.Transfer.Amount,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Currency', cell: row => ({
                            currency: row.Transfer.Currency.Symbol,
                            smartContract: row.Transfer.Currency.SmartContract
                        }),
                        rendering: renderTokenLink, headerStyle: {width: '79px'},
                    },
                    {
                        name: 'Latest Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Transaction hash', cell: row => row.Transaction.Hash,
                        rendering: renderTX, headerStyle: {width: '136px'},
                    },
                ]
            }
        }
    }

    const variables = {
                network: '<%= @streaming%>',
                address: '<%= @address %>',
        till: new Date().toISOString().slice(0, 10),
        from: (new Date((new Date()).setDate((new Date()).getDate() - 3))).toISOString().slice(0, 10)
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[LatestInboundTransfers, '#LatestInboundTransfers']], 'Latest-Inbound_3', variables);
        renderComponent('<%=@streaming_access_token %>', [[InboundTransfersInNativeCurrency, '#InboundTransfersInNativeCurrency']], 'Inbound-transfers-in-native-currency_5', variables);
        renderComponent('<%=@streaming_access_token %>', [[InboundTransfersInTokens, '#InboundTransfersInTokens']], 'Inbound-transfers-in-tokens_3', variables);
        renderComponent('<%=@streaming_access_token %>', [[TopSendersInNativeCurrency, '#TopSendersInNativeCurrency']], 'Top-Senders-in-native-currency_3', variables);
        renderComponent('<%=@streaming_access_token %>', [[TopSendersInTokens, '#TopSendersInTokens']], 'Top-Senders-in-tokens_2', variables);
    })

</script>
