<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='Transactions'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='TransactionsByDate'></div>
  </div>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='GasSpentByDate'></div>
  </div>
</div>
<script type="module">
    class Transactions extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transactions,
                chainId: response => response.EVM.Transactions[0]?.ChainId,
                columns: [
                    {
                        name: 'Timestamp', cell: row => row.Block.Time,
                        rendering: renderDate,
                    },
                    {
                        name: 'Block', cell: row => row.Block.Number,
                        rendering: renderBlockLink,
                    },
                    {
                        name: 'Receiver', cell: row => row.Transaction.To,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Transaction hash', cell: row => row.Transaction.Hash,
                        rendering: renderTX,
                    },
                    {
                        name: 'Gas Cost', cell: row => row.gas_cost,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Success?', cell: row => row.TransactionStatus.Success,
                        headerStyle: {width: '110px'},
                    },
                ]
            }
        }
    }

    class TransactionsByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transactions,
                chainId: response => response.EVM.Transactions[0]?.ChainId,
                title:()=>'Transactions count by date',
                id:'TransactionsByDate',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                    },
                    {
                        name: 'Transactions count', cell: row => +row.count
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['28A745'],
                }
            }
        }
    }

    class GasSpentByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.Transactions,
                chainId: response => response.EVM.Transactions[0]?.ChainId,
                title:()=>'Gas Spent By Date',
                id:'GasSpentByDate',
                columns: [
                    {
                        name: 'Date', cell: row => row.Block.Date,
                        rendering: renderBlockLink,
                    },
                    {
                        name: 'Gas cost', cell: row => +row.sum
                    }
                ],
                options: {
                    height: 300,
                    theme: 'material',
                    colors: ['FFC106'],
                }
            }
        }
    }


    const variables = {
        network: '<%= @streaming%>',
        address: '<%= @address %>',
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[Transactions, '#Transactions']], 'Transactions_7', variables);
        renderComponent('<%=@streaming_access_token %>', [[GasSpentByDate, '#GasSpentByDate'],[TransactionsByDate, '#TransactionsByDate']], 'Transactions-By-Date_7', variables);
    })

</script>
