<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_type') %></div>
    <div class="card-body">
      <div id="transfers_by_type"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script>

  $( document ).ready(function() {

    const graphql_query = `
      query ($from: ISO8601DateTime, $till: ISO8601DateTime) {
        solana {
          transfers(options: {desc: "count"}, date: {since: $from, till: $till}) {
            transactionType: transferType
            count
          }
        }
      }
    `.trim();

    const query = new widgets.query(graphql_query);

    new widgets.chart('#transfers_by_type', query, 'solana.transfers', {
        title: '<%= t('widgets.headers.transfers_by_type') %>',
        chartType: 'PieChart',
        chartOptions: {
            pieSliceText: 'label',
            pieHole: 0.4,
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.transfers_type') %>',
                path: 'transactionType'
            },
            {
                title: '<%= t('widgets.titles.transactions_count') %>',
                path: 'count'
            },

        ]
    });

    queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>);
  });
</script>

