<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('tabs.address.graph.name') %></div>
      <div class="card-body" style="padding: 0">
        <div id="graph"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header">Money flow</div>
      <div class="card-body" style="padding: 0">
        <div id="sankey-graph" ></div>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function() {
        const query = new graphs.query(`
query ($address: String!, $limit: Int!, $currency: String!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
  binance {
    inbound: coinpath(receiver: {is: $address}, currency:{is: $currency}, options: {desc: "amount", limit: $limit}, date:{since: $from, till: $till}) {
      sender {
        address
        annotation
      }
      receiver {
        address
        annotation
      }
      amount
    }
    outbound: coinpath(sender: {is: $address}, currency:{is: $currency}, options: {desc: "amount", limit: $limit}, date:{since: $from, till: $till}) {
      sender {
        address
        annotation
      }
      receiver {
        address
        annotation
      }
      amount
    }
  }
}
`)

        new graphs.address_graph('#graph', query, {
            title: '<%= t('tabs.address.graph.name') %>',
            theme: '<%= @theme %>',
            currencies: [<%= @currencies.collect{|cur|
            value = cur.address === '-' ? cur.symbol : cur.token_id
            "{token_id:\"#{cur.token_id}\",symbol:\"#{cur.symbol}\",name:\"#{cur.name}\",label:\"#{cur.symbol}\",search:\"#{value}\"}"
            }.join(',').html_safe %>],
        })

        new graphs.address_sankey('#sankey-graph', query, {
            theme: '<%= @theme %>',
            currencies: [<%= @currencies.collect{|cur|
            value = cur.address === '-' ? cur.symbol : cur.token_id
            "{token_id:\"#{cur.token_id}\",symbol:\"#{cur.symbol}\",name:\"#{cur.name}\",label:\"#{cur.symbol}\",search:\"#{value}\"}"
            }.join(',').html_safe %>],
            dependent: true
        })

        queryWithTimeRange(rr, query, <%= @from.html_safe %>, <%= @till.html_safe %>, {"limit": 10, "offset": 0, "network": "<%= params['network']['network'] %>", "address": "<%= @address %>", "currency": '<%= @currencies.first && @currencies.first.token_id %>'})
    })
</script>
</div>
