<%= render partial: 'shared/title', locals: {header: t('headers.address', network: params['network']['name'], address: copy_text(@address, 'text-info')).html_safe, reportrange: true} %>
<script>
    var query1 = new widgets.query(`
      query($currency: String!, $address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime){
      binance {
        transfers(date: {since: $from, till: $till},
                  transferType: [BLOCK_REWARD,BURN,CLAIM_HTL,DEPOSIT_HTL,HTL_TRANSFER,ISSUE,MINT,TRADE_BUY,TRADE_SELL,TRANSFER]){
            sum_in: amount(calculate: sum,
                        currency: {is: $currency},
                        receiver: {is: $address}
            )
            sum_out: amount(calculate: sum,
              currency: {is: $currency},
              sender: {is: $address}
            )
            count_in: count( uniq: transfers,
                receiver: {is: $address}
            )
            count_out: count( uniq: transfers,
                sender: {is: $address}
            )
            date{
              month: date(format: "%Y-%m")
            }
          }
      }
      }
    `);

    var query2 = new widgets.query(`
    query($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime){
      binance {
        trades(date: {since: $from, till: $till}){
          trades_as_buyer: count(buyer: {
            is: $address
          }, uniq:trades)
          trades_as_seller: count(seller: {
            is: $address
          }, uniq:trades)
          date{
              month: date(format: "%Y-%m")
          }
        }
      }
    }
    `);

    var query3 = new widgets.query(`
    query($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $limit: Int!, $offset: Int!){
      binance{
        transfers(date: {since: $from, till: $till}, options: {limit: $limit, offset: $offset},
                  transferType: [BLOCK_REWARD,BURN,CLAIM_HTL,DEPOSIT_HTL,HTL_TRANSFER,ISSUE,MINT,TRADE_BUY,TRADE_SELL,TRANSFER]
        ){
            sum_in: amount(calculate: sum,
              receiver: {is: $address}
            )
            sum_out: amount(calculate: sum,
              sender: {is: $address}
            )
            count_in: count( uniq: transfers,
              receiver: {is: $address}
            )
            count_out: count( uniq: transfers,
              sender: {is: $address}
            )
            currency {
              address
              symbol
            }
          }
      }
    }
    `);

    var query4 = new widgets.query(`
      query ($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $limit: Int!, $offset: Int!){
      binance {

        trades(date: {since: $from, till: $till}, options: {limit: $limit, offset: $offset}){

          trades_as_buyer: count(buyer: {
            is: $address
          }, uniq:trades)

          trades_as_seller: count(seller: {
            is: $address
          }, uniq:trades)

          buyQuoteAmount: quoteAmount(buyer: {
            is: $address
          })

          sellQuoteAmount: quoteAmount(seller: {
            is: $address
          })

          buyBaseAmount: baseAmount(buyer: {
            is: $address
          })

          sellBaseAmount:baseAmount(seller: {
            is: $address
          })

          baseCurrency{ symbol }
          quoteCurrency{ symbol }


        }
      }
    }
    `);
</script>
<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_by_time') %></div>
      <div class="card-body">
        <div id="transfers_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.trades_by_time') %></div>
      <div class="card-body">
        <div id="trades_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.currencies_sent_received') %></div>
      <div class="card-body">
        <div id="transfers_by_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.trades_by_currencies') %></div>
      <div class="card-body">
        <div id="trades_by_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    widgets.callbacks({
        token_path: function(item){
            return '<%= params[:locale] %>/<%= params['network']['path'] %>/address/'+item.currency.address;
        },
        transfer_to_path: function(item){
            return '<%= params[:locale] %>/<%= params['network']['path'] %>/txs/transfers_to/'+item.currency.address;
        },
        transfer_from_path: function(item){
            return '<%= params[:locale] %>/<%= params['network']['path'] %>/txs/transfers_from/'+item.currency.address;
        },
        //trades_count_path: function(item){
        //    return '<%#= params[:locale] %>/<%#= params['network']['path'] %>/trades/'+item;
       // }
    });

    var tt = new widgets.chart('#transfers_timegraph', query1, 'binance.transfers', {
        title: '<%= t('widgets.headers.transaction_by_time') %>',
        chartOptions: {
            isStacked: true,
            vAxes: {
                '0': {
                    title: '<%= t('widgets.titles.tx_count') %>',
                },
                '1': {
                    title: '<%= t('widgets.titles.volume', currency: params['network']['currency']) %>',
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.month') %>',
            },
            seriesType: 'bars',
            series: {
                '0': { color: 'orange' },
                '1': { color: 'lightgreen' },
                '2': { color: 'green', type: 'line', targetAxisIndex: 1, lineWidth: 3, pointsVisible: true, pointShape: 'diamond', pointSize: 12},
                '3': { color: 'red', type: 'line', targetAxisIndex: 1, lineWidth: 3, pointsVisible: true, pointShape: 'diamond', pointSize: 12}
            }
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.month'
            },
            {
                title: '<%= t('widgets.titles.receive_count') %>',
                path: 'count_in'
            },
            {
                title: '<%= t('widgets.titles.send_count') %>',
                path: 'count_out'
            },
            {
                title: '<%= t('widgets.titles.volume_in', currency: params['network']['currency']) %>',
                path: 'sum_in'
            },
            {
                title: '<%= t('widgets.titles.volume_out', currency: params['network']['currency']) %>',
                path: 'sum_out'
            },
        ]
    });

    var trt = new widgets.chart('#trades_timegraph', query2, 'binance.trades', {
        title: '<%= t('widgets.headers.trades_by_time') %>',
        chartOptions: {
            isStacked: true,
            vAxes: {
                '0': {
                    title: '<%= t('widgets.titles.trades') %>',
                },
                '1': {
                    title: '<%= t('widgets.titles.trades') %>',
                }
            },
            hAxis: {
                title: '<%= t('widgets.titles.month') %>',
            },
            seriesType: 'bars',
            series: {
                '0': { color: '#9bc2cf' },
                '1': { color: 'lightgreen' },
            }
        },
        dataOptions: [
            {
                title: '<%= t('widgets.titles.date') %>',
                path: 'date.month'
            },
            {
                title: '<%= t('widgets.titles.trades_as_buyer') %>',
                path: 'trades_as_buyer'
            },
            {
                title: '<%= t('widgets.titles.trades_as_seller') %>',
                path: 'trades_as_seller'
            },
        ]
    });

    var tbc = new widgets.table('#transfers_by_currencies', query3, 'binance.transfers', {
        title: '<%= t('widgets.headers.currencies_sent_received') %>',
        tableOptions: {
            title: [
                '<%= t('widgets.titles.currency') %>', '', '<%= t('widgets.titles.receive') %>', '<%= t('widgets.titles.txs') %>', '<%= t('widgets.titles.send') %>', '', '<%= t('widgets.titles.txs') %>'
            ],
            dataOptions: [
                {
                    type: 'string-ellipsis',
                    path: 'currency.symbol',
                    urlCallbackName: 'token_path'
                },
                {
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },
                {
                    type: 'amount',
                    path: 'sum_in'
                },
                {
                    type: 'count',
                    path: 'count_in',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'transfer_to_path'
                },
                {
                    type: 'amount',
                    path: 'sum_out'
                },
                {
                    type: 'string',
                    path: '',
                    data: '<i class="fa fa-sign-out text-warning"></i>',
                },
                {
                    type: 'count',
                    path: 'count_out',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'trades_count_path'
                },
            ]
        }
    });

    var tbc = new widgets.table_trades('#trades_by_currencies', query4, 'binance.trades', {
        title: '<%= t('widgets.headers.trades_by_currencies') %>',
        tableOptions: {
            title: [
                '<%= t('widgets.titles.pair') %>', '', '', '<%= t('widgets.titles.buy') %>', '', '<%= t('widgets.titles.sell') %>', '', '', '<%= t('widgets.titles.trade') %>'
            ],
            dataOptions: [
                {
                    type: 'string',
                },
                {
                    type: 'string',
                },
                {
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-success"></i>',
                    html_class: 'text-center'
                },
                {
                    type: 'amount'
                },
                {
                    type: 'string',
                },
                {
                    type: 'amount'
                },
                {
                    type: 'string',
                },
                {
                    type: 'string',
                    data: '<i class="fa fa-sign-in text-warning"></i>',
                    html_class: 'text-center'
                },
                {
                    type: 'count',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    // urlCallbackName: 'trades_count_path'
                }
            ]
        }
    });

    query1.request({currency: '<%= params['network']['currency'] %>', address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
    query2.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
    query3.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>, limit: 10});
    query4.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>, limit: 10});

    rr.change(function(start, end, clear){
        query1.request({from: start, till: end});
        query2.request({from: start, till: end});
        query3.request({from: start, till: end, limit: 10, offset: 0});
        query4.request({from: start, till: end, limit: 10, offset: 0});
    })
</script>