<% content_for :header, t('headers.address', network: params['network']['name'], address: @address).html_safe %>
<script>
    var query1 = new widgets.query(`
      query($currency: String!, $address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime){
      binance {
        transfers(from: $from, till: $till){
            sum_in: amount(calculate: sum,
                        currency: {symbol: $currency},
                        receiver: {address: $address}
            )
            sum_out: amount(calculate: sum,
              currency: {symbol: $currency},
              sender: {address: $address}
            )
            count_in: count( uniq: transfers,
                receiver: {address: $address}
            )
            count_out: count( uniq: transfers,
                sender: {address: $address}
            )
            date{
              month: date(format: "%Y-%m")
            }
          }
      }
      }
    `);

    var query2 = new widgets.query(`
    query($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime){
      binance {
        trades(from: $from, till: $till){
          trades_as_buyer: count(buyer: {
            address: $address
          }, uniq:trades)
          trades_as_seller: count(seller: {
            address: $address
          }, uniq:trades)
          date{
              month: date(format: "%Y-%m")
          }
        }
      }
    }
    `);

    var query3 = new widgets.query(`
    query($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $limit: Int!, $offset: Int!){
      binance{
        transfers(from: $from, till: $till, options: {limit: $limit, offset: $offset}){
            sum_in: amount(calculate: sum,
              receiver: {address: $address}
            )
            sum_out: amount(calculate: sum,
              sender: {address: $address}
            )
            count_in: count( uniq: transfers,
              receiver: {address: $address}
            )
            count_out: count( uniq: transfers,
              sender: {address: $address}
            )
            currency {
              address
              symbol
            }
          }
      }
    }
    `);

    var query4 = new widgets.query(`
      query ($address: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $limit: Int!, $offset: Int!){
      binance {

        trades(from: $from, till: $till, options: {limit: $limit, offset: $offset}){

          trades_as_buyer: count(buyer: {
            address: $address
          }, uniq:trades)

          trades_as_seller: count(seller: {
            address: $address
          }, uniq:trades)

          buyQuoteAmount: quoteAmount(buyer: {
            address: $address
          })

          sellQuoteAmount: quoteAmount(seller: {
            address: $address
          })

          buyBaseAmount: baseAmount(buyer: {
            address: $address
          })

          sellBaseAmount:baseAmount(seller: {
            address: $address
          })

          baseCurrency{ symbol }
          quoteCurrency{ symbol }


        }
      }
    }
    `);
</script>
<%= render partial: 'shared/reportrange' %>
<div class="row">
  <div class="col col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_by_time') %></div>
      <div class="card-body">
        <div id="transfers_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.trades_by_time') %></div>
      <div class="card-body">
        <div id="trades_timegraph"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.currencies_sent_received') %></div>
      <div class="card-body">
        <div id="transfers_by_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.trades_by_currencies') %></div>
      <div class="card-body">
        <div id="trades_by_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    widgets.callbacks({
        token_path: function(name, address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/address/'+address;
        },
        transfer_to_path: function(currency_id, address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/txs/transfers_to/'+address;
        },
        transfer_from_path: function(currency_id, address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/txs/transfers_from/'+address;
        },
        smart_contract_method_path: function(name, address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/functions/'+address;
        },
        smart_contract_path: function(name, address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/smartcontract/'+address;
        },
        call_count_path: function(address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/address/'+address;
        },
        trades_count_path: function(address, locale){
            return (locale == 'en' || '/'+locale) +'/<%= params['network']['path'] %>/trades/'+address;
        }
    });

    var tbt = new widgets.transfers_by_time('#transfers_timegraph', query1, 'binance.transfers');
    var trbt = new widgets.trades_by_time('#trades_timegraph', query2, 'binance.trades');
    var tbc = new widgets.transfers_by_currencies('#transfers_by_currencies', query3, 'binance.transfers');
    var trbc = new widgets.trades_by_currencies('#trades_by_currencies', query4, 'binance.trades');
    query1.request({currency: '<%= params['network']['currency'] %>', address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
    query2.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>});
    query3.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>, limit: 10});
    query4.request({address: '<%= @address %>', from: <%= @from.html_safe %>, till: <%= @till.html_safe %>, limit: 10});

    rr.change(function(start, end, clear){
        query1.request({from: start, till: end});
        query2.request({from: start, till: end});
        query3.request({from: start, till: end, limit: 10});
        query4.request({from: start, till: end, limit: 10});
    })
</script>