<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_gas_cost_by_time') %>, <%= @network[:currency] %></div>
      <div class="card-body">
        <div id="transaction_gas_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_gas_price_by_time') %></div>
      <div class="card-body">
        <div id="transaction_gas_price_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_gas_avg_cost_by_time') %></div>
      <div class="card-body">
        <div id="transaction_gas_avg_cost_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.transaction_gas_price_by_time_log') %></div>
      <div class="card-body">
        <div id="transaction_gas_price_by_time_log"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: EthereumNetwork!,
                  $dateFormat: String!,

                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    ethereum(network: $network ){
                      transactions(options:{asc: "date.date"}, date: {
                        since: $from
                        till: $till}

                      ) {
                        date: date{
                          date(format: $dateFormat)
                        }
                        gasPrice
                        gasValue
                        average: gasValue(calculate: average )
                        maxGasPrice: gasPrice(calculate: maximum)
                        medianGasPrice: gasPrice(calculate: median)
                      }
                    }
                  }`);

        new widgets.chartByTime('#transaction_gas_by_time', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.transaction_gas_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.gas_value') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.gas_value') %>,  <%= @network[:currency] %>',
                    path: 'gasValue'
                },

            ]
        });

        new widgets.chartByTime('#transaction_gas_avg_cost_by_time', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.transaction_gas_avg_cost_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.gas_value') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.avg_gas_value') %>,  <%= @network[:currency] %>',
                    path: 'average'
                },

            ]
        });

        new widgets.chartByTime('#transaction_gas_price_by_time', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.transaction_gas_price_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.gas_price') %>'
                    }
                },
                series: {
                    '0': { color: '#28a745' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.gas_price') %>',
                    path: 'gasPrice'
                },

            ]
        });

        new widgets.chartByTime('#transaction_gas_price_by_time_log', query, 'ethereum.transactions', {
            title: '<%= t('widgets.headers.transaction_gas_price_by_time_log') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.gas_price') %>',
                        scaleType: 'log'
                    }
                },
                series: {
                    '0': { color: '#28a745' },
                    '1': { color: '#ffc107' },
                    '2': { color: '#9bc2cf' }
                },
                seriesType: 'lines',
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.gas_price') %>',
                    path: 'gasPrice'
                },
                {
                    title: '<%= t('widgets.titles.max_gas_price') %>',
                    path: 'maxGasPrice'
                },
                {
                    title: '<%= t('widgets.titles.med_gas_price') %>',
                    path: 'medianGasPrice'
                },

            ]
        });


        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>