<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='EventInformation'></div>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-lg-12 mb-4'>
    <div class='card' id='EventStatistic'></div>
  </div>
</div>
<script type="module">
    class EventInformation extends BootstrapVerticalTableComponent {
        configuration() {
            return {
                topElement: response=> response.EVM.Events,
                chainId: response=> response.EVM.Events[0]?.ChainId,
                columns: [
                    {
                        name: 'Method Name', cell: row=> row.Log.Signature.Name
                    },
                    {
                        name: 'Method signature', cell: row=> row.Log.Signature.Signature
                    },
                    {
                        name: 'Signature Hash', cell: row=> row.Log.Signature.SignatureHash
                    },
                ]
            }
        }
    }

    class EventStatistic extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response=> response.EVM.Events,
                chainId: response=> response.EVM.Events[0]?.ChainId,
                title:()=>'Event Statistic by Date',
                id:'EventStatistic',
                columns: [
                    {
                        name: 'Date', cell: row=> row.Block.Date,
                        rendering: renderDate,
                    },
                    {
                        name: 'Uniq Transaction Sender', cell: row=> row.transaction_from,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Uniq Transaction Receiver', cell: row=> row.transaction_to,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                    {
                        name: 'Smart Contract Cout', cell: row=> row.smart_contract,
                        rendering: renderNumbers, headerStyle: {textAlign: 'end'},
                    },
                ]
            }
        }
    }

    const variables = {
        network: '<%= @streaming%>',
        method: '<%= @signature%>',
    }
    const fromDate = '<%= j @from %>';
    const tillDate = '<%= j @till %>';

    renderWithTime(variables, fromDate , tillDate, function f(variables) {
        renderComponent('<%=@streaming_access_token %>', [[EventStatistic, '#EventStatistic']], 'Event-statistic-by-date_2', variables);
    })
    renderComponent('<%=@streaming_access_token %>',[[EventInformation, '#EventInformation']], 'Event-Information_1', variables);
</script>
