<div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.inbound_native_table', currency: @network[:currency]) %></div>
      <div class="card-body">
        <div id="inbound_native_table"><%= t('loading') %></div>
      </div>
    </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`query ($network: AlgorandNetwork!,
                      $address: String!,
                      $limit: Int!,
                      $offset: Int!
                      $from: ISO8601DateTime,
                      $till: ISO8601DateTime){
                  algorand(network: $network){
                    transfers(options:{limit: $limit, offset: $offset, desc: "amount" asc: "currency.symbol"},
                      date: {since: $from till: $till },
                      receiver: {is: $address},
                      amount: {gt: 0},
                      currency: {is: 0 }) {

                      address: sender{
                        address
                        annotation
                      }


                      count
                      amount
                      amount_usd: amount(in: USD)

                      max_date: maximum(of: date)

                      currency {
                        tokenId
                        symbol
                      }

                    }
                  }
                }`);

        new widgets.table('#inbound_native_table', query, 'algorand.transfers', {
            title: '<%= t('widgets.headers.inbound_native_table', currency: @network[:currency]) %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.sender') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.amount') %>',
                    type: 'amount',
                    path: 'amount',
                    style: 'width: 100px'
                },
                {
                    title: '',
                    type: 'string',
                    data: '<%= @network[:currency] %>',
                    style: 'width: 130px',
                    renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {precision: 4} %>
                },
                {
                    title: '<%= t('widgets.titles.max_date') %>',
                    type: 'string',
                    path: 'max_date',
                    style: 'width: 110px'
                },
                {
                    title: '<%= t('widgets.titles.transfer_count') %>',
                    type: 'count',
                    path: 'count',
                    data: '%{DATA} <span class="fa fa-list"></span>',
                    urlCallbackName: 'transfer_to_path',
                    style: 'width: 130px'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>',
            address: '<%= @address %>'
        });


    });

</script>