

<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div id="conflux_address_balance"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">
    $( document ).ready(function() {

        var query = new widgets.query(`
            query($network: ConfluxNetwork!, $address: String!) {
              conflux(network: $network) {
                address(address: {is: $address}){
                  balance
                }
              }
            }`);

        query.request({ network: '<%= @network[:network] %>',
            address: '<%= @address %>'});

        new widgets.text('#conflux_address_balance', query, 'conflux.address', {
            dataOptions:
                {
                    type: 'string',
                    renderCallback: function(item){
                        return '<%= t 'pages.address.description.balance' %> ' +
                            '<strong class="text-success">'+item.balance + ' <%= @network[:currency] %>'+ '</strong>';

                    }
                }

        });
    });


</script>