
<%= render partial: "conflux/address/calls_table" %>

<div class="row">
  <%= render partial: 'conflux/address/calls_by_time' %>
  <%= render partial: 'conflux/address/top_gas_calls_table' %>
</div>

<div class="row">
  <%= render partial: "conflux/address/smart_contracts_table" %>
  <%= render partial: "conflux/address/smart_contract_methods_called_table" %>
</div>

