
<%= render partial: "conflux/address/calls/calls_table" %>

<div class="row">
  <%= render partial: 'conflux/address/calls/calls_by_time' %>
  <%= render partial: 'conflux/address/calls/top_gas_calls_table' %>
</div>

<div class="row">
  <%= render partial: "conflux/address/calls/smart_contracts_table" %>
  <%= render partial: "conflux/address/calls/smart_contract_methods_called_table" %>
</div>

