
<%= render partial: "conflux/address/inbound/inbound_transfers" %>

<div class="row">
  <%= render partial: "conflux/address/inbound/inbound_native_by_time" %>
  <%= render partial: "conflux/address/inbound/inbound_tokens_by_time" %>
</div>

<div class="row">
  <%= render partial: "conflux/address/inbound/inbound_native_table" %>
  <%= render partial: "conflux/address/inbound/inbound_tokens_table" %>
</div>