<div class='row'>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='DEXProtocolNFTTokenTradesByDate'></div>
  </div>
  <div class='col-12 col-xl-6 mb-4'>
    <div class='card' id='DEXSmartContracts'></div>
  </div>
</div>
<script type="module">
    class DEXProtocolNFTTokenTradesByDate extends TimeChartComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title:()=>'DEX Protocol NFT Token Trades By Date',
                id:'DEXProtocolNFTTokenTradesByDate',
                columns: [
                    {
                        name: 'Date', cell:row=> row.Block.Date,
                    },
                    {
                        name: 'Count', cell:row=> +row.count,
                    }
                ],
                options: {
                    title: 'Trades By Date',
                    height: 397,
                    theme: 'material',
                }
            }
        }
    }

    class DEXSmartContracts extends BootstrapTableComponent {
        configuration() {
            return {
                topElement: response => response.EVM.DEXTrades,
                chainId: response => response.EVM.DEXTrades[0]?.ChainId,
                title:()=>'DEX Smart Contracts',
                id:'DEXSmartContracts',
                columns: [
                    {
                        name: 'Smart Contract', cell:row=> row.Trade.Dex.SmartContract,
                        rendering: renderJustAddressLink,
                    },
                    {
                        name: 'Trades', cell:row=> row.trades,
                        headerStyle: {width: '100px'},
                    },
                    {
                        name: 'Uniq Buyers', cell:row=> row.buy_currency,
                        headerStyle: {width: '100px'},
                    },


                ]
            }
        }
    }
    const variables = {
        network: '<%= @streaming%>',
        protocol: '<%= @protocol %>',
    }
    renderWithTime(variables, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables) {
        renderComponent('<%=@streaming_access_token %>',[[DEXProtocolNFTTokenTradesByDate, "#DEXProtocolNFTTokenTradesByDate"]], 'DEX-Protocol-NFT-Token-Trades-By-Date_1', variables);
        renderComponent('<%=@streaming_access_token %>',[[DEXSmartContracts, '#DEXSmartContracts']], 'DEX-Smart-Contracts_3', variables);
    })
</script>
