<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.message_attributes') %></div>
    <div class="card-body">
      <div id="message_attributes"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const qraphql_query = `
      query ($network: HederaNetwork!, $hash: String!) {
        hedera(network: $network) {
          messages(transactionHash:{is: $hash}) {
            topicRunningHash
            topicSequenceNumber
            message
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#message_attributes', query, 'hedera.messages', {
      title: '<%= t('widgets.headers.message_attributes') %>',
        dataOptions: [
          {
            title: '<%= t('widgets.titles.running_hash') %>',
            style: 'max-width: 200px;',
            path: 'topicRunningHash'
          },
          {
            title: '<%= t('widgets.titles.sequence_number') %>',
            style: 'width: 80px',
            path: 'topicSequenceNumber',
          },
          {
            title: '<%= t('widgets.titles.message') %>',
            style: 'max-width: 200px;',
            path: 'message'
          },
        ]
    });

    query.request({
      hash: '<%= @hash %>',
      network: '<%= @network[:network] %>'
    });

  });
</script>
