<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.inputs') %></div>
    <div class="card-body">
      <div id="inputs"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const qraphql_query = `
      query ($network: HederaNetwork!, $hash: String!) {
        hedera(network: $network) {
          inputs(transactionHash: {is: $hash}) {
            account: transferEntity {
              id
            }
            amount
            amount_usd: amount(in: USD)
            currency {
              address
              name
              symbol
              tokenId
              tokenType
            }
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#inputs', query, 'hedera.inputs', {
      title: '<%= t('widgets.headers.inputs') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.account') %>',
          path: 'account.id',
          urlCallbackName: 'account_path',
          style: 'width: 100px;'
        },
        {
          title: '<%= t('widgets.titles.amount') %>',
          path: 'amount',
          style: 'width: 100px;'
        },
        {
            title: '<%= t('widgets.titles.symbol') %>',
            path: 'currency.symbol',
            style: 'width: 150px;',
            renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {precision: 4} %>
        }
      ]
    });

    query.request({
      hash: '<%= @hash %>',
      network: '<%= @network[:network] %>'
    });

  });
</script>
