<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers') %></div>
    <div class="card-body">
      <div id="transfers"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const qraphql_query = `
      query ($network: HederaNetwork!, $hash: String!) {
        hedera(network: $network) {
          output(options: {desc: "time.time"}, transactionHash: {is: $hash}) {
            time {
              time
            }
            transferEntity {
              id
            }
            amount
            currency {
              address
              name
              tokenId
              tokenType
            }
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#transfers', query, 'hedera.output', {
      title: '<%= t('widgets.headers.transfers') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.account') %>',
          path: 'transferEntity.id',
          style: 'width: 100px;'
        },
        {
          title: '<%= t('widgets.titles.amount') %>, <%= @network[:currency] %>',
          path: 'amount',
          style: 'width: 100px;'
        },
      ]
    });

    query.request({
      hash: '<%= @hash %>',
      network: '<%= @network[:network] %>'
    });

  });
</script>
