<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
    <div class="card-body">
      <div id="tx_attributes"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const qraphql_query = `
      query ($network: HederaNetwork!, $hash: String!) {
        hedera(network: $network) {
          transactions(transactionHash:{is: $hash}) {
            maxFee
            max_fee_usd: maxFee(in: USD)
            transactionFee
            transaction_fee_usd: transactionFee(in: USD)
            feeCurrency {
              name
            }
            payerAccount {
              id
            }
            nodeAccount {
              id
            }
            consensusTimestamp {
              nanoseconds
            }
            result {
              name
            }
            success
            transactionType
            memo
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#tx_attributes', query, 'hedera.transactions', {
      title: '<%= t('widgets.headers.tx_info') %>',
      renderData: function (data) {
        item = data[0];
        return !item ? [] : [
          { name: '<%= t('widgets.titles.payer') %>', value: item.payerAccount.id },
          { name: '<%= t('widgets.titles.node') %>', value: item.nodeAccount.id },
          { name: '<%= t('widgets.titles.consensus_timestamp') %>', value: item.consensusTimestamp.nanoseconds },
          { name: '<%= t('widgets.titles.success') %>', value: item.success },
          { name: '<%= t('widgets.titles.transaction_type') %>', value: item.transactionType },
          { name: '<%= t('widgets.titles.result') %>', value: item.result.name },
          { name: '<%= t('widgets.titles.memo') %>', value: item.memo },
          { name: '<%= t('widgets.titles.transaction_id') %>', value: `${item.payerAccount.id}-${item.consensusTimestamp.nanoseconds}` },
          { name: '<%= t('widgets.titles.transaction_max_fee') %>', value: item.maxFee + ' <%= @network[:currency] %>' + <%= render partial: 'ethereum/data_currency_with_amount_usd', formats: :text, locals: {amount: 'item.max_fee_usd', precision: 4} %>  },
          { name: '<%= t('widgets.titles.transaction_fee') %>', value: item.transactionFee + ' <%= @network[:currency] %>' + <%= render partial: 'ethereum/data_currency_with_amount_usd', formats: :text, locals: {amount: 'item.transaction_fee_usd', precision: 4} %>},
        ];
      },
      dataOptions: [
        {
          title: '<%= t('widgets.titles.attribute') %>',
          type: 'string',
          path: 'name',
          style: 'width: 150px',
          html_class: 'text-info font-weight-bold'
        },
        {
          title: '<%= t('widgets.titles.property_value') %>',
          type: 'string-ellipsis',
          path: 'value',
          escape: false,
          urlCallbackName: 'property_value_path'
        },
      ]
    });

    query.request({
      hash: '<%= @hash %>',
      network: '<%= @network[:network] %>'
    });

  });
</script>
