<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.latest_call_results') %></div>
      <div class="card-body">
        <div id="latest_call_results"><%= t('loading') %></div>
      </div>
    </div> </div>
</div>

<script>
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $tx_hash: String!) {
        everscale(network: $network) {
          events(
            options: {asc: "timestamp.time", limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            txHash: {is: $tx_hash}
          ) {
            timestamp {
              time
            }
            messages{
              hash
            }
            smartContractMethod {
              signature
            }
            smartContractAddress
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#latest_call_results', query, 'everscale.events', {
      title: '<%= t('widgets.headers.latest_call_results') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.timestamp') %>',
          type: 'string',
          path: 'timestamp.time',
          style: 'width: 170px;'
        },
        {
          title: '<%= t('widgets.titles.message_hash') %>',
          type: 'string-ellipsis',
          path: 'messages.hash',
          urlCallbackName: 'call_result_path'
        },
        {
          title: '<%= t('widgets.titles.signature') %>',
          type: 'string',
          path: 'smartContractMethod.signature'
        },
        {
          title: '<%= t('widgets.titles.smart_contract_addess') %>',
          type: 'string-ellipsis',
          path: 'smartContractAddress',
          urlCallbackName: 'sender_address_path'
        },
      ]
    });

    query.request({
      tx_hash: '<%= @tx_hash %>',
      network: '<%= params['network']['network'] %>'
    });
  });
</script>

