<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.phases') %></div>
      <div class="card-body">
        <div id="phases"><%= t('loading') %></div>
      </div>
    </div> </div>
</div>

<script type="module">
  $( document ).ready(function() {
    const qraphql_query = `
      query ($network: EverscaleNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $tx_hash: String!) {
        everscale(network: $network) {
          phases(
            options: {limit: $limit, offset: $offset}
            date: {since: $from, till: $till}
            txHash: {is: $tx_hash}
          ) {
            type
            data
            fee
            fee_usd: fee(in: USD)
          }
        }
      }
    `.trim();

    const query = new widgets.query(qraphql_query);

    new widgets.table('#phases', query, 'everscale.phases', {
      title: '<%= t('widgets.headers.phases') %>',
      dataOptions: [
        {
          title: '<%= t('widgets.titles.type') %>',
          type: 'string',
          path: 'type'
        },
        {
          title: '<%= t('widgets.titles.data') %>',
          type: 'string',
          path: 'data'
        },
        {
          title: '<%= t('widgets.titles.fee') %>',
          type: 'string',
          path: 'fee'
        },
        {
          style: 'width: 80px;',
          renderCallback: <%= render partial: 'ethereum/currency_with_amount_usd', formats: :text, locals: {currency: '""', amount: 'item.fee_usd'} %>
        },
      ]
    });

    query.request({
      tx_hash: '<%= @tx_hash %>',
      network: '<%= params['network']['network'] %>'
    });
  });
</script>

