<div class="col-6 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.messages_by_type') %></div>
    <div class="card-body">
      <div id="messages_by_method"><%= t('loading') %></div>
    </div>
  </div>
</div>



<script>

    $(document).ready(function () {

        var query = new widgets.query(`
                        query ($network: CosmosNetwork!,
                                $from: ISO8601DateTime,
                                $till: ISO8601DateTime){
                    cosmos(network: $network){

                         by_method: messages( options: {desc: "count"} date: {since: $from till: $till }) {
                              count
                              type
                         }
                    }
                  }`);


        new widgets.chart('#messages_by_method', query, 'cosmos.by_method', {
            title: '<%= t('widgets.headers.messages_by_method') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
                legend: {position: 'right'},
                chartArea: {left: '0', right: '15%', top: 0, bottom: 0}
            },

            dataOptions: [
                {
                    title: '<%= t('widgets.titles.name') %>',
                    path: 'type'
                },
                {
                    title: '<%= t('widgets.titles.count') %>',
                    path: 'count'
                },

            ]
        });


        var network = '<%= params['network']['network'] %>';

        if (network === 'terra') {
            queryWithTimeRange(rr, query, '2022-12-06', '2022-12-06', {
                network: network
            });
        } else {
            queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>, {
                network: network
            });
        }
    });

</script>