<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
    <div class="card-body">
      <div id="tx_info"><%= t('loading') %></div>
    </div>
  </div>
</div>
</div>
<script>

    $( document ).ready(function() {


       var query = new widgets.query(`
                        query ($network: StellarNetwork!,
                              $hash: String!){
                          stellar(network: $network){
                            transactions(hash: {is: $hash}
                          ){
                          block
                          hash
                          index
                          timestamp {
                            time
                          }
                          fee
                          maxFee
                          memoType
                          memos
                          sender {
                            address
                            annotation
                          }
                          feeAccount {
                            address
                            annotation
                          }
                          success
                          operationCount
                          timeBounds
                           }
                          }
                        }`);


        new widgets.table('#tx_info', query, 'stellar.transactions', {
            title: '<%= t('widgets.headers.tx_info') %>',
            renderData: function (data) {
                item = data[0];
                return !item ? [] : [
                    {name: '<%= t('widgets.titles.block') %>', value: item.block, block: item.block},
                    {name: '<%= t('widgets.titles.timestamp') %>', value: item.timestamp.time},
                    {name: '<%= t('widgets.titles.transaction_sender') %>', value: (item.sender.annotation || item.sender.address), address: item.sender},
                    {name: '<%= t('widgets.titles.fee_account') %>', value: (item.feeAccount.annotation || item.feeAccount.address), address: item.feeAccount},
                    {name: '<%= t('widgets.titles.index') %>', value: item.index},
                    {name: '<%= t('widgets.titles.fee') %>', value: item.fee },
                    {name: '<%= t('widgets.titles.max_fee') %>', value: item.maxFee },
                    {name: '<%= t('widgets.titles.memo_type') %>', value: item.memoType },
                    {name: '<%= t('widgets.titles.memos') %>', value: item.memos },
                    {name: '<%= t('widgets.titles.time_bounds') %>', value: item.timeBounds },
                    {name: '<%= t('widgets.titles.operation_count') %>', value: item.operationCount },
                    {name: '<%= t('widgets.titles.success') %>', value: item.success },

                ];
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 110px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({
            network: '<%= @network[:network] %>',
            hash: '<%= @hash %>'
        });

    });
</script>
