<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.mined_blocks') %></div>
      <div class="card-body">
        <div id="mined_blocks"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.average_mined_by_block') %></div>
      <div class="card-body">
        <div id="average_mined_by_block"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: BitcoinNetwork!,
              $dateFormat: String!,

              $from: ISO8601DateTime,
              $till: ISO8601DateTime){
                bitcoin(network: $network ){
                  transactions(options:{asc: "date.date"}, date: {
                    since: $from
                    till: $till}


                  ) {
                    date: date{
                      date(format: $dateFormat)
                    }

                    count: countBigInt(uniq: blocks)

                    minedValue

                  }
                }
              }`);

        new widgets.chartByTime('#mined_blocks', query, 'bitcoin.transactions', {
            title: '<%= t('widgets.headers.mined_blocks') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.block_count') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: {label: '<%= t('widgets.titles.block_count') %>', type: 'number' },
                    path: 'count: countBigInt'
                },

            ]
        });

        new widgets.chartByTime('#average_mined_by_block', query, 'bitcoin.transactions', {
            title: '<%= t('widgets.headers.average_mined_by_block') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.mined_value') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.mined_value') %>',
                    renderCallback: function(item){
                        return item.minedValue / item.count: countBigInt;
                    }
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
