<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.miners_by_time') %></div>
      <div class="card-body">
        <div id="miners_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.mined_value_by_time') %></div>
      <div class="card-body">
        <div id="mined_value_by_time"><%= t('loading') %></div>
      </div>
    </div>
  </div>

</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query ($network: BitcoinNetwork!,
              $dateFormat: String!,

              $from: ISO8601DateTime,
              $till: ISO8601DateTime){
                bitcoin(network: $network ){
                  outputs(options:{asc: "date.date"}, date: {
                    since: $from
                    till: $till}

                    txIndex: {is: 0}
                    outputDirection: {is: mining}
                    outputScriptType: {notIn: [nulldata, nonstandard]}

                  ) {
                    date: date{
                      date(format: $dateFormat)
                    }

                    count: countBigInt(uniq: addresses)

                    value

                  }
                }
              }`);

        new widgets.chartByTime('#miners_by_time', query, 'bitcoin.outputs', {
            title: '<%= t('widgets.headers.miners_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.unique_miners') %>'
                    }
                },
                seriesType: 'bars',
                series: {
                    '0': { color: '#28a745' }
                },
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.unique_miners') %>',
                    title: {label: '<%= t('widgets.titles.unique_miners') %>', type: 'number' },
                    path: 'count'
                },

            ]
        });

        new widgets.chartByTime('#mined_value_by_time', query, 'bitcoin.outputs', {
            title: '<%= t('widgets.headers.mined_value_by_time') %>',
            chartOptions: {
                vAxes: {
                    '0': {
                        title: '<%= t('widgets.titles.mined_value') %>'
                    }
                },
                series: {
                    '0': { color: '#ffc107' }
                },
                seriesType: 'bars'
            },
            dataOptions: [
                {
                    title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
                    path: 'date.date'
                },
                {
                    title: '<%= t('widgets.titles.mined_value') %>',
                    path: 'value'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
            network: '<%= params['network']['network'] %>'
        });


    });
</script>
