<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.event_references_table') %></div>
      <div class="card-body">
        <div id="event_references_table"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query ($network: EthereumNetwork!,
                                $hash: String!,
                                $limit:Int,
                                $offset:Int){
                            ethereum(network: $network){
                              arguments(options:{limit: $limit, offset: $offset, asc: "callDepth"}
                                txHash: {is: $hash },
                              signatureType: Event) {
                                address: reference {
                                  address
                                  annotation
                                }

                                argument {
                                  name
                                }

                                callDepth
                                smartContract{
                                  address {
                                    address
                                    annotation
                                  }
                                }
                                smartContractSignature {
                                  __typename
                                  ... on Event {
                                    name
                                  }
                                }
                              }


                            }
                          }`);

        new widgets.table('#event_references_table', query, 'ethereum.arguments', {
            title: '<%= t('widgets.headers.event_references_table') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.address') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.argument') %>',
                    type: 'string-ellipsis',
                    path: 'argument.name'
                },
                {
                    title: '<%= t('widgets.titles.event') %>',
                    type: 'string-ellipsis',
                    path: 'smartContractSignature.name'
                },
                {
                    title: '<%= t('widgets.titles.smart_contract') %>',
                    type: 'string-ellipsis',
                    path: ['smartContract.address.annotation', 'smartContract.address.address'],
                    urlCallbackName: 'smart_contract_path'
                },
            ]
        });

        query.request({
            network: '<%= params['network']['network'] %>',
            hash: '<%= @hash %>'
        });


    });

</script>