<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.references_table') %></div>
      <div class="card-body">
        <div id="references_table"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

        var query = new widgets.query(`query ($network: <%= @network[:network_type] || 'EthereumNetwork!' %>,
                                $hash: String!,
                                $limit:Int,
                                $offset:Int){
                            <%= @network[:protocol] || 'ethereum' %>(network: $network){
                              arguments(options:{limit: $limit, offset: $offset, asc: "callDepth"}
                                txHash: {is: $hash }) {
                                address: reference {
                                  address
                                  annotation
                                }

                                argument {
                                  name
                                }

                                callDepth
                                smartContract{
                                  address {
                                    address
                                    annotation
                                  }
                                }
                                smartContractSignature {
                                  __typename
                                  ... on Event {
                                    name
                                  }
                                  ... on Method {
                                    name
                                }
                              }


                            }
                          }
                          }`);

        new widgets.table('#references_table', query, '<%= @network[:protocol] || 'ethereum' %>.arguments', {
            title: '<%= t('widgets.headers.references_table') %>',
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.address') %>',
                    type: 'string-ellipsis',
                    path: ['address.annotation','address.address'],
                    urlCallbackName: 'address_path'
                },
                {
                    title: '<%= t('widgets.titles.argument') %>',
                    type: 'string-ellipsis',
                    style: 'width: 150px;',
                    path: 'argument.name'
                },
                {
                    title: '<%= t('widgets.titles.event_or_method') %>',
                    type: 'string',
                    style: 'width: 80px;',
                    path: 'smartContractSignature.__typename'
                },
                {
                    title: '<%= t('widgets.titles.name') %>',
                    type: 'string-ellipsis',
                    style: 'width: 130px;',
                    path: 'smartContractSignature.name'
                },
                {
                    title: '<%= t('widgets.titles.smart_contract') %>',
                    type: 'string-ellipsis',
                    path: ['smartContract.address.annotation', 'smartContract.address.address'],
                    urlCallbackName: 'smart_contract_path'
                },
            ]
        });

        query.request({
            network: '<%= params['network']['network'] %>',
            hash: '<%= @hash %>'
        });


    });

</script>