
<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.message_attributes') %></div>
    <div class="card-body">
      <div id="topic_attributes"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function() {

        const graphql_query =
            `
      query ($network: FilecoinNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        filecoin(network: $network) {
          messages(options: {limit: $limit, offset: $offset}, date: {since: $from, till: $till}) {
            block{
              height
            }
            hash
          }
        }
      }
    `.trim();

        const query = new widgets.query(graphql_query);

        new widgets.table('#topic_attributes', query, 'filecoin.messages', {
            title: '<%= t('widgets.headers.message_attributes') %>',
            // renderData: function (data) {
            //     item = data[0];
            //     return !item ? [] : [
                 //   { name: '<%= t('widgets.titles.creator') %>', value: item.creator.id },
                // ];
            // },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.attribute') %>',
                    type: 'string',
                    path: 'name',
                    style: 'width: 150px',
                    html_class: 'text-info font-weight-bold'
                },
                {
                    title: '<%= t('widgets.titles.property_value') %>',
                    type: 'string-ellipsis',
                    path: 'value',
                    urlCallbackName: 'property_value_path'
                },
            ]
        });

        query.request({
            network: '<%= @network[:network] %>'
        });

    });
</script>
