<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.token_currencies') %></div>
    <div class="card-body">
      <div id="token_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script type="module">

    $( document ).ready(function() {


        var query = new widgets.query(`query (
        $token: String!,
        $limit: Int!,
        $offset: Int!
        $from: ISO8601DateTime,
        $till: ISO8601DateTime){
    binance {
      orders(

      any: [{baseCurrency: {is: $token}},{quoteCurrency: {is: $token}}]
      date: {since: $from till: $till}
        options: {desc: "count"  asc: "quoteCurrency.symbol" limit: $limit, offset: $offset}
      ){

        baseCurrency {
          symbol
          tokenId
        }
        quoteCurrency {
          symbol
          tokenId
        }

        count(uniq: orders)


      }
    }
  }`);

        new widgets.table('#token_currencies', query, 'binance.orders', {
            title: '<%= t('widgets.headers.token_currencies') %>',
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.base_currency') %>',
                    type: 'string',
                    path: 'baseCurrency.symbol',
                    urlCallbackName: 'base_token_path'
                },

                {
                    title: '<%= t('widgets.titles.quote_currency') %>',
                    type: 'string',
                    path: 'quoteCurrency.symbol',
                    urlCallbackName: 'quote_token_path'
                },
                {
                    title: '<%= t('widgets.titles.unique_orders') %>',
                    path: 'count'
                },

            ]
        });

        const fromDate = '<%= j @from %>';
        const tillDate = '<%= j @till %>';

        queryWithTimeRange(rr, query, fromDate, tillDate,{
            token: '<%= @token %>'
        });

    });

</script>