<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.created_accounts_by_date') %></div>
      <div class="card-body">
        <div id="created_accounts_by_date"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const graphql_query = `
      query ($network: HederaNetwork!, $dateFormat: String!, $from: ISO8601DateTime, $till: ISO8601DateTime) {
        hedera(network: $network) {
          transactions(date: {since: $from, till: $till}) {
            date: date {
              date(format: $dateFormat)
            }
            count
          }
        }
      }
    `.trim();

    const query = new widgets.query(graphql_query);

    new widgets.chartByTime('#created_accounts_by_date', query, 'hedera.transactions', {
      title: '<%= t('widgets.headers.created_accounts_by_date') %>',
      chartOptions: {
        vAxes: {
          '0': {
            title: '<%= t('widgets.titles.accounts') %>'
          }
        },
        seriesType: 'bars',
        series: {
          '0': { color: '#20b2aa' }
        },
      },
      dataOptions: [
        {
          title: { label: '<%= t('widgets.titles.date') %>', type: 'date' },
          path: 'date.date'
        },
        {
          title: '<%= t('widgets.titles.accounts') %>',
          path: 'count'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
        network: '<%= params['network']['network'] %>'
    });

  });
</script>
