<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.token_trades_currencies') %></div>
      <div class="card-body">
        <div id="token_trades_currencies"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {


        var query = new widgets.query(`query (
        $limit: Int!,
        $offset: Int!
        $from: ISO8601DateTime,
        $till: ISO8601DateTime){
    binance {
      trades(
      date: {since: $from till: $till}
        options: {desc: "count", limit: $limit, offset: $offset}
      ){

        baseCurrency {
          symbol
          tokenId
        }
        quoteCurrency {
          symbol
          tokenId
        }

        count

        baseAmount
        quoteAmount

      }
    }
  }`);

        new widgets.table('#token_trades_currencies', query, 'binance.trades', {
            title: '<%= t('widgets.headers.token_trades_currencies') %>',
            renderData: function(data){
                widgets.lodash.each(data, function(item){
                    item.price = item.baseAmount/item.quoteAmount;
                });
                return data;
            },
            dataOptions: [

                {
                    title: '<%= t('widgets.titles.trade_base_currency_amount') %>',
                    type: 'amount',
                    path: 'baseAmount'
                },
                {
                    title: '<%= t('widgets.titles.base_currency') %>',
                    type: 'string',
                    path: 'baseCurrency.symbol',
                    urlCallbackName: 'base_token_path'
                },
                {
                    title: '<%= t('widgets.titles.trade_quote_currency_amount') %>',
                    type: 'amount',
                    path: 'quoteAmount'
                },
                {
                    title: '<%= t('widgets.titles.quote_currency') %>',
                    type: 'string',
                    path: 'quoteCurrency.symbol',
                    urlCallbackName: 'quote_token_path'
                },
                {
                    title: '<%= t('widgets.titles.trades') %>',
                    path: 'count'
                },
                {
                    title: '<%= t('widgets.titles.average_price') %>',
                    type: 'amount',
                    path: 'price'
                },
            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
        });

    });

</script>