<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.transfers_by_currencies') %></div>
    <div class="card-body">
      <div id="transfers_by_currencies"><%= t('loading') %></div>
    </div>
  </div>
</div>


<script>

    $( document ).ready(function() {

        var query = new widgets.query(`
            query (
                  $from: ISO8601DateTime,
                  $till: ISO8601DateTime){
                    binance {
                      transfers(
                      options:{desc: "count", limit: 100},
                      date: {
                        since: $from
                        till: $till}
                        transferType:{notIn: [DEX_FEE,TX_FEE,BLOCK_REWARD,TRADE_BUY,TRADE_SELL]}
                      ) {
                          currency {
                            symbol
                          }
                          count
                      }
                    }
                  }`);

        new widgets.chart('#transfers_by_currencies', query, 'binance.transfers', {
            title: '<%= t('widgets.headers.transfers_by_currencies') %>',
            chartType: 'PieChart',
            chartOptions: {
                pieSliceText: 'label',
                pieHole: 0.4,
            },
            dataOptions: [
                {
                    title: '<%= t('widgets.titles.currency') %>',
                    path: 'currency.symbol'
                },
                {
                    title: '<%= t('widgets.titles.transfer_count') %>',
                    path: 'count'
                },

            ]
        });

        queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>);


    });
</script>