<div class="col-12 col-lg-6 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.in_out_transfers_by_time') %></div>

    <div class="card-body">
      <div id="in_out_transfers_by_time"><%= t('loading') %></div>
    </div>
  </div>
</div>

<script type="module">
  $( document ).ready(function() {

    const graphql_query =
    `
      query ($network: SolanaNetwork!, $dateFormat: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $address: String!) {
        solana(network: $network) {
          transfers(options: {asc: "date.date"}, date: {since: $from, till: $till}) {
            date {
              date(format: $dateFormat)
            }
            in_count: countBigInt(receiverAddress: {is: $address})
            out_count: countBigInt(senderAddress: {is: $address})
          }
        }
      }
    `.trim();

    const query = new widgets.query(graphql_query);

    new widgets.chartByTime('#in_out_transfers_by_time', query, 'solana.transfers', {
      title: '<%= t('widgets.headers.in_out_transfers_by_time') %>',
      chartOptions: {
          isStacked: true,
          vAxes: {
              '0': {
                  title: '<%= t('widgets.titles.transfer_count') %>',
                  format: 'decimal',
                  viewWindow: {
                      min: 'auto'
                  }
              }
          },
          series: {
              '0': { color: '#28a745' },
              '1': { color: '#ffc107' },
          }
      },
      dataOptions: [
        {
          title: {label: '<%= t('widgets.titles.date') %>', type: 'date' },
          path: 'date.date'
        },
        {
          title: {label: '<%= t('widgets.titles.inbound_count') %>', type: 'number' },
          path: 'in_count'
        },
        {
          title: {label: '<%= t('widgets.titles.outbound_count') %>', type: 'number' },
          path: 'out_count'
        },
      ]
    });

    queryWithTimeRange(rr, query, <%= @from.html_safe %>, <%= @till.html_safe %>, {
      network: '<%= params['network']['network'] %>',
      address: '<%= @address %>'
    });

  });
</script>

