<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card">
      <div class="card-header"><%= t('widgets.headers.outflow_transfers') %></div>
      <div class="card-body">
        <div id="outflow_transfers"><%= t('loading') %></div>
      </div>
    </div>
  </div>
</div>

<script type="module">

  $( document ).ready(function() {
    var query = new widgets.query(`
  query ($network: SolanaNetwork!, $limit: Int!, $offset: Int!, $from: ISO8601DateTime, $till: ISO8601DateTime, $sender: String) {
    solana(network: $network) {
      transfers(
        options: {limit: $limit, offset: $offset}
        senderAddress: {is: $sender}
        time: {since: $from, till: $till}
      ) {
        block {
          height
          timestamp {
            time
          }
        }
        transaction {
          signature
        }
        receiver {
          address
        }
        currency {
          symbol
          address
        }
        amount
        transferType
      }
    }
  }
    `);

    new widgets.table('#outflow_transfers', query, 'solana.transfers', {
        title: '<%= t('widgets.headers.outflow_transfers') %>',
        dataOptions: [
            {
                title: '<%= t('widgets.titles.timestamp') %>',
                type: 'string',
                path: 'block.timestamp.time',
                style: 'width: 170px;'
            },
            {
                title: '<%= t('widgets.titles.block') %>',
                type: 'string',
                path: 'block.height',
                urlCallbackName: 'block_height_path',
                style: 'width: 80px;'
            },
            {
                title: '<%= t('widgets.titles.receiver') %>',
                type: 'string-ellipsis',
                path: 'receiver.address',
                urlCallbackName: 'address_path',
            },
            {
                title: '<%= t('widgets.titles.amount') %>',
                type: 'amount',
                path: 'amount'
            },
            {
                title: '<%= t('widgets.titles.currency') %>',
                type: 'string',
                path: ['currency.symbol', 'currency.address'],
                urlCallbackName: 'token_path'
            },
            {
                title: '<%= t('widgets.titles.signature') %>',
                type: 'string-ellipsis',
                path: 'transaction.signature',
                urlCallbackName: 'tx_path'
            },
            {
                title: '<%= t('widgets.titles.transfer_type') %>',
                type: 'string-ellipsis',
                path: 'transferType'
            },
        ]
    });

    queryWithTimeRange(rr, query, <%= limited_date_range_limit(@from, @till).join(',').html_safe %>,{
        network: '<%= params['network']['network'] %>',
        sender: '<%= @address %>'
    });

  });

</script>

