<div class="row">
  <%= render 'stellar/address/partials/transactions_count' %>
  <%= render 'stellar/address/partials/transactions_success_count' %>
  <%= render 'stellar/address/partials/transactions_failed_count' %>
</div>

<%= render partial: 'stellar/address/partials/latest_transactions' %>

<%= render partial: 'stellar/address/partials/transactions_by_time' %>
