<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div  id="latestBlocks" class="card"></div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 mb-4">
      <div  id="Sub-latestBlocks" class="card"></div>
    </div>
    <script>
      class LatestBlocks extends BootstrapTableComponent {
          configuration() {
            return  {
              topElement: function (response){ return response.EVM.Blocks},
              chainId: function (response){ return response.EVM.Blocks[0].ChainId},
              columns: [
                {
                  name: 'Timestamp', cell: function(row){ return row.Block.Time}, rendering: renderDate,
                },
                {
                  name: 'Block', cell: function(row){ return row.Block.Number},
                },
                {
                  name: 'Miner', cell: function(row){ return row.Block.Coinbase}, rendering: renderAddressLink,
                },
                {
                  name: 'TX', cell: function(row){ return row.Block.Hash}, rendering: renderTX,
                },
                {
                  name: 'Transactions count', cell: function(row){ return row.Block.TxCount}, rendering: renderNumbers,
                },
              ]
            }
          }
      }
      class SubLatestBlocks extends BootstrapTableComponent {
          configuration() {
            return  {
              topElement: function (response){ return response.EVM.Blocks},
              chainId: function (response){ return response.EVM.Blocks[0].ChainId},
              columns: [
                {
                  name: 'Timestamp', cell: function(row){ return row.Block.Time}, rendering: renderDate,
                },
                {
                  name: 'Block', cell: function(row){ return row.Block.Number},
                },
                {
                  name: 'Miner', cell: function(row){ return row.Block.Coinbase}, rendering: renderAddressLink,
                },
                {
                  name: 'TX', cell: function(row){ return row.Block.Hash}, rendering: renderTX,
                },
                {
                  name: 'Transactions count', cell: function(row){ return row.Block.TxCount}, rendering: renderNumbers,
                },
              ]
            }
          }
      }

      const variables = {
        network:'<%= @streaming%>',
        offset: 0,
        address: '<%= @address %>',
        token: '<%= @address %>',
        id: '<%= @id %>',
      }

      renderWithTime(variables,<%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables){
          renderComponent(LatestBlocks, "#latestBlocks",'Latest-Blocks_1_1_1',variables)
      })
      renderComponent(SubLatestBlocks, "#Sub-latestBlocks",'Subscription-Latest-Blocks_1',variables,'Latest-Blocks_1_1_1')
    </script>
