<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <div class="card" id="Miners-Block-Count-By-Time"></div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card" id="MinersBlockCountByTime-Table" ></div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <div class="card" id="Miners-Block-Reward-By-Time"></div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card"id="MinersBlockRewardByTime-Table" ></div>
  </div>
</div>
<script>
  class MinersBlockCountByTime extends TimeChartComponent {
      configuration() {
          return  {
              topElement: function (response){ return response.EVM.MinerRewards },
              chainId: function (response){ return response.EVM.MinerRewards[0].ChainId},
              columns: [
                  { name: 'Date', cell: function(row) { return row.Block.Date } },
                  { name: function(row) { return row.Block.Coinbase }, cell: function(row) { return +row.count } } ,
              ],
              options: {
                  title:'Miners Block Count',
                  isStacked: true,
                  theme: 'material',
                  height: 405
              }
          }
      }
  }
      class MinersBlockCountByTimeTable extends BootstrapTableComponent {
      configuration() {
        return  {
          topElement: function (response){ return response.EVM.MinerRewards},
          chainId: function (response){ return response.EVM.MinerRewards[0].ChainId},
          columns: [
            {
              name: 'Date', cell: function(row){ return row.Block.Date},
            },
            {
              name: 'Miner', cell: function(row){ return row.Block.Coinbase}, rendering: renderJustAddressLink
            },
            {
              name: 'Count', cell: function(row){ return row.count},
            },
          ]
        }
      }
  }
  class MinersBlockRewardByTime extends TimeChartComponent {
    configuration() {
        return  {
            topElement: function (response){ return response.EVM.MinerRewards },
            chainId: function (response){ return response.EVM.MinerRewards[0].ChainId},
            columns: [
                { name: 'Date', cell: function(row) { return row.Block.Date } },
                { name: function(row) { return row.Block.Coinbase }, cell: function(row) { return +row.sum } } ,
            ],
            options: {
                title:'Miners Block Reward',
                isStacked: true,
                theme: 'material',
                height: 405
            }
        }
    }
  }
  class MinersBlockRewardByTimeTable extends BootstrapTableComponent {
    configuration() {
        return  {
            topElement: function (response){ return response.EVM.MinerRewards},
            chainId: function (response){ return response.EVM.MinerRewards[0].ChainId},
            columns: [
                {
                    name: 'Date', cell: function(row){ return row.Block.Date},
                },
                {
                    name: 'Miner', cell: function(row){ return row.Block.Coinbase}, rendering: renderJustAddressLink
                },
                {
                    name: 'Reward', cell: function(row){ return row.sum},
                },
            ]
        }
    }
  }

  const variables = {
    network:'<%= @streaming%>',
    offset: 0,
    address: '<%= @address %>',
    token: '<%= @address %>',
    id: '<%= @id %>',
  }

  renderWithTime(variables,<%= limited_date_range_limit(@from, @till).join(',').html_safe %>, function f(variables){
    renderComponent(MinersBlockCountByTime, "#Miners-Block-Count-By-Time",'Miners-Block-Count-By-Time_1_1_1_1_1',variables);
    renderComponent(MinersBlockCountByTimeTable, "#MinersBlockCountByTime-Table",'Miners-Block-Count-By-Time_1_1',variables);
    renderComponent(MinersBlockRewardByTime, "#Miners-Block-Reward-By-Time",'Miners-Block-Count-By-Time_1_1_1_1_1',variables);
    renderComponent(MinersBlockRewardByTimeTable, "#MinersBlockRewardByTime-Table",'Miners-Block-Count-By-Time_1_1_1_1_1_1_1_1',variables);
  })
</script>
