<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body class="<%= "dark" if @theme == 'dark' %>">
<script>
    widgets.init('<%= BITQUERY_GRAPHQL %>', '', {locale: '<%= I18n.locale %>', theme: '<%= @theme %>'});
</script>
<%= render partial: 'shared/navbar' %>
<div class="container-fluid">
  <div class="row my-2 d-lg-none">
    <div class="col">
      <%= render partial: 'shared/search' %>
    </div>
  </div>
  <%= render(partial: "#{@network[:family]}/render_callbacks") if @network %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
</body>
</html>
