<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body class="<%= "dark" if @theme == 'dark' %>">
<script>
  widgets.init('<%= BITQUERY_GRAPHQL %>', '<%= ENV['EXPLORER_API_KEY'] %>', {locale: '<%= I18n.locale %>', theme: '<%= @theme %>'});
  graphs.init('<%= BITQUERY_GRAPHQL %>', '<%= ENV['EXPLORER_API_KEY'] %>');
</script>
<%#= render partial: 'shared/navbar', locals: { bitquery_feed_item: @bitquery_feed_item } %>
<div class="container-fluid">
  <div class="row my-2 d-lg-none">
    <div class="col">
      <%= render partial: 'shared/search' %>
    </div>
  </div>
  <%= render(partial: "#{@network[:family]}/render_callbacks") if @network %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
</body>
</html>
