<!DOCTYPE html>
<html>
<head>
  <title>Explorer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" media="all" href="http://localhost:63342/widgets/dist/assets/css/widgets.css">
  <script src="http://localhost:63342/widgets/dist/widgets.js"></script>
  <script>
      widgets.init('https://graphql.bitquery.io', 'apikey', {locale: '<%= I18n.locale %>', theme: '<%= @theme %>'});
  </script>
</head>

<body class="<%= @theme == 'dark' ? ' bg-dark text-light' : '' %>">
<%= render partial: 'shared/navbar' %>
<div class="container-fluid">
  <%= render partial: 'shared/search' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
</body>
</html>
