<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body class="<%= "dark" if @theme == 'dark' %>">
<script>
    widgets.init('https://graphql.bitquery.io', 'apikey', {locale: '<%= I18n.locale %>', theme: '<%= @theme %>'});
</script>
<%= render partial: 'shared/navbar' %>
<div class="container-fluid">
  <div class="row mb-4 d-lg-none">
    <div class="col">
      <%= render partial: 'shared/search' %>
    </div>
  </div>
  <%= yield %>
  <%= render partial: 'shared/checkout_please' %>
  <%= render partial: 'shared/footer' %>
  <%= render(partial: 'shared/fb_pixel') if ANALYTICS %>
</div>
</body>
</html>
