
<% content_for :title, @header %>

<div class="row search mb-2">
  <div class="col-12 col-lg">
    <!--    <%# if local_assigns[:header] %><h6 class="header-title word-wrap"><%#= header %></h6><%# end %>-->
    <h1 class="mt-2 word-wrap"><%= @header %></h1>
    <p>
      Use date range control to see data by different time period.
      Data is loaded on <%= Date.today %> 00:00 UTC.
      Click country from table below to see country-level.
      <br><strong style="color: red; ">Note that not all countries report recovered cases.</strong><br>

      <%= render partial: 'covid/dashboard/short_continents' %>

    </p>
  </div>

  <div class="col-12 col-lg-auto">
    <%= render partial: 'shared/reportrange' %>
  </div>

</div>

<div class="row">
  <%= render partial: 'covid/dashboard/total_text_query' %>
  <%= render partial: 'covid/dashboard/total_text', locals: {field: 'confirmed',
                                             name: 'Confirmed',
                                             card_class: 'border-warning',
                                             html_class: 'text-warning'
  } %>

  <%= render partial: 'covid/dashboard/total_text', locals: {field: 'recovered',
                                             name: 'Recovered',
                                             card_class: 'border-success',
                                             html_class: 'text-success'}
  %>

  <%= render partial: 'covid/dashboard/total_text', locals: {field: 'deaths',
                                             name: 'Deaths',
                                             card_class: 'border-danger',
                                             html_class: 'text-danger'
  } %>
</div>

<%= render partial: 'covid/dashboard/timegraph' %>
<%= render partial: 'covid/dashboard/timegraph_total' %>

<%= render partial: 'covid/dashboard/countrymap' %>
<%= render partial: 'covid/dashboard/countrytable' %>
<%= render partial: 'covid/dashboard/densitymap' %>

<div class="row">

  <%= render partial: 'covid/dashboard/countries_pie', locals: {field: 'confirmed',
                                                name: 'Top countries by Confirmed Cases'} %>

  <%= render partial: 'covid/dashboard/countries_pie', locals: {field: 'recovered',
                                                name: 'Top countries by Recovered Cases'} %>

  <%= render partial: 'covid/dashboard/countries_pie', locals: {field: 'deaths',
                                                name: 'Top countries by Death Cases'} %>

</div>


<%= render partial: 'covid/dashboard/country_bubble' %>

<%= render partial: 'covid/dashboard/days_bubble' %>

<%= render partial: 'covid/dashboard/sources' %>
